ScreenLength:  24       ; 20 -  30     default  24
BorderColor:   10       ;  0 -  15     default  10
Compression:   On       ; ON or OFF    Dataflow lower -> more CPU time.
Delays:        Off      ; ON or OFF    2400 baud beter playable ????
Joystick:      On      ; ON or OFF    Disable Use of Joystick localy

                        ; Speed of the game 8 is normal, 25 is slowwwww.
Speed:          20       ;  8 -  25   was 14

Field:          1       ; defs for the small field 
FieldLength:   15       ; 10 -  29     default  15
FieldWidth:     8       ;  4 -  15     default   6

Field:          2       ; defs for the normal field 
FieldLength:   21       ; 10 -  29     default  21
FieldWidth:    10       ;  4 -  15     default  10

Field:          3       ; defs for the big field 
FieldLength:   29       ; 10 -  29     default  29
FieldWidth:    15       ;  4 -  15     default  15

