;
; Well, just add areas below, you may have just a singel area...
; all areas ju put below must be found in the SIGS prefs program...
;
; If all the the "MainSIGS" must include all "SubSIGS"'s fileareas...
; Maybe you don't want SubSIGS, just skip them!! :)
;

;MainSIGS   SubSIGS
;#1
Local       Loc_txt
Local       Loc_mus
Local       Loc_w&c
Local       Loc_gra
Local       Loc_pics
Local       Loc_game
Local       Loc_dev
Local       Loc_comm
Local       Loc_bbs
Local       Loc_priv
;#2
AmiNet      Ami_biz
AmiNet      Ami_comm
AmiNet      Ami_demo
AmiNet      Ami_dev
AmiNet      Ami_disk
AmiNet      Ami_docs
AmiNet      Ami_game
AmiNet      Ami_gfx
AmiNet      Ami_hard
AmiNet      Ami_misc
AmiNet      Ami_mus
AmiNet      Ami_text
AmiNet      Ami_util
