;
;   This is the EdTalk configuration file.
;
;   It should be called DlgConfig:Misc/EdTalk.config
;
AvailChar     = A   ; Menu option to change Availability
OptionChar    = O   ; Menu option to change Screen preference
QuitChar      = M   ; Menu option used to exit from EdTalk
MinUserLevel  = 1   ; No users below this level are allowed to chat
MinAliasLevel = 255 ; Only users >= this level can use aliases
StayInEdTalk  = 1   ; If true, new users return to EdTalk menu after chatting
;
;   With the Ports command, the first parameter is the minimum user level
;   that can use this line, and the remaining parameters are the ports to
;   list on the chat menu. For example, if you are the Sysop and you don't
;   want to appear to normal users (level 10) but you DO want to appear to
;   co-sysops (level 200), then you might use lines like this:
;
;           Ports  = 10,  TR0, TR1, TR2, TR3
;           Ports  = 200, TR0, TR1, TR2, TR3, TL0, TL1, CLI
;
Ports        = 0,   TR0,TR1,TR2             ; Normal users don't see Sysop
