;                 Zwall Config file
;                 -----------------
; All Entries are either YES, or NO, or a number.
;
; If Zwall can't find this config file when it is called, it
; will use its own internal Defaults.

; Sysop access level - Set to Sysop Access level - 1

SYSACCESS 254

; Cosysop Access level - Set to Cosysop level - 1

COSYSACCESS 99

; Can CoSysops reset the wall

RESETWALL    NO

; Can CoSysops delete Individual entries

DELETE       YES

; Can users save their own prefs settings

PREFS        YES

; Should Zwall log every user? It won't log the user unless they
; actually perform an action such as Spray, Delete, Reset etc..
; Reading or skipping past Zwall is not logged because you'd have
; a huge file if you were running this program from Logon as it's
; designed for. Errors are logged Automatically.

LOGUSERS     YES

; Load Zwall.txt as backdrop or use internal ansi. The internal Ansi is a
; clone of the supplied file so this way you can modify the file to your
; liking if required and force Zwall to use your own :-) Never said I was
; good at Ansi did I.

TEXTFILE     YES

; If you want to keep a backup of the messages that a Cosysop or anyone
; else with access deletes then set this to YES and it will write it in
; the log when it is Deleted.

KEEPDELETE   YES

; Do you want the users to be able to skip the wall as they do with other
; intro screens on the BBS by hammering the return key to get to the file
; Areas :-(

RETURNSKIP   YES

; Do you want the System to auto salvage the wall if it finds
; data files are missing or messages.. If set to NO then you
; will be prompted for Salvage (Yes/No) , and normal users will
; just get a Zwall corrupt data message, and Log file will
; report the error...

AUTOSALVAGE  NO

; Maximum number of messages to store on the wall. Old messages
; will be deleted once you go over this number and new messages
; are entered... This option is for future expansion and not implemented
; as yet...

; ROLLOVER     100

; Allow the users to specify Auto Centre in their prefs file.
; This means that they can do fancy logos etc if you let them
; toggle this mode on or off. It will not show the option to
; edit this config line if you set this to NO... This option
; isn't implemented yet but may come in a future update.

; AUTOCENTER   YES

