;----------[ sample terminal configuration file ]----------
device duart.device
port 1
speed 115200
nocarrier
log hydracom.log
level 4
rec work:Download/
upl work:upload/
pub Workbench
nologwin
size 80/234/655/320
