DayDream:Wares/Bulletins/Bulletin.8
DayDream:Wares/Bulletins/Bulletin.9
-
H
E
C
2
1





;This week (.GFX/.TXT added autimatically)
;Last week (.GFX/.TXT added autimatically)
;Header or - to use internal (.GFX/.TXT added autimatically)
;H = Handles, N = Real names
;E = EALL, A = ALL, N = No messages
;Message type. M=Mono, C=Color
;Conf to place messages
;Base to place messages

