; DreamFaker Configfile

; MESSAGES [CONF:BASE] for Conf/Base to put messages.

MESSAGES 2:1

; INFORMSYSOP if you want to receive comments as personal message

;INFORMSYSOP

; TELLUSER if you want DreamFaker to send message to users for Receiving
; or losing credits.

TELLUSER

; CREDSTRING

CREDSTRING "##########>                      <##########"

; DELETE - delete line...

DELETE "______/\/¯¯¯¯¯¯   ZAPPED!!   ¯¯¯¯¯¯\/\______"

; ACCESS - level required to enter SysOp functions.

ACCESS 255

; UPPERCASE - If you want to UCase comments

UPPERCASE

; DATAFILE - Path and name of datafile

DATAFILE "DayDream:Data/DreamFaker.DAT"

; REWARD - Default reward percent for informer.

REWARD 20

