; Area definitions : [Conf:Area] [Name or Tag]

1:1 New Users
2:1 General
2:2 Dokulamppu
3:1 Quitar
4:1 Giga1
4:2 Giiga2
4:3 Gig3
4:4 L‰‰h4
4:5 L‰‰h5
4:6 L‰‰h6
4:7 L‰‰h7
4:8 L‰‰h8
4:9 L‰‰h9
4:10 Bad
5:1 Boing...
6:1 El‰m‰ntapai
7:1 SysOp's domain
7:2 SysOp's domain2

; Name definitions for files

; Name for asciifile

ASCIINAME WINMSG.TXT

; Name for packer asciifile

ASCIINAMEP WINMSG.LHA

; Packet name for WWF-Packets / Replies, .WWF / RWF added automagically

BBSID WINDOWS

PACKER Lha

LOCALWWF "c:copy t:DMail%s/WINDOWS.WWF dh1:download/"
LOCALUWWF "dh1:utils/lha e dh1:download/WINDOWS.RRF t:DMail%s/"

PASCII "dh1:utils/lha a t:DMail%s/WINMSG.LHA t:DMail%s/WINMSG.TXT"
PWWF "dh1:utils/lha a t:DMail%s/WINDOWS.WWF t:DMail%s/#?"
EWWF "dh1:utils/lha e t:DMail%s/WINDOWS.RRF t:DMail%s/"
