; ****************************************************************************
; *                    Configuration file for HyperTyper                     *
; ****************************************************************************

; List of ports which should be included in the who's online list. Each port
; must contain 3 characters and the ports should be listed in alphabetical
; order.
;
; Default: PORTLIST TL0TR0TR1TR2

PORTLIST TL0TL1TR0TR1TR2


; Priority of the built-in messaging system. This should be set at the same
; number as the task priority for this doorgame. On my system, this is 1,
; which is the default value. (Note that the borders for this value are
; -127 and +127. I recommend to keep this value between the -5 and +5).
; 
; Default: MSGPRI 1

MSGPRI 3


; Name of the person to which error messages will be sent. Spaces must be
; replaced with underscores!
;
; Default: SYSOPNAME Sysop

SYSOPNAME Wim_Rumping


; After leaving the door, should Xon/Xoff be passed though again ? (When a
; user has entered the door, it is turned off to avoid cheating, and since
; I loathe Xon/Xoff anyway I didn't turn it on again).
; Use 'FALSE' when you do not want the PAUSE flag turned on after leaving
; the door, or 'TRUE' when you want Xon/Xoff available again to users.
; 
; Default: PAUSE FALSE

PAUSE FALSE
