; CList V0.82 example config file

; This block generates a filelist for all "Amiga" subdirs
OutPut  MailBox:Amiga.lst
        Header mailbox:clist/header.txt
        Pattern "Amiga#?"

; This block lists everything except "Amiga" subdirs
OutPut  Mailbox:Misc.lst
        Header mailbox:clist/header.txt
        Pattern "~(Amiga#?)"

; This block generates a newfiles list for all subdirs for the past 30 days
OutPut  MailBox:NewFiles.lst
        Header mailbox:clist/header.txt
        Days 30
        Pattern "#?"

