;Your Node Address
NODE 2:332/532.0

;The LogFile ( No Quotes please! And Only One-Word-File-Names Permitted!)
LOGFILE RAM:XPwd!.log

;Here  There  Are The BBS's InBound and OutBound Dirs -- Please Note No Quotes are
;Permitted  and  Only  One-Word-File-Names are Permitted
OUTBOUND Outbound:
INBOUND Inbound:

;Here is The Name Of The Directory to Where move the Bad Mail Packets
;Take Note EVERY Directory must End with a Slash '/' or a Colon ':'
BAD Mail:Bad/

;Here We Will Put The Name Of The PROGRAM DIR and THE AREAS DIR
PRGDIR 		sc:Programming/Tosser/
AREASDIR	Areas/

;Now Starts The Addresses And their Passwords ( Passwords Up To 8 Chars! )
ADDRESS 2:332/532.1 	sd123dsw
ADDRESS 2:332/519.0 	12eps32
