;$HBBS

; The output of all Adder programs that are used must be able to have
; the output redirected to a file using normal AmigaDOS re-direction.

; In the AdderParams below, you can use the following codes:
;
; @F@ is replaced with the filename of the uploaded file
; @N@ is replaced with just the filename of the uploaded file
; @E@ is replaced with the filename's extension
; @P@ is replaced with the path of the filename (but not including the name itself)

; So, say you were on node 3 an uploaded TEST.LHA the following @ codes above
; would give you the following results (without the quotes)

; @F@ "TEST.LHA"
; @N@ "TEST"
; @E@ "LHA"
; @P@ "HBBS:Nodes/Node3/Playpen/"

; Settings for LHA V2.1
FileTypeDesc_LHA=LHA Archive
AdderCMD_LHA=LHA
AdderParams_LHA=a -Qa -m -M -N -x0 @F@ HBBS:Storage/Adverts/Named/#?
ShowOutput_LHA=YES

; Settings for Mapus V1.16 (see HBBS:System/Amiga/CLI/Mapus.116)
FileTypeDesc_DMS=Compressed disk image
AdderCMD_DMS=mapus.116
AdderParams_DMS=-rRkaAts @F@
ShowOutput_DMS=YES

; Settings for ZIP 2.0.1 18/10/1993
FileTypeDesc_ZIP=ZIP Archive
AdderCMD_ZIP=zip
AdderParams_ZIP=-j @F@ HBBS:Storage/Adverts/Named/#?
ShowOutput_ZIP=YES

; LZX 1.20 1995
FileTypeDesc_LZX=LZX Archive
AdderCMD_LZX=LZX
AdderParams_LZX=a -m -F -x0 @F@ HBBS:Storage/Adverts/Named/#?
ShowOutput_LZX=YES

