#******************************************************************************#
#                           RoT_Callers (v1.1)                                 #
#******************************************************************************#
#                                   The                                        #
#                     R E A L M  O F  T W I L I G H T                          #
#                                                                              #
#                               Shadowspawn                                    #
#                            Thorsten Schiller                                 #
#                              September '92                                   #
#******************************************************************************#
# Command Summary:     #   - Comment Line (anything on line will be ignored
#                      C=n - RoT_Callers will write last 'n' callers to
#                            "SYSDATA:RoT_Callers.data"
#                      L=n - Lowest level of range in which users are logged
#                            (ie. if you don't want newusers to appear on the
#                            last callers list then just set 'n' to 1)
#                      U=n - Upper level of logging range (ie. if you don't
#                            want anyone with access level 23 logged, set 'n'
#                            to 22)
#                      S=n - Set 'n' to "YES" if you want sysop (account #1)
#                            logoffs logged, "NO" if you do not
#                      H=n - Set 'n' to "YES" if you want local callers to be
#                            logged, "NO" otherwise.
#                      X=s - Set s to be your BBS name (will be displayed at
#                            to of display)
#                      1=s - 1st header string (1024 character max)
#                      2=s - 2nd header string (1024 character max)
#                      3=s - 3rd header string (1024 character max)
#                      4=s - 4th header string (1024 character max)
#                      B=s - Tail string (1024 character max)
#                      P=s - The parse string (the biggie :-) ) (1024 max)
#
# NOTE: EVERY COMMAND MUST BE ON *ONE* LINE ONLY... FOR "X" THE LINE CAN BE
#       UP TO A MAXIMUM OF 1024 CHARACTERS!
# NOTE: *NO* BLANK LINES! All lines must either contain a command or a comment!
#******************************************************************************#
# The shape of things to come:  I am adding a bit more code so that you can    #
#                               also configure the format of the output.       #
#******************************************************************************#
# Minimim Level of caller to be logged
L=0
#
# Max Level to be logged
U=32
#
# Log Sysop (account #1) logins?
S=YES
#
# Log locals logins?
H=YES
#
# Set number of callers to display
C=20
#
# Add your BBS name here. Will be displayed at top of display.
X=                   \c3THE  R E A L M  O F  T W I L I G H T\n1
#
# 4 header strings
1=\c5                              Last 10 Callers\n2
2=\c2ษอออออหออออออออออออออออออหอออออออออออออออหออออออออออออออออออหอออออออหอออหอออออป\n1
3=\c2บ\c3Call#\c2บ\c3      Alias       \c2บ\c3  Called From  \c2บ\c3     Left On      \c2บ\c3Time On\c2บ\c3Prt\c2บ\c3Speed\c2บ\n1
#
# Make sure that string number 4 doesn't end with "\n1" or the like! Otherwise
# the display will be messed up. I'll fix it in future versions.
4=\c2ฬอออออฮออออออออออออออออออฮอออออออออออออออฮออออออออออออออออออฮอออออออฮอออฮอออออน
#
# This is the line that will be displayed across the bottom.
B=\c2ศอออออสออออออออออออออออออสอออออออออออออออสออออออออออออออออออสอออออออสอออสอออออผ\n1
#
# The biggie... the parse line. Right now it's still a little ... sensitive :)
# however, you can adjust field sizes by changing the number between the
# "%" sign and the letter code. Note, however,that the logoff time field is
# fixed at 18 characters. You canmake it smaller, but it'll look mighty shitty
# *grin* Other than that, here's a summary:
#             %nc - substitute caller # (n = width of field)
#             %na - substitute user alias/handle (n = width in all these things)
#             %nf - sub logoff time
#             %nt - sub total online time
#             %np - sub port # that user logged in on
#             %nb - sub baud rate that user logged in at
#             %nl - Sub the caller's city
#             %no - Sub the caller's province
#
# Many more to come... but it's 1 am and I have to go to work in 6 hours :(
# Let me know what else you need.
# (This is strip that displays the actual user names, logoff time, etc...
# if you are happy with the look, just change the colour codes. Otherwise
# you can modify it any way you like. You can put the symbols in any order
# as well)
P=\c2บ\c7%5c\c2บ\c7%18a\c2บ\c7%12l %2o\c2บ\c7%18f\c2บ\c7 %5t \c2บ\c7 %1p \c2บ\c7%5b\c2บ
#
# Things to come!!!
#
# * I'm thinking of adding an intuition interface so that sysops can view the
#   the list directly from the BBS console (ie. add a small gadget to the
#   workbench screen (or the console itself if I can)).  The reason? I hate
#   logging in just for the sake of checking such a list and it seems more
#   stylish than loading the list into my editor :-)
#
# Please drop me a line and let me know what you think! For those that don't
# wish to call my BBS, mail me via the internet! (see address in README)
