#####################################################################
#								    #
# PacShell's Configuration file. It must be in the same directory   #
# as PacShell. Many defintions here may be changed, when PacShell   #
# is running. Then they will be saved in the file PacShell.dat,     #
# which has a higher priority, so that the definitions here are     #
# ignored. The advantage of this behaviour is, that you can install #
# a newer Config-file without loosing all your configurations.	    #
#								    #
#####################################################################

SET "DefaultPath"   "Ram Disk:" # will be inserted in the Path-Gadget at start
SET "MaxHeight"     "25"        # maximum number of lines displayed in listbox
SET "DisplayMode"   "Simple"    # how to handle .info files (see docs)
SET "TarTimeFix"    "True"      # Fix time, when using Amiga-gnutar
SET "Stack"         "10000"     # Stack size for external programs

SET "Path"          "ram:;c:;sys:system;sys:utilities"

#
# The names of the used archivers. They're configured as variables and
# can be changed in PacShell. It is possible, to insert this names
# directly into the commands, but then it is harder to change the
# definitions, if the location of the archiver changes.
#
VAR "Zip"       "Zip"
VAR "UnZip"     "UnZip"
VAR "Zoo"       "Zoo"
VAR "Arc"       "Arc"
VAR "Diffy"     "Diffy"
VAR "UnArj"     "unarj"
VAR "UnRar"     "unrar"
VAR "Tar"       "tar"
VAR "Lzx"       "Lzx"
VAR "LHarc"     "LhA"

#
# Zip and UnZip command definitions
#
SET "Zip_Extract"       "[cdj]$UnZip -x $Unzip_Opts %l %w"
SET "Zip_Freshen"       "[cdj]$UnZip -f $Unzip_Opts %l %w"
SET "Zip_Update"        "[cdj]$UnZip -u $Unzip_Opts %l %w"
SET "Zip_Test"          "$UnZip -t %l %w"
SET "Zip_Delete"        "[ckl]$Zip -d %l %w"
SET "Zip_Add1"          "[ckl]$Zip $Zip_Opts %a %v"
SET "Zip_Move1"         "[cjkl]$Zip -m $Zip_Opts %a %v"
SET "Zip_Freshen1"      "[ckl]$Zip -f $Zip_Opts %a %v"
SET "Zip_Update1"       "[ckl]$Zip -u $Zip_Opts %a %v"
SET "Zip_Test1"         "$UnZip -t %a"
SET "Zip_ExtractTemp"   "[c]$UnZip -jo %l %t"
SET "Zip_Add2"          "[ckl]$Zip $Zip_Opts %l %x"
SET "Zip_ExtractAll"    "$UnZip -x %l"
SET "Zip_AddAll"        "[ckl]$Zip %a #?"
SET "Zip_MatchAll"      "*"

#
# Lha/LHarc command definitions
#
SET "LHarc_Extract"     "[cj]$LHarc e -X $LhA_Opts $LhA_E_Opts %l %w %p"
SET "LHarc_Freshen"     "[cj]$LHarc e -GX $LhA_Opts $LhA_E_Opts %l %w %p"
SET "LHarc_Update"      "[cj]$LHarc e -TX $LhA_Opts $LhA_E_Opts %l %w %p"
SET "LHarc_Test"        "$LHarc t -X %l"
SET "LHarc_Delete"      "[ckl]$LHarc d -X $LhA_Opts $LhA_WD %l %w"
SET "LHarc_Add1"        "[ckl]$LHarc r -X $LhA_Opts $Lha_A_Opts $LhA_WD %a %v"
SET "LHarc_Move1"       "[cjkl]$LHarc m -X $LhA_Opts $Lha_A_Opts $LhA_WD %a %v"
SET "LHarc_Freshen1"    "[ckl]$LHarc f -X $LhA_Opts $Lha_A_Opts $LhA_WD %a %v"
SET "LHarc_Update1"     "[ckl]$LHarc u -X $LhA_Opts $Lha_A_Opts $LhA_WD %a %v"
SET "LHarc_Test1"       "$LHarc t -X %a"
SET "LHarc_ExtractTemp" "[bc]$LHarc e -qX -x0 %l %t"
SET "LHarc_Add2"        "[ckl]$LHarc r -X $LhA_Opts $Lha_A_Opts $LhA_WD %l %x"
SET "LHarc_ExtractAll"  "$LHarc x -X %l"
SET "LHarc_AddAll"      "[ckl]$LHarc a -rexX %a #?"
SET "LHarc_MatchAll"    "#?"

#
# Zoo command definitions
#
SET "Zoo_Extract"       "[cdj]$Zoo x// %l %w"
SET "Zoo_Test"          "$Zoo xNd %l %w"
SET "Zoo_Delete"        "[ckl]$Zoo DP %l %w"
SET "Zoo_Add1"          "[ckl]$Zoo aP %a %v"
SET "Zoo_Move1"         "[cjkl]$Zoo aMP %a %v"
SET "Zoo_Freshen1"      "[ckl]$Zoo auP %a %v"
SET "Zoo_Update1"       "[ckl]$Zoo aunP %a %v"
SET "Zoo_Test1"         "$Zoo xNd %a"
SET "Zoo_ExtractTemp"   "[c]$Zoo x %l %t"
SET "Zoo_Add2"          "[ckl]$Zoo aP %l %x"
SET "Zoo_ExtractAll"    "$Zoo x// %l"
SET "Zoo_AddAll"        "[ckl]$Zoo aP %a *"
SET "Zoo_MatchAll"      "*"

#
# Arc command definitions
#
SET "Arc_Extract"       "[cdj]$Arc x %l %w"
SET "Arc_Test"          "$Arc t %l"
SET "Arc_Delete"        "[ckl]$Arc d %l %w"
SET "Arc_Add1"          "[ckl]$Arc a %a %v"
SET "Arc_Move1"         "[cjkl]$Arc m %a %v"
SET "Arc_Test1"         "$Arc t %a"
SET "Arc_ExtractTemp"   "[bc]$Arc enw %l %t"
SET "Arc_Add2"          "[ckl]$Arc a %l %x"
SET "Arc_ExtractAll"    "$Arc x %l"
SET "Arc_AddAll"        "[ckl]$Arc a %a *"
SET "Arc_MatchAll"      "*"

#
# Diffy command definitions
#
SET "Diffy_Test"        "$Diffy -t -z %p -o %l %w"
SET "Diffy_Update"      "[cj]$Diffy -p $Dif_QFlag -z %p -o %l %w"
SET "Diffy_Delete"      "[ckl]$Diffy -d $Dif_QFlag -o %l %w"
SET "Diffy_Add1"        "[ckl]$Diffy $Dif_Opts $Dif_QFlag -o %a %p %v"
SET "Diffy_Test1"       "$Diffy -t -z %p -o %a"
SET "Diffy_Add2"        "[ckl]$Diffy $Dif_Opts $Dif_QFlag -o %l %p %x"

#
# Lzx command definintions
#
SET "Lzx_Extract"     "[cj]$Lzx e -X $Lzx_Opts $Lzx_E_Opts %l %w %p"
SET "Lzx_Test"        "$Lzx t -X %l"
SET "Lzx_Delete"      "[ckl]$Lzx d -X $Lzx_Opts $Lzx_WD %l %w"
SET "Lzx_Add1"        "[ckl]$Lzx a -X $Lzx_Opts $Lzx_A_Opts $Lzx_WD %a %v"
SET "Lzx_Freshen1"    "[ckl]$Lzx f -X $Lzx_Opts $Lzx_A_Opts $Lzx_WD %a %v"
SET "Lzx_Update1"     "[ckl]$Lzx u -X $Lzx_Opts $Lzx_A_Opts $Lzx_WD %a %v"
SET "Lzx_Test1"       "$Lzx t -X %a"
SET "Lzx_ExtractTemp" "[c]$Lzx e -q -X -x0 %l %t"
SET "Lzx_Add2"        "[ckl]$Lzx a -X $Lzx_Opts $Lzx_A_Opts $Lzx_WD %l %x"
SET "Lzx_ExtractAll"  "$Lzx x -X %l"
SET "Lzx_AddAll"      "[ckl]$Lzx a -r -e -x -X %a #?"
SET "Lzx_MatchAll"    "#?"

#
# UnArj command definitions (Extract/Test only)
#
SET "Arj_Extract"     "[cdj]$UnArj x %l"
SET "Arj_Test"        "$UnArj t %l"
SET "Arj_Test1"       "$UnArj t %a"
SET "Arj_ExtractAll"  "$UnArj x %l"

#
# UnRar command definitions (Extract/Test only)
#
SET "Rar_Extract"     "[cdj]$UnRar $Rar_XFlag %l %w"
SET "Rar_Test"        "$UnRar t %l %w"
SET "Rar_Test1"       "$UnRar t %a"
SET "Rar_ExtractTemp" "[c]$UnRar e %l %t"
SET "Rar_ExtractAll"  "$UnRar x %l"

#
# Tar command definitions
#
SET "Tar_Extract"       "[cdj]$Tar -x -f %l %w"
SET "Tar_Delete"        "[ckl]$Tar +delete %l %w"
SET "Tar_Add1"          "[ckl]$Tar -r -f %a %v"
SET "Tar_Update1"       "[ckl]$Tar -u -f %a %v"
SET "Tar_ExtractTemp"   "[bc]$Tar -x -f %l %t"
SET "Tar_Add2"          "[ckl]$Tar -r -f %l %x"
SET "Tar_ExtractAll"    "$Tar -x -f %l"

#
# Defintions for user-conigurable Buttons in PacShell's window
#
SET "User1Text"         "Touc_h"
SET "UserCall1"         "[cjr]SetDate %n"
SET "User2Text"         "_Copy"
SET "UserCall2"         "[cj]Copy FROM %v TO %p ALL QUIET CLONE"
SET "User3Text"         "New_Shell"
SET "UserCall3"         "[n]NewShell"

#
# This def. tells PacShell to use AmigaGuide to display files, which
# have the suffix .guide, when this are double-clicked.
#
SET ".guide" "amigaguide %t"

#
# This def. tells PacShell to execute Files with suffix .run, if
# they are double-clicked.
#
SET ".run"   "[d]%t"

#
# Definition for a Console-Window, that is used, when PacShell runs
# an external command, that needs one.
#
CONSOLE "CON:20/20/600/160/Pacshell Executing Command/AUTO/CLOSE/SIMPLE"

#
# Dialog with options for Zip/Unzip
#
DIALOG "Zip" "Zip Options"
    GUIDE "PacShell.guide" "ZipOptsDialog"
    COLOR  3

    BORDER "Zip Options" 0 0 72 9
    VAR "Zip_Opts" "-r"

    CHECKBOX "Collect files _recursively" 1 1 "-r"
    CHECKBOX "Archive without _pathnames" 1 3 "-j"
    CHECKBOX "Allow _growing existing zipfile" 1 5 "-g"
    CHECKBOX "_Quiet mode" 40 1 "-q"
    CHECKBOX "Simulate P_KZIP made zipfile" 40 3 "-k"
    CHECKBOX "_Encrypt (verify key)" 40 5 "-ee"

    STRINGFIELD "_Work Directory" 22 7 32 128 "-b "
    CYCLEBUTTON "Spee_d" 1 7 "Store" "-0" "Fast" "-1" "Average" "" "Slow" "-9" END

    BORDER "Unzip Options" 0 10 72 7
    VAR "Unzip_Opts"

    CHECKBOX "E_xtract without pathnames" 1 11 "-j"
    CHECKBOX "_Never overwrite existing files" 1 13 "-n"
    CHECKBOX "_Overwrite without prompting" 1 15 "-o"
    CHECKBOX "Quiet _mode" 40 11 "-q"
    CHECKBOX "_Convert text (CR LF => LF)" 40 13 "-a"
    CHECKBOX "Don't make names _lowercase" 40 15 "-U"

    PUSHBUTTON "_Save" 0 18 SAVE
    PUSHBUTTON "_Use" 30 18 OK
    PUSHBUTTON "Cancel" 61 18 CANCEL
END

#
# Dialog with options for Lha
#
DIALOG "Lharc" "Lha Options"
    GUIDE "PacShell.guide" "LHarcOptsDialog"
    COLOR 3

    BORDER "Archive Options" 0 0 67 9
    VAR "LhA_A_Opts" "-r -e -x"

    CHECKBOX "Collect files _recursively" 1 1 "-r"
    CHECKBOX "Archive _empty directories" 1 3 "-e"
    CHECKBOX "Archive with _pathnames" 1 5 "-x"
    CYCLEBUTTON "Co_mpression Speed" 1 7 "Store"  "-z"  "Fast" "-v9" "Average" "" "Slow" "-v0" END
    CHECKBOX "Don't preserve _attributes" 33 1 "-a0"
    CHECKBOX "Use ar_chive-bit" 33 3 "-s"
    CHECKBOX "Set arc_hive-bit after adding" 33 5 "-S"
    CHECKBOX "_Kill empty directories (Move)" 33 7 "-K"

    BORDER "Extract Options" 0 10 67 5
    VAR "LhA_E_Opts"

    CHECKBOX "E_xtract without pathnames" 1 11 "-x0"
    CHECKBOX "_Touch extracted files" 1 13 "-E"
    CHECKBOX "Preser_ve attributes" 33 11 "-a"
    CHECKBOX "_Don't clear archive-bit" 33 13 "-C0"

    VAR "LhA_Opts"

    CHECKBOX "_Quiet mode" 1 16 "-q"
    CHECKBOX "Disable _interactivity" 1 18 "-m"
    CHECKBOX "Ign_ore filenotes" 33 16 "-f"
    CHECKBOX "Make filenames _lowercase" 33 18 "-l"

    VAR "LhA_WD"
    STRINGFIELD "_Work Directory" 1 20 49 128 "-w"

    PUSHBUTTON "_Save" 0 23 SAVE
    PUSHBUTTON "_Use" 28 23 OK
    PUSHBUTTON "Cancel" 56 23 CANCEL
END

#
# Dialog with options for Diffy
#
DIALOG "Diffy" "Diffy Options"
    GUIDE "PacShell.guide" "DiffyOptsDialog"
    VAR "Dif_Opts" "-c -e -n"

    CHECKBOX "Don't collect files _recursively" 0 0 "-r"
    CHECKBOX "Archive with _pathnames" 0 2 "-x"
    CHECKBOX "_Don't swap, if new file is older" 0 4 "-c"

    CHECKBOX "Add _new files" 40 0 "-n"
    CHECKBOX "Archive _obsolete files" 40 2 "-e"
    CHECKBOX "Use old (short) _Headers" 40 4 "-h"

    CYCLEBUTTON "_Block size" 40 6
	"Off" "-b0"  "1" "-b1"    "2" "-b2"    "3" "-b3"    "4" "-b4"
	"5" "-b5"    "6" "-b6"    "7" "-b7"    "8" "-b8"    "9" ""
    END

    VAR "Dif_QFlag"

    CHECKBOX "_Quiet mode" 0 6 "-qq"

    PUSHBUTTON "_Save" 0 9 SAVE
    PUSHBUTTON "_Use" 28 9 OK
    PUSHBUTTON "Cancel" 56 9 CANCEL
END

#
# Dialog with options for Lzx
#
DIALOG "Lzx" "LZX Options"
    GUIDE "PacShell.guide" "LzxOptsDialog"
    COLOR 3

    BORDER "Archive Options" 0 0 67 9
    VAR "Lzx_A_Opts" "-r -e -x"

    CHECKBOX "Collect files _recursively" 1 1 "-r"
    CHECKBOX "Archive _empty directories" 1 3 "-e"
    CHECKBOX "Archive with _pathnames" 1 5 "-x"
    CYCLEBUTTON "Compressio_n Speed" 1 7
	"Store Files"  "-0"
	"Fast compression" "-1"
	"Default compression" ""
	"More compression " "-3"
	"Maximum compression" "-9"
    END

    CHECKBOX "Don't preserve _attributes" 33 1 "-a0"
    CHECKBOX "Use ar_chive-bit" 33 3 "-s"
    CHECKBOX "Set arc_hive-bit after adding" 33 5 "-S"

    BORDER "Extract Options" 0 10 67 5
    VAR "Lzx_E_Opts" "-x"

    CHECKBOX "E_xtract with pathnames" 1 11 "-x"
    CHECKBOX "_Touch extracted files" 1 13 "-E"
    CHECKBOX "Don't preser_ve attributes" 33 11 "-a0"
    CHECKBOX "_Don't clear archive-bit" 33 13 "-C0"

    VAR "Lzx_Opts"

    CHECKBOX "_Quiet mode" 1 16 "-q"
    CHECKBOX "Disable _interactivity" 1 18 "-m"
    CHECKBOX "Ign_ore filenotes" 33 16 "-f"
    CHECKBOX "Make filenames _lowercase" 33 18 "-l"

    STRINGFIELD "_Merge group size" 0 20 4 8 "-M" LONGINT CENTER

    VAR "Lzx_WD"
    STRINGFIELD "_Work Directory" 25 20 25 128 "-w"

    PUSHBUTTON "_Save" 0 23 SAVE
    PUSHBUTTON "_Use" 28 23 OK
    PUSHBUTTON "Cancel" 56 23 CANCEL
END

#
# Dialog with options for UnRar
#
DIALOG "Rar" "Rar Option"
    GUIDE "PacShell.guide" "RarOptsDialog"
    VAR "Rar_XFlag" "x"

    CHECKBOX "E_xtract with pathnames" 4 0 "x"

    PUSHBUTTON "_Save" 0 3 SAVE
    PUSHBUTTON "_Use" 12 3 OK
    PUSHBUTTON "Cancel" 24 3 CANCEL
END

#
# Freely definable dialog
#
DIALOG "UserDialog" "User-definable Dialog"
    GUIDE "PacShell.guide" "UserDialog"
    COLOR 1

    TEXT "This Dialog is user-definable." 0 0
    TEXT "Please read the documentation and" 0 2
    TEXT "add the Definition to PacShell.cfg," 0 4
    TEXT "if you want to define this dialog." 0 6

    PUSHBUTTON "OK" 12 8 OK
END
