#
#	ChatPage V1.07  ©1992-1995 Ron Klinkien
#	Main Configuration file ... (ENGLISH VERSION)
#

OnBBSScreen NO  ; Place the Pager Window on the BBS screen? (YES/NO/ACT)
BeepPause 10	; The no. of ticks (50th of a second) between Beeps.
LogFile 2		; (0=None, 1=Only ChatPage Calls, 2=Also Capture on)
AskReason YES	; Ask the User for a ChatReason before Paging? (YES/NO/ALWAYS)
ANSIMenu 1		; The lowest MenuSet Number with ANSI Codes.
WriteMSG 2		; WriteMsg? (0=No, 1=When Available AutoPost, 2=Always, 3=Editor)
MSGSection 1	; Msg Section Number to write ChatPost Messages to. (a Local area)
SysOpName Ron_Klinkien	; Name of SysOp to write to. (Use _ instead of space!)
SysOpInit RON>	; Custom Initials. (Comment out line for Real Calculated Initials)
UserColor 2	; Color of Text typed by User  (in FullChatter only) (0-7)
SysOpColor 3	; Color of Text typed by SysOp (in FullChatter only) (0-7)
UseMacros YES	; Use Macros in the FullScreenChatter (YES/NO)
EditorKey L	; MenuKey to start 'Leave Comment to SysOp...'
YesKey y
NoKey n
SoundPlayer ZEUS:Doors/ChatPage/DSound -2 -w ZEUS:Doors/ChatPage/8svx/Alert

DontKnow Don't you know a better reason to Chat?
PressReturn Press any Key to Return to the BBS!
ReallyCall Do you Really want to Call the SysOp? (Y/n)
CallAgain Do you want to Call the SysOp again ? (y/N)
PressToCont Press any Key to Continue...
WritingMSG Writing message to the SysOp...
WritingDBG Writing Config-Settings to File...
DumpDBG Do you want to Dump the Config to a File? (y/N)
CallSysOp Let's call the SysOp right Now!
QuestLine1 Hello %51|!
QuestLine2 Tell me, what do you want to Chat about?
ChatHello Hello [32m%75|![37m The SysOp is now Online for a Chat...
ChatQuit Chatting %250:ChatTime| mins, Quit this Chat session? (Y/n)
AskChat Enter a ChatReason anyway? (Y/n)
UseEditor Would you like to Write a Msg to the SysOp? (y/N)

# The Scheduler Config Part
# . = Available, S = Sleeping, B = Busy, N = Not Home, T = TimeList (UnAvail)
#
#    0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2
#    1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4
Sun SSSSSSSSSSSSSSSSSSS...........................SS
Mon SSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT............SS
Tue SSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT............SS
Wed SSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT............SS
Thu SSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT............SS
Fri SSSSSSSSSSSSSSSTTTTTTTTTTTTTTTTTTT............SS
Sat SSSSSSSSSSSSSSSSSSS...........................SS

# AV = Available, SL = Sleeping, BS = Busy, NH = Not Home (Max 70 Chars/Line)
AV The SysOp is not around.
AV Please try again later today.
AV Or you can leave a message if you want.
SL The SysOp is probably asleep!
SL Shouldn't YOU go to bed?
SL Wait for the sunrise, and try again.
BS The SysOp is very busy at the moment.
BS And is not available for a chat...
BS You can leave him a message if you want.
NH I'm terribly sorry but the SysOp
NH is not home at the moment.
NH You can leave a message if you want.
00 I'm sorry!
00 The SysOp can't be reached right now.
00 Please try again later this morning.
01 Hmm, the SysOp isn't replying...
01 Gee, ya know, some people have to get to work at 7:30AM
01 Please do not disturb....
02 Jemig de Pemig, Mozes Kribbel!@$#!! It's two o'clock!
02 I'll bet $100,- on it that the SysOp is laying in bed,
02 ....asleep!
03 Are you nuts?  Yelling at this hour!
03
03 Wait for the sunrise, and try again.
04 No, No, No, NO! I will NOT yell the SysOp for you!
04
04 Maybe it's time to get your watch repaired?!
05 U-huh! Too early in the morning.
05
05 can't reach him right now.
06 The SysOp is delivering newspapers now,
06 to pay this BBS.. ;(
06 Please try again later today.
07 Maybe the sun is already up....
07
07 but the SysOp isn't!
08 Goeie mogge! (good murning..) (8^)
08 The SysOp is in the bathroom, I guess..
08 Try again later today...
09 Some people have to work you know!
09
09 Please try again later today.
10 The SysOp has already gone to work.
10
10 Please try again later today.
11 The SysOp is listening to the radio.
11
11 Please try again later today.
12 The SysOp went for lunch.
12
12 Bon Appetit!
13 The SysOp hasn't finished his lunch yet...
13 Please try again later today,
13 or you can leave him a message.
14 The SysOp is At Work, WORKING!
14
14 Please try again later today.
15 The Sysop is Feeding His Pet Gorilla
15
15 Please do not disturb...
16 The SysOp Has Broken All His Fingers And Can't Use The KeyBoard
16
16 Please try again later today.
17 The SysOp is mowing the lawn...
17 His MOWER 45 GTI makes too much noise! He doesn't hear you!
17 Please try again later today.
18 The SysOp is eating...
18 and eating... and eating... (yaknow..)
18 Please try again later tonight...
19 The SysOp is probably watching TV...
19 So, why don't you stroll around a bit,
19 you can try again later tonight...
20 I can't find the SysOp anywhere!!
20
20 Please try again later tonight.
21 Sorry, the SysOp is Fixing His LawnMower
21
21 Please try again later tonight.
22 The SysOp went to bed early today ;-)
22 (wink!wink!wink!)
22 Well, ehr... You know!
23 My boss is sleeping right now!
23 He's got to get up early... (B^)
23 You can leave a message if you want.
