#
#	ChatPage V1.07  ©1992-1995 Ron Klinkien
#	Macros Configuration file ...
# Note: Type all Macros in Upper Case!

BYE
Oke Greetz from Ron, & Byebye!
CP
ChatPage 'The Ultimate Chatter'
SHIT
<Censured>
ZEUS
Zeus BBS!
CU
See you later!
MOM
Just a Moment ...
JAM
just a minute...
TNX
thanks
B4
Before
CU
see you later...
;)
<A big Grin>
:)
<Happy>
:>
<hmm, let me think>
:(
<Sad>
:[
<Real Downer..>
;(
<Crying>
RTFM
Read the, uh, Friggin' Manual
BTW
By the way
RSN
Real Soon Now
OIC
Oh, I see!
IMHO
In my humble opinion
NICK
[Pinky]
ALEX
[Perky]
