AMMS:ADDING/#?
AMMS:ADDING/BPLANET.DOC
AMMS:ADDING/#?
AMMS:ADDING/BPLANET.DOC
AMMS:ADDING/BPLANET.DOC
a
Rrk
FILES:SYSTEM/TRASHCAN/
13 26
132=128 148=129 129=130 225=131 142=132 153=133 154=134
228=128 246=129 252=130 223=131 196=132 214=133 220=134 183=249 178=253 247=246 166=124 172=32 171=174 187=175 161=124
-=> CHECKED ON ${FC_DAY}.${FC_MONTH}.${FC_YEAR} AT ${FC_HOUR}:${FC_MIN}:${FC_SEC}
REFRESH NOEDIT ECOMMENT CHANGEDAT
REFRESH CHANGEDAT
RFERESH WAIT
REFRESH DELETE WAIT
REFRESH WAIT
REFRESH DELETE WAIT
MBTMP:



--[settingsfile for FileCheck V3.00+]--------------------------------------

LEAVE LINE BLANK (ONLY LF) TO SKIP PART

LINE 01: LHA/LZX/LZH    ADDY       ( PATTERN ALLOWED )
LINE 02: ZIP         COMMENT
LINE 03: ZIP            ADDY       ( PATTERN ALLOWED )
LINE 04: TXT-FRONT      ADDY
LINE 05: TXT-END        ADDY
LINE 06: MAPUS   ADD-OPTIONS
LINE 07: MAPUS STRIP-OPTIONS
LINE 08: HOLD DIRECTORY            ( SYSOP'S PRIVATE DIR )
LINE 09: FILE_ID-STRIPCHARS        ( ASCII/EXAMPLE: 13 26 )
LINE 10: FILE_ID-CONVERTCHARS      ( IBM-MODE / EXAMPLE: 50=51 )
LINE 11: FILE_ID-CONVERTCHARS      ( AMIGA-MODE )
LINE 12: LINEADD         ADDY      ( ENV-VARS ALLOWED E.G. ${FILE} )
LINE 13: SETRETURN: FILE_ID
LINE 14: SETRETURN: NO FILE_ID
LINE 15: SETRETURN: DUPLICATE
LINE 16: SETRETURN: DUPLICATE/MOVE
LINE 17: SETRETURN: CORRUPT
LINE 18: SETRETURN: CORRUPT/MOVE
LINE 19: TEMPDIR                   ( DEFAULT: "MBTMP:" )

---------------------------------------------------------------------------
