/* Lister.cfg - now with comments where avaible! :)		  *
 * You can have comments anywhere in the file, provided 	  *
 * that they're on a single line.				  *
 * adding comments after options isn't a very good idea.	  */

@BEGIN_FILE_LIST
#liststyle = 1 	
/* Uses the new lisstyle! /*
#pack = lha -q a %d %s
#source = ram:AllMain.RD
#footer = s:myfooter.txt
/* This footer will follow to the bitter end! :) */
#dest = gfiles:listor/AllMain.LhA
#tempdir = ram:
#date = NULL
#areas
PD#?
Trainers
#end_areas
@END_FILE_LIST

/* another list! */

@BEGIN_FILE_LIST
#liststyle = 0
/* uses the old dull style! */ 	
#pack = lha -q a %d %s
#header = s:myheader.txt
#source = ram:MainMonthly.RD
#dest = gfiles:listor/MainMonthly.LhA
#tempdir = ram:
#date = 31
#areas
PD#?
Trainers
#end_areas
@END_FILE_LIST

@END_CFG
/* this one is new, DO NOT FORGET IT!! IT'S ESSENTIAL!! */
