#
#	ChatPage V1.07  ©1992-1995 Ron Klinkien
#	Message Configuration file ...
#

Msg#1: The SysOp is coming right now...
Msg#1: Stay where you are ;-)
Msg#1:
Msg#2: I'll be there in a second...
Msg#2: Continue BBSing and I'll break in...
Msg#2:
Msg#3: The SysOp is phoning right now!
Msg#3: Please wait 2 mins and try again!
Msg#3:
Msg#4: The SysOp is studying hard!
Msg#4: Sorry, I have no time for a Chat...
Msg#4:
Msg#5: It's late and the SysOp is too tired!
Msg#5: He will go to sleep in a second! |-O
Msg#5:
Msg#6: YAWN! The SysOp is annoyed!
Msg#6: Try to wake him up! :-I
Msg#6:
Msg#7: What a great Chatter Door this is!
Msg#7: Yep, you're right!
Msg#7:
Msg#8: Uhm... I can't talk about that subject now!
Msg#8:
Msg#8:
