#
#  KingFisher Configuration File
#

# Visual preferences
display-type=CUSTOMSCREEN (no others supported yet)
display-mode=00008004,Overscan
display-depth=3
Colors=0x566,0x000,0xd80,0xddd,0x22c,0x764,0x800,0x68e
Gad-Color=1,0,0,1
Key-Color=1
search-mode=complete
Case-Sensitive-Search=NO
Simple-Search=YES
Auto-Search-Mode-Detect=YES
Allow-DOS-Patterns=NO
Trim-Blanks=NO
scroll-speed=30
text-spacing=0
contents-font=topaz.font/8

# Function keys
fkey-0=
fkey-1=
fkey-2=
fkey-3=
fkey-4=
fkey-5=
fkey-6=
fkey-7=
fkey-8=
fkey-9=

# General preferences
TitleBar=OFF
QuitConfirm=NO
KeepSettings=NO
SafeIconify=YES
AutoActiveGadgets=NO
KeyboardControl=YES
SearchEdit-Wide=NO
Tiny-RAM=NO
Alert-Search-Ok=NO
Alert-Search-Fail=NO
Alert-Reindex=NO
Reindex-Behind=NO
ActiveStation=5
Iconify-Position=0,0
Verify-Output=YES
Output-Device=Printer
Output-Width=Preferences
Output-User=72
Output-Format=Full
Export-File=t:KF.output
Help-File=GUIDE:KingFisher.guide

# Datafile partitioning information
# Format:  begin-entry,end-entry,volume-name
FishData=0001,0500,
FishData=0501,1100,
FishData=1101,1700,
FishData=1701,2300,
FishData=2301,2900,
FishData=2901,3500,

# Datafiles appended by KingFisher to appropriate paths
# Should contain TWO `%d' symbols (for first and last entry)
FishFileNames=DH1:Database/Fish-%04d-%04d

# Unsplittable datafiles (path plus filename)
FishIndexFile=DH1:Database/Fish.Index
NameIndexFile=DH1:Database/Name.Index

# Adding fish
ContentsFile=
AddFishReport=CON:80/20/580/160/Add Fish Status Report/AUTO
AddFishWorkFile=t:KF.work

# Fishtank contents
FishTank=1
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=2
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=3
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=4
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=5
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=6
Use-Range=NO
Search-Range=1,1
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=7
Use-Range=NO
Search-Range=1,850
Current-Entry=-1
Use-Search-Text=0
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=

FishTank=8
Use-Range=NO
Search-Range=1,950
Current-Entry=-1
Use-Search-Text=3
Search-Text-1=
Search-Text-2=
Search-Text-3=
Search-Text-4=
Search-Text-5=
Search-Text-6=
