

;====(  Trion AllFiles Configuration File )=====


;; methode of sorting the list , can be 'ALPHA' or 'CHRONO'

SORT  ALPHA

;; type ALLFILES or NEWFILES

TYPE ALLFILES

;; number of days scanning back with newfiles 

DAYS 14

;; Area to Add this AllFiles to

AREA  5

;; Description in the BBS filecatalog

DESC  "AllFiles of this BBS"

;; filename and archive name of the allfiles

NAME   "ALLFILES.TXT"
ARC    "ALLFILES.LHA"

;; Temporary directory to make file and archive

TEMP   "RAM:"

;; How to archive this allfiles
;;  %a = archive  ,  %t = allfiles text

ARCHIVER   "Lha -q -N -m a %a %t"

;; Wich sections to Add to this AllFiles

SECTIONS   3-5 , 12-14 , 20-35
SECTIONS   60-73

;; End of this allfiles

END







;; methode of sorting the list , can be 'ALPHA' or 'CHRONO'

SORT  ALPHA

;; type ALLFILES or NEWFILES

TYPE NEWFILES

;; number of days scanning back with newfiles 

DAYS 14

;; Area to Add this AllFiles to

AREA  5

;; Description in the BBS filecatalog

DESC  "newfiles of the last 14 days of this BBS"

;; filename and archive name of the allfiles

NAME   "NEWFILES.TXT"
ARC    "NEWFILES.LHA"

;; Temporary directory to make file and archive

TEMP   "RAM:"

;; How to archive this allfiles
;;  %a = archive  ,  %t = allfiles text

ARCHIVER   "Lha -q -N -m a %a %t"

;; Wich sections to Add to this AllFiles

SECTIONS   3-5 , 12-14 , 20-35
SECTIONS   60-73

;; End of this allfiles

END







;; methode of sorting the list , can be 'ALPHA' or 'CHRONO'

SORT  ALPHA

;; type ALLFILES or NEWFILES

TYPE ALLFILES

;; number of days scanning back with newfiles 

DAYS 14

;; Area to Add this AllFiles to

AREA  9

;; Description in the BBS filecatalog

DESC  "AllFiles of TRION files"

;; First part of filename of this Allfiles

NAME  TALLFILES.TXT
ARC   TALLFILES.LHA

;; Temporary directory to make file and archive

TEMP   "RAM:"

;; How to archive this allfiles
;;  %a = archive  ,  %t = allfiles text

ARCHIVER   "Lha -q -N -m a %a %t"

;; Wich sections to Add to this AllFiles

SECTIONS   9

;; End of this allfiles

END

