
;;;   Archive configuration 
;;;   Used by the mail processor for archiving and extracting mail

;;;   When archiving:

;;;   'target'  %t  = archive 
;;;   'source'  %s  = packet  
;;;   'node'    %n  = nodenumber

;;;   When extracting:

;;;   'source'  %s  = archive
;;;   'path'    %p  = inbound

;;;   The 'extension' entry is Used for archivers (like PKAX) who
;;;   can only UnArchive archive with a certain extension


ARCHIVETYPE   "UUCP"
EXTENSION     ""                  ;".???"
RECOGNIZE     FF FE FD FC FB FA
EXTRACT       ""
ARCHIVE       "execute Trion:Scripts/gatemail.src %s"
#


ARCHIVETYPE   "LZX"
EXTENSION     ""                  ;".LZX"
RECOGNIZE     4C 5A 58  
EXTRACT       "lzx >nil: -m -Xx x %s *.PKT %p"
ARCHIVE       "lzx >nil: -3 -m -Xa a %t %s"
#


ARCHIVETYPE   "LHA"
EXTENSION     ""                  ;".LHA"
RECOGNIZE     ?? ?? 2D 6C 68   
EXTRACT       "lha -q -k e %s *.PKT %p"
ARCHIVE       "lha -q -N -m a %t %s"
#


ARCHIVETYPE   "ZIP"
EXTENSION     ""                  ;".ZIP"
RECOGNIZE     50 4B
EXTRACT       "unzip -j %s *.PKT -d %p"      ;"unzip -qq -o -j %s *.PKT -d %p"
ARCHIVE       "zip -j %t %s"
#


ARCHIVETYPE   "RAR"
EXTENSION     ""                  ;".RAR"
RECOGNIZE     52 61 72 21
EXTRACT       "unrar x -y -inul %s %p"
ARCHIVE       "rar %t %s"
#


;;;  Problems with ARJ , doesn't take a path to extract to ?????

ARCHIVETYPE   "ARJ"
EXTENSION     ""                  ;".ARJ"
RECOGNIZE     60 EA
EXTRACT       "unarj e %s"        ; "%p"
ARCHIVE       ""
#


;;;  Problems with ZOO , doesn't take a path to extract to

ARCHIVETYPE   "ZOO"
EXTENSION     ""                  ;".ZOO"
RECOGNIZE     5A 4F 4F
EXTRACT       "zoo x %s *.PKT"
ARCHIVE       ""
#


;;;  Problems with PKAX , doesn't take a path to extract to
;;;  Only extract files with an .ARC extension

ARCHIVETYPE   "ARC"
EXTENSION     ".ARC"
RECOGNIZE     1A
EXTRACT       "pkax -x %s"
ARCHIVE       ""
#


