;
;  Trion AreaFix configuration file..
;


;  the adressess which AreaFix needs to check if a message
;  is adressed to him.


ADDRESSES

; Trion-net

350:1002/0
350:1002/1
350:1002/100

; NLA, Nederlands amiga net

14:107/2
14:107/200

; AMY

39:152/2.0
39:152/200.0

#



;   Defines groups of areas (nets to certain people)
;   by lists of ranges of the message areas



MAIL GROUPS

TRION_SYSOP    51-99
TRION_BETA     50-99

NLA_POINT     100 - 109 , 111 - 115 , 117 - 118 , 120 - 199
NLA_NODE      100 - 109 , 111 - 118 , 120 - 199
NLA_MODERATOR 100 - 109 , 111 - 199
NLA_HUB       100 - 199

AMY_NODE      800 - 899

#    ;END-OFF-MAIL-GROUPS




FILE GROUPS

FN_TRION     100-199
FN_NLA       200-299
FN_AMY       300-399

#    ;END-OFF-FILE-GROUPS



;    NodeNumber  Password  SEND/NOSEND   OrigNodeNumber   [group(s)]

;    Here you config all your points/nodes/hubs/hosts.

;    if a node has a SEND flag , a message will be send if AreaFix
;    is started in 'send notices' mode.

;    OrigNodeNumber is Used as the 'origin node number' in replies
;    from areafix.



NODES

; Harry

14:107/201      PASSWORD  SEND    14:107/2    NLA_NODE      FN_NLA
350:1002/101    PASSWORD  SEND    350:1002/1  TRION_SYSOP   FN_TRION

; Daniel

350:1002/2      PASSWORD  SEND    350:1002/1  TRION_SYSOP   FN_TRION
350:1002/200    PASSWORD  SEND    350:1002/1  TRION_SYSOP   FN_TRION

; Ruud

14:107/203      PASSWORD  SEND    14:107/2     NLA_NODE   FN_NLA


#


