
# Sample Config for people who want to use a Cron utility
# This config is obsolete by the scheduler.cfg


# On which days to POLL

20        04   * * *      trion:utils/poll 14:103/0
21        04   * * 0,4    trion:utils/poll 55:100/1


# Ieder uur alle nodes 1 of 2 keer cueen

38,43     04   * * *      c:execute  trion:scripts/CallHub 55:100/1

38,43     05   * * *      c:execute  trion:scripts/CallHub 14:103/0
#38,43     07   * * *      trion:utils/trion -c -1 14:103/0
25        02   * * *      trion:utils/trion -c -1 14:103/0

00        07   * * *      c:execute  trion:scripts/trion -1 -I0


# Mail transfers regelen. (ieder Half uur, klaar zetten, back uppen)
15        02   * * *      c:execute  trion:scripts/mail
00        03   * * *      c:execute  trion:scripts/mail
30        04   * * *      c:execute  trion:scripts/mail
00        05   * * *      c:execute  trion:scripts/mail
00        06   * * *      c:execute  trion:scripts/mail
00        07   * * *      c:execute  trion:scripts/mail
00        08   * * *      c:execute  trion:scripts/mail


# Mail, files, alles rebuilden, menus & nodelist compilen, Allfiles enz... 
00        04   * * *      c:execute  trion:scripts/maintenance

# Op nacht van Zondag/Maandag snoeien in de mail.
15        04   * * 1,3,5  c:execute  trion:scripts/trimmsgs

# Link all messages
45        07   * * *      trion:utils/tmp -L -D

# reset the machine once a day
#55       07   * * *      c:execute  trion:scripts/trionreset

