;
;   Password Configuration for the TrionTick '.TIC' file processor
;
; format:
;
; PASSWORD  <NodeNumber>  <Password>  [flags]
;
; Flags [M] == send netmail with a .tic file.


; Pascal

PASSWORD  39:152/2       PASSWORD  [M]
PASSWORD  14:107/200.0   PASSWORD  [M]
PASSWORD  350:1001/0     PASSWORD  [M]
PASSWORD  350:1001/1     PASSWORD  [M]
PASSWORD  350:1001/100   PASSWORD  [M]

; Harry  trion, nla

PASSWORD  350:1002/101   PASSWORD  [M]
PASSWORD  14:107/201     PASSWORD  [M]

; Ruud Hamers   NLA

PASSWORD  14:107/303     PASSWORD  [M]

; TrionBBS  Daniel

PASSWORD  350:1002/200   PASSWORD  [M]

