;
;  Don't use area number #0
;  Don't forget a ':' or '/' at the end of a path !!
;
;  Format:
;
;  #area  flags  path  areaName
;
;  Flags:
;
;  U = Upload       , Area is open for uploads.
;  F = Freedownload , All files in this area are freedownload.
;  V = Validate     , Files area AutoValidated when Uploaded.
;  M = MS-DOS       , All names will be in the 8.3 format in this area.
;


#01  [U----]  DH1:DOWNLOADING/Upload/          Upload
#02  [U----]  DH1:downloading/Sysop/           Voor_Sysop

#03  [-----]  DH1:downloading/Elektr/         "Elektronica"
#04  [-----]  DH1:downloading/Hacking/        "Hacking"
#05  [-----]  DH1:downloading/Docs/           "Documents"

#006 [-F---] DH1:downloading/Trion/           "Trion BBS"
#007 [-F---] DH1:downloading/Trion_upd/       "Trion Updates"
#008 [-F---] DH1:downloading/Trion_nlst/      "Trion Nodelists"
#009 [-F---] DH1:downloading/Trion_Misc/      "Trion Misc."

#010 [-F---] DH1:downloading/UFO/             "UFO files"
;#011  [-----]  DH1:DOWNLOADING/Bad/           "Bad files"

#012 [-----] DH1:downloading/Bulletins/       "Bulletins"
#013 [-----] DH1:downloading/FidoTxt/         "Fido Text"
#014 [-----] DH1:downloading/BBSlijsten/      "BBSlijsten"
#015 [-----] DH1:downloading/Form/            "Formula one"



; == Amiga files ================

#020 [-----] DH1:down.amiga/Algemeen/          "AMIGA Algemeen"
#021 [-----] DH1:down.amiga/Utilities/         "AMIGA Utilities"
#022 [-----] DH1:down.amiga/Docs/              "AMIGA Docs"
#023 [-----] DH1:down.amiga/BBS/               "AMIGA BBS"
#024 [-----] DH1:down.amiga/Comm/              "AMIGA Communicatie"
#025 [-----] DH1:down.amiga/Archivers/         "AMIGA Archivers"
#026 [-----] DH1:down.amiga/Program/           "AMIGA Programmeren"
#027 [-----] DH1:down.amiga/Source/            "AMIGA Sources"
#028 [-----] DH1:down.amiga/PicsAnim/          "AMIGA Pics Anim"
#029 [-----] DH1:down.amiga/SongSamp/          "AMIGA Songs Samples"
#030 [-----] DH1:down.amiga/Music/             "AMIGA Music"
#031 [-----] DH1:down.amiga/DTPtext/           "AMIGA DTP text"
#032 [-----] DH1:down.amiga/FontsClip/         "AMIGA Fonts Cliparts"
#033 [-----] DH1:down.amiga/Games/             "AMIGA Games"
#034 [-----] DH1:down.amiga/Fish/              "AMIGA Fish"
#035 [-----] DH1:down.amiga/AmigaDos/          "AMIGA AmigaDos 2.0"


; == PC files ==================== 

#060 [---M-] DH1:down.pc/Algemeen/             "PC Algemeen"
#061 [---M-] DH1:down.pc/Utilities/            "PC Utilities"
#062 [---M-] DH1:down.pc/Docs/                 "PC Docs"
#063 [---M-] DH1:down.pc/BBS/                  "PC BBS"
#064 [---M-] DH1:down.pc/Comm/                 "PC Communicatie"
#065 [---M-] DH1:down.pc/Archivers/            "PC Archivers"
#066 [---M-] DH1:down.pc/Program/              "PC Programmeren"
#067 [---M-] DH1:down.pc/Source/               "PC Sources"
#068 [---M-] DH1:down.pc/PicsAnim/             "PC Pics Anim"
#069 [---M-] DH1:down.pc/SongSamp/             "PC Songs Samples"
#070 [---M-] DH1:down.pc/Music/                "PC Music"
#071 [---M-] DH1:down.pc/DTPtext/              "PC DTP text"
#072 [---M-] DH1:down.pc/FontsClip/            "PC Fonts Cliparts"
#073 [---M-] DH1:down.pc/Games/                "PC Games"


