;
;   Configuration for the TrionTick '.TIC' file processor
;
;
; format:
;
; AREA  <number>  <areaname>  <origin NodeNum>  <FileAreaNumber>
; <send to NodeNum>
; #
;
;
;<number>         = a Unique number for each area used in areafix.cfg
;<areaname>       = name of this area
;<origin NodeNum> = your nodenumber for this area
;<FileAreaNumber> = number of area in fileareas.cfg where the files go
;


;************************************************************************
;   TRION
;************************************************************************



AREA   101   FN_TRIONBETA   350:1002/0   9
350:1001/1
350:1002/101
#


AREA   102   TRION_BBS   350:1002/0   6
350:1001/0
350:1002/200
350:1002/101
#


AREA   103   TRION_UPDATES   350:1002/100   7
350:1001/0
350:1002/200
350:1002/101
#


AREA   105   TRION_NLST   350:1002/0   8
350:1001/0
350:1002/200
350:1002/101
#


AREA   104   TRION_MISC   350:1002/0   9
350:1001/0
350:1002/200
350:1002/101
#


;************************************************************************
;   NLA
;************************************************************************


AREA   200   NLA_NLST   14:107/2.0   14
14:107/201
14:107/203
#

AREA   201   NLA_NDFF   14:107/2.0   14
14:107/201
14:107/203
#

AREA   202   NLA_MISC   14:107/2.0   14
14:107/201
14:107/203
#

AREA   202   NLA_LOG   14:107/2.0   14
14:107/201
14:107/203
#


;************************************************************************
;   AMY
;************************************************************************


AREA   300   AMYNLIST   39:152/2.0   14
; 39:152/0
39:152/301
39:152/302
#

AREA   301   AMYNDIFF   39:152/2.0   14
; 39:152/0
39:152/301
39:152/302
#

AREA   302   AMIGANET   39:152/2.0   14
; 39:152/0
39:152/301
39:152/302
#

AREA   303   AMIGAR15   39:152/2.0   14
; 39:152/0
39:152/301
39:152/302
#

