;
;   Frequest.cfg , trion file request config file


;
;     SECTIONS  <range> [, <range>]
;
;  File sections where file requests are allowed
;
;     <MagicName>  <Password>  <Path/File>
;
;  if no password needed to freq specify NONE
;  password is 6 (or 8) characters of less
;



SECTIONS    3-5 , 12-14 , 20-35
SECTIONS    60-73


#   ;End of sections , start of magic file part


FILES       NONE      downloading:docs/allfiles.lha
TEST        NONE      s:startup-sequence

PNTS        NONE      dh1:pnts.l20
PNTS.L20    NONE      dh1:pnts.l20

TRION       NONE      down.amiga:bbs/TrionBBS110.LZX

