
;;;
;;;  Trion groups config
;;;
;;;



;;;  Definition of File groups


FILEGROUP    1,  "All sections"
SECTIONS     1 - 65535

FILEGROUP    2,  "Amiga-files"
SECTIONS     1 - 15 , 20 - 59

FileGroup    3,  "PC-files"
Sections     1 - 15 , 60 - 99



;;;  Definition of Mail groups


MAILGROUP    1,  "All sections"
SECTIONS     1 - 65535

MAILGROUP    2,  "Local mail"
SECTIONS     1 - 3, 5

MAILGROUP    3,  "Bad"
SECTIONS     4, 6

MAILGROUP    4,  "Netmail"
SECTIONS     10 - 49

MAILGROUP    5,  "Trion-net"
SECTIONS     17                           ;Trion - Netmail
SECTIONS     50 - 99                      ;Trion - Echomail

MAILGROUP    6,  "NLA-net"
SECTIONS     10, 13                       ;NLA - Netmail
SECTIONS     100 - 199                    ;NLA - Echomail


MAILGROUP    8,  "Fido-net"
SECTIONS     16                           ;Fido - netmail
SECTIONS     300 - 399                    ;Fido - Echomail

MAILGROUP    10,  "Amy-net"
SECTIONS     12, 15
SECTIONS     800 - 899

MAILGROUP    14,  "SySop's choice"
SECTIONS     1                            ;Comment to sysop
SECTIONS     10 - 49                      ;Netmail
SECTIONS     50 - 99                      ;Trion - Echomail
SECTIONS     113, 303, 304, 308, 310, 822, 828, 911


