;
;   List with the languages a User can choose
;
;   The number entered will be used to load the correct BBSText
;   file and to select the correct menutext directory.
;


#0   ANSI_English
#1   ANSI_Nederlands
;  #2 ANSI_Deutsch

