;
;
; Don't use an area with number #0 !
; Messages with a TagName which is not valid will be placed in a "BAD" area.
; A "BAD" area is an echomail area with tagname "BAD"
;
; Dupes will be placed in an area with tagname "DUPES" (or else in BAD).
;
;  Local:
;
;  #area  flags  MaxMsgs  path  areaName
;
;  Echo/Netmail:
;
;  #area  flags  MaxMsgs  path  areaName  TagName  NodeNumber
;
;  Or if you are a HUB or HOST
;
;  #area  flags  MaxMsgs  path  areaName  TagName  NodeNumber
;  HubNumber HostNumber [other_nodenumbers]
;
;  (Max of 5 extra NodeNumbers per Area)
;
;
; Flags:        type of area     (use only 1 per area)
;           L = Local Messages
;           N = Netmail
;           E = Echomail
;
;               Characteristics of area
;           A = User may use an alias in this area.
;           W = Users can write in this area.
;           O = Obligatory (for areafix) can't disconnect with areafix
;           I = Internet support (For E-mail)
;           S = Use signatures in this section
;           T = Use taglines in the section
;



#001  [LW-ST-] 120  TRION:mail/   "[loc] Sysop Comments"
#002  [LWA---] 100  TRION:mail/   "[loc] Chat Area"
#003  [LW-ST-] 100  TRION:mail/   "[loc] Private Area"

#004  [E--ST-]  50  TRION:mail/   "[BAD] Bad messages"    BAD        14:107/2
#006  [E--ST-]  50  TRION:mail/   "[BAD] Duplicate msgs"  DUPES      14:107/2

#005  [LW-ST-]  10  TRION:mail/   "[loc] Msgs To All"


#010  [NW-ST-] 100  TRION:mail/   "[NLA] NetMail"    NLA_NET    14:107/2
#012  [NW-ST-] 100  TRION:mail/   "[AMY] Netmail"    AMY_NET    39:152/2

#013  [NW-ST-] 100  TRION:mail/   "[NLA] NetMailH"   NLA_NETH   14:107/200
#015  [NW-ST-] 100  TRION:mail/   "[AMY] NetmailH"   AMY_NETH   39:152/200

#016  [NWIST-] 100  TRION:mail/   "[Fido] Netmail"   FIDO_NET   2:284/324.20
#017  [NW-ST-] 100  TRION:mail/   "[Trion] Netmail"  TRION_NET   350:1002/100

#040  [NWIST-] 100  TRION:mail/   "[I-net] E-mail"   "E-Mail"  2:284/324.20


;======================================================================
;------------------------       Trion    -------------------------------
;======================================================================


#050  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Beta"      TRION_BETA     350:1002/100
350:1002/0 350:1002/1
#051  [EW-ST-] 300  TRION:mail/trion/   "[Trion] Chat"      TRION_CHAT     350:1002/100
350:1002/0 350:1002/1
#052  [EW-ST-] 100  TRION:mail/trion/   "[Trion] News"      TRION_NEWS     350:1002/100
350:1002/0 350:1002/1
#053  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Quest"     TRION_QUEST    350:1002/100
350:1002/0 350:1002/1
#054  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Request"   TRION_REQUEST  350:1002/100
350:1002/0 350:1002/1
#055  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Problems"  TRION_PROBLEMS 350:1002/100
350:1002/0 350:1002/1
#056  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Chat NL"   TRION_CHAT_NL  350:1002/100
350:1002/0 350:1002/1
#057  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Test"      TRION_TEST  350:1002/100
350:1002/0 350:1002/1

#090  [EW-ST-] 100  TRION:mail/trion/   "[Trion] Newsgroup" ALT.BBS.AMIGA.TRION 2:284/324.20



;======================================================================
;------------------------       NLA     -------------------------------
;======================================================================


#100  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Video"       NLA_VIDEO       14:107/200
14:107/2
#101  [EW-ST-]  75  TRION:mail/nla/   "[NLA] Games"       NLA_GAMES       14:107/200
14:107/2
; #102  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Commodore"   NLA_COMMODORE   14:107/200
; 14:107/2
#103  [EW-ST-] 150  TRION:mail/nla/   "[NLA] Chat"        NLA_CHAT        14:107/200
14:107/2
#104  [EW-ST-]  50  TRION:mail/nla/   "[NLA] System"      NLA_SYSTEM      14:107/200
14:107/2
#105  [E--ST-]  25  TRION:mail/nla/   "[NLA] News"        NLA_NEWS        14:107/200
14:107/2
#106  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Hardware"    NLA_HARDWARE    14:107/200
14:107/2
#107  [EWAST-]  50  TRION:mail/nla/   "[NLA] Humor"       NLA_HUMOR       14:107/200
14:107/2
#108  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Audio"       NLA_AUDIO       14:107/200
14:107/2
#109  [EW-ST-]  75  TRION:mail/nla/   "[NLA] Data comm"   NLA_DATA_COMM   14:107/200
14:107/2
#110  [EW-ST-]  25  TRION:mail/nla/   "[NLA] Hubs"        NLA_HUBS        14:107/2
#111  [EW-ST-]  75  TRION:mail/nla/   "[NLA] Points"      NLA_POINTS      14:107/200
14:107/2
#112  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Unix"        NLA_UNIX        14:107/200
14:107/2
#113  [EW-ST-] 100  TRION:mail/nla/   "[NLA] Programming" NLA_PROGRAMMING 14:107/200
14:107/2
#114  [EW-ST-]  30  TRION:mail/nla/   "[NLA] 103"         NLA_103         14:107/200
14:107/2
#115  [EW-ST-]  75  TRION:mail/nla/   "[NLA] Software"    NLA_SOFTWARE    14:107/200
14:107/2
#116  [EW-ST-]  50  TRION:mail/nla/   "[NLA] SySop's"     NLA_SYSOPS      14:107/200
14:107/2
#117  [EW-ST-]  25  TRION:mail/nla/   "[NLA] Test"        NLA_TEST        14:107/200
14:107/2
#118  [EW-ST-] 100  TRION:mail/nla/   "[NLA] Trade"       NLA_TRADE       14:107/200
14:107/2
#119  [EW-ST-]  40  TRION:mail/nla/   "[NLA] Moderators"  NLA_MODS        14:107/200
14:107/2
#120  [EW-ST-]  50  TRION:mail/nla/   "[NLA] NLA Info"    NLA_NLA_INFO    14:107/200
14:107/2
#121  [EW-ST-]  50  TRION:mail/nla/   "[NLA] CD32"        NLA_CD32        14:107/200
14:107/2
#122  [EW-ST-]  50  TRION:mail/nla/   "[NLA] MTG"         NLA_MTG         14:107/200
14:107/2
#123  [EW-ST-]  50  TRION:mail/nla/   "[NLA] Virus"       NLA_VIRUS       14:107/200
14:107/2




;======================================================================
;------------------------      Fido     -------------------------------
;======================================================================



#300  [EW-ST-] 120  TRION:mail/fido/  "[Fido] UFO NL"        UFO.028       2:284/324.20
#301  [EW-ST-] 120  TRION:mail/fido/  "[Fido] UFO"           UFO           2:284/324.20
#302  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Science"       SCIENCE       2:284/324.20
#303  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Soldeer NL"    SOLDEER.028   2:284/324.20

#304  [EW-ST-] 999  TRION:mail/fido/  "[Fido] Amiga"          AMIGA         2:284/324.20
#305  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Amiga NL"       AMIGA.028     2:284/324.20
#306  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Amiga Comms"    AMIGA_COMMS   2:284/324.20
#307  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Amiga PDReview" AMIGA_PDREVIEW 2:284/324.20
#308  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Amiga Program"  AMIGA_PROG    2:284/324.20
#309  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Amiga Tech"     AMY_TECH      2:284/324.20

#310  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Air-Space NL" AIR-SPACE.028 2:284/324.20
#311  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Handel NL"    HANDEL.028    2:284/324.20
#313  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Assembler NL" ASSEMBLER.028 2:284/324.20
#314  [EW-ST-] 120  TRION:mail/fido/  "[Fido] Arexx"        AREXX         2:284/324.20
#315  [EW-ST-] 120  TRION:mail/fido/  "[Fido] X-Files NL"   X-FILES.028   2:284/324.20
#316  [EW-ST-] 120  TRION:mail/fido/  "[Fido] ISDN NL"      ISDN.028      2:284/324.20

#390  [EW-ST-] 100  TRION:mail/fido/   "STREAM_INFO"   STREAM_INFO   2:284/324






;======================================================================
;------------------------       AMY     -------------------------------
;======================================================================



#801 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Amiga-E"      AMIGA-E_AMY     39:152/200
39:152/2
#802 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Arexx"        AREXX_AMY       39:152/200
39:152/2
#803 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Audio"        AUDIO_AMY       39:152/200
39:152/2
#804 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] BBS"          BBS_AMY         39:152/200
39:152/2
#805 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Blitz"        BLITZ_AMY       39:152/200
39:152/2
#806 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Comms"        COMMS_AMY       39:152/200
39:152/2
#807 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Dir.Utils"    DIRUTILS_AMY    39:152/200
39:152/2
#808 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] DLG"          DLG_AMY         39:152/200
39:152/2
#809 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] EMOD"         EMOD_AMY        39:152/200
39:152/2
#810 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] EMS"          EMS_AMY         39:152/200
39:152/2
#811 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] FFRS"         FFRS_AMY        39:152/200
39:152/2
#812 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Games"        GAMES_AMY       39:152/200
39:152/2
#813 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] GPFax"        GPFAX_AMY       39:152/200
39:152/2
#814 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] GVP"          GVP_AMY         39:152/200
39:152/2
#815 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Hardware"     HARD_AMY        39:152/200
39:152/2
#816 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] HSMODS"       HSMODS_AMY      39:152/200
39:152/2
#817 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] INTPOL"       INTPOL_AMY      39:152/200
39:152/2
#818 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Link R15"     LINK15_AMY      39:152/200
39:152/2
#819 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Link"         LINK_AMY        39:152/200
39:152/2
#820 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] MEBBSNET"     MEBBSNET_AMY    39:152/200
39:152/2
#821 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] NETDEV"       NETDEV_AMY      39:152/200
39:152/2
#822 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] New to C"     NEW2C_AMY       39:152/200
39:152/2
#823 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] News"         NEWS_AMY        39:152/200
39:152/2
#824 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] GFX Boards"   GFXBOARDS_AMY   39:152/200
39:152/2
#825 [EW-ST-]  75  TRION:mail/amy/  "[AMY] Emulators"    EMULATORS_AMY   39:152/200
39:152/2
#826 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] PD"           PD_AMY          39:152/200
39:152/2
#827 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Point R15"    POINT15_AMY     39:152/200
39:152/2
#828 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Programmeren" PRGS_AMY        39:152/200
39:152/2
#829 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Questions"    QUEST_AMY       39:152/200
39:152/2
#830 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] R15"          R15_AMY         39:152/200
39:152/2
#831 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Software"     SOFT_AMY        39:152/200
39:152/2
#832 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Spot"         SPOT_AMY        39:152/200
39:152/2
#833 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] SySop R15"    SYSOP15_AMY     39:152/200
39:152/2
#834 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] SySop's"      SYSOP_AMY       39:152/200
39:152/2
#835 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Trick"        TRICK_AMY       39:152/200
39:152/2
#836 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] User Group's" UGROUP_AMY      39:152/200
39:152/2
#837 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Video"        VIDEO_AMY       39:152/200
39:152/2
#838 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Virus"        VIRUS_AMY       39:152/200
39:152/2
#839 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Z39 SySop's"  Z39_SYSOP_AMY   39:152/200
39:152/2
#840 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] ZC"           ZC_AMY          39:152/200
39:152/2
#841 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Announce"     ANNOUNCE_AMY    39:152/200
39:152/2
#842 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] BBS News"     BBSNEWS_AMY     39:152/200
39:152/2
#843 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] BBS Software" BBSSOFT_AMY     39:152/200
39:152/2 
#844 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] GMS"          GMS_AMY         39:152/200
39:152/2
#845 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] MailManager"  MM_AMY          39:152/200
39:152/2
#846 [EW-ST-]  75  TRION:mail/AMY/  "[AMY] Zeus BBS"     ZEUS_AMY        39:152/200
39:152/2


