;;
;;    There are 5 commands.
;;
;;    TEXT         "some text"
;;    BUTTON       "some text"    "command to be executed"
;;    NEXTROW
;;    QUITBUTTON
;;    NEXTBOX
;;
;;    Text       <- makes a box with text
;;    Button     <- makes a button
;;    NextRow    <- sort of a return for a new line of buttons
;;    QuitButton <- makes a quit button (optional)
;;    NextBox    <- start a complete new box with buttons (optional)
;;


TEXT     "Boss 1"
TEXT     "2:284/324"
BUTTON   "Make poll pkt"     "Trion:utils/poll 350:1001/0"
BUTTON   "Make the call"     "Trion:scripts/pollnow 350:1001/0"

NEXTROW

TEXT     "Boss 2"
TEXT     "14:103/103"
BUTTON   "Make poll pkt"     "Trion:utils/poll 14:103/103"
BUTTON   "Make the call"     "Trion:scripts/pollnow 14:103/103"

NEXTROW

TEXT     "Sysop"
BUTTON   "Available"         "Trion:utils/trion -A -X -U1"
BUTTON   "Unavailable"       "Trion:utils/trion -A -X -U0"
TEXT     "for chat"

NEXTROW

TEXT     "Files"
BUTTON   "Bulkupload"        "Trion:utils/TBulkUpload"
BUTTON   "CheckFileBase"     "Trion:utils/CheckFileBase I >ram:cfb"
BUTTON   "taglines"          "CED Trion:cfg/taglines.data"

NEXTROW

TEXT     "Misc."
BUTTON   "Config this"       "CED Trion:cfg/MiscGui.cfg"
BUTTON   "AttViewer"         "Trion:utils/AttViewer -L"
BUTTON   "Att test"          "Trion:utils/Attention test"

NEXTROW

TEXT     "Menus"
BUTTON   "Edit Menus"        "Ced Trion:menus/"
BUTTON   "Compile Menus"     "Trion:utils/menu #?"
TEXT     "  "

NEXTROW

; TEXT     "Trim"
; BUTTON   "Trim logs"         "Trion:utils/TTrimlogs"
; BUTTON   "Trim backup"       "execute Trion:scripts/cbdir"
; BUTTON   "Trim msgs"         "execute Trion:scripts/TrimMsgs"

; NEXTROW

TEXT     "Docs"
BUTTON   "Trion"             "Ced Trion:docs/"
BUTTON   "Lists"             "Ced Trion:docs/lists/"
BUTTON   "Utils"             "Ced Trion:docs/utils/"


NEXTROW

TEXT     "Old stuff"
BUTTON   "KillOldMail"       "Trion:utils/KillOldMail"
BUTTON   "KillOldUsers"      "Trion:utils/KillOldFiles"
QUITBUTTON

