
; place nodelists and pointlists in:      "trion:nodelists/"
; note: Place the smallest lists early in this list for more speed
;
; Format for nodelists:
;
; NODELIST    <name.*>
;
; Format for pointlist   (pointlists lack a hierarchic structure)
;
; POINTLIST   <name.*>
;


POINTLIST  pointlist.*

; NODELIST   nl-amiga.*
NODELIST   trionlist.*
; NODELIST   AMYLIST.*
; NODELIST   nodelist.*


ENDLIST


LOCAL        31-                  ; Needed to recognize your country

ADDFOREIGN   00-                  ; Needed to dial out of your country
ADDLOCAL     0                    ; Needed to dial in your country


