;
; (XPR.library)  Protocol configuration file
;
;  fields:   number  name  batch  resume  libname  ReceiveCfg  SendCfg
;
;  number   0  is default for newusers (preferable Zmodem)
;
;  number 128  is used for EMSI file transfers (1024 byte Zmodem)
;  number 129  is used for EMSI file transfers (8192 byte ZedZap (or Zmodem))
;  number 130  is used for EMSI file transfers (1024 byte ZedZip)
;  number 131  is used for EMSI file transfers (8192 byte DirectZap)
;  number 132  is used for EMSI file transfers (Kermit)
;  number 133  is used for EMSI file transfers (Janus)
;
;  number 200  is used for EMSI HYDRA mailer transfer (not in this config file)
;  number 201  is used for EMSI HYDRA8 (max block size 8192 instead of 2048)
;
;  'batch'   can be 'BATCH'  or 'SINGLE'
;  
;  'resume'  can be 'RESUME' or 'RETRY'
;            (With RESUME a partialy received file is not deleted)



#0   "Zmodem"    BATCH  RESUME  "xprzmodem.library"  "TN OR B16 F0 AN DN SN RN P"  "TN OR B16 F0 AN DN SN RN P" 
;throughput 95%

#1   "Ymodem"    BATCH  RETRY   "xprymodem.library"  "Z1 C1 B1 YB"  "ZN C1 B1 YB" 
;throughput 85%

#2   "Ymodem-G"  BATCH  RETRY   "xprymodem.library"  "Z1 C1 B1 YG"  "ZN C1 B1 YG" 
;throughput 99%

#5   "Xmodem"    SINGLE RETRY   "xprymodem.library"  "Z1 C1 B0 YS"  "Z1 C1 B0 YS"
;throughput 70%

#6   "Xmodem-CRC" SINGLE RETRY   "xprymodem.library"  "Z1 C1 B0 YS"  "Z1 C1 B0 YS"
;throughput 70%

#7   "Xmodem-1K" SINGLE RETRY   "xprymodem.library"  "Z1 C1 B1 YS"  "Z1 C1 B1 YS"
;throughput 85%

#8   "Xmodem-1K-G" SINGLE RETRY "xprymodem.library"  "Z1 C1 B1 YG"  "Z1 C1 B1 YG"
;throughput 99%

#9  "Kermit"     SINGLE RETRY   "xprkermit.library"  "Z1 C1 B0 YS"  "Z1 C1 B0 YS"
;throughput ..%




; Numbers 128 and higher are transfer protocols used by the mailer..
;
; You can only use the Xprzmodem.library V3.0 and higher for #129 !!! */
; Or use the Xprzedzap.library


;#128 "EMSI-ZMO"  BATCH  RESUME  "xprzmodem.library"  "TN OR B16 F0 AN DN SN RN P"  "TN OR B16 F0 AN DN SN RN P" 
#128  "EMSI-ZMO"  BATCH  RESUME  "xprzmodem.library"  "TN ON B16 F0 AN DN SN RN P M1024"  "TN ON B16 F0 AN DN SN RN P M1024" 

;throughput 95%


;#129 "EMSI-ZMZ"  BATCH  RESUME  "xprzmodem.library"  "TN OR B16 F0 AN DN SN RN P NY M8192"  "TN OR B16 F0 AN DN SN RN P NY M8192" 
#129  "EMSI-ZAP"  BATCH  RESUME  "xprzedzap.library"  "TN ON E16 AN DN SN RN P NY UN M8192" "TN ON E16 AN DN SN RN P NY UN M8192"

;throughput 95%


;#130 "EMSI-ZIP"  BATCH  RESUME  "xprzmodem.library"  "TN ON B16 F0 AN DN SN RN P NY M1024"  "TN ON B16 F0 AN DN SN RN P NY M1024" 
#130 "EMSI-ZIP"   BATCH  RESUME  "xprzedzap.library"  "TN ON E16 AN DN SN RN P NY UN QY M1024" "TN ON E16 AN DN SN RN P NY UN QY M1024"


#131 "EMSI-DZAP"  BATCH  RESUME  "xprzedzap.library"  "TN ON E16 AN DN SN RN P NY UN QY M8192" "TN ON E16 AN DN SN RN P NY UN QY M8192"
;throughput 95%


#132 "EMSI-KER"   BATCH  RESUME  "xprkermit.library"  "CY" "CY"


#133 "EMSI-JAN"   BATCH  RESUME  "xprjanus.library"   "xx" "xx"



; number #200 is used for HYDRA mailer transfer, not configurable

; number #201 is used for HYDRA8 mailer transfer, not configurable

