;
;Examples  (2 types possible, Multiple choice And text)
;
;Note , QuestionID is a Unique number so you can add questions later
;       and only the unanswered questions will be asked.
;       Start a question with a QuestionID: line and end it with the
;       Question: line.
;
;QuestionID:  1          ;(1-255) 
;Type:        Multi      ;field optional, options (text,multi), default: text
;Options:     3          ;field optional, default: 2
;Question:
;Are you male or female ?
;Male
;Female
;I Dunno
;
;
;QuestionID:  2          ;(1-255) 
;Type:        Text       ;field optional, options (text,multi), default: text
;Mandatory               ;field optional, Users have to answer with this.
;Lines:       4          ;field optional, default: 1
;Question:
;Tell me about your computer equipment ?
;





QuestionID:  1
Type:        Text
Mandatory
Lines:       1
Question:
When were you born ?



QuestionID:  2
Type:        Multi
Options:     3
Question:
Are you male or female ?
Male
Female
I Dunno



QuestionID:  3
Type:        Text
Mandatory
Lines:       4
Question:
Tell me about your computer equipment (4 lines) ?



