; Trion Netmail ROUTE configuration file.
;
; ROUTE  'addressed node'   'route node'
;
; The 'addressed node' is the one the message is written to, the route node
; is the one who receives mail directly from you (your boss or a node
; who polls you for mail_
;
;
; The '*' character can be used as a 'wildcard'.
;
; FI  14:103/204.*  14:103/*  14:1*  14:*
;
; The first node which 'fits' is used to route the message.
; This is why you have to put 'wildcards' at the end of the list.
; The less numbers .. the further in the list.
;
;
; In this list you put your Hubs/Hosts or eventualy the nodes who
; poll you for there mail.
;
; NetMail to your points is routed automatically.


;    Exact Point routing scheme

;    If the netmail message is for a node, it just gets routed with
;    a matching entry or wildcard in the Route.cfg.

;    If the netmail message is for a point, first it checks if there
;    is an exact routing match in the route.cfg, if there isn't
;    it checks if the message is for a point from this system, if it
;    is it is send directly. If there still is no route it will first
;    check if the boss is in the Route.cfg .. and if that's a negative
;    it will check if there was a wildcard found when checking if
;    there was an exact route match for this point number.

;    With this system you don't have to have any points in your
;    route.cfg , it is al done automatically for your points.
;    But if you place one of your points in the route.cfg you can
;    route the netmail for that point through other systems.
;    All netmail for points who are not yours are routed to
;    their boss, or themselfs or the best wildcard match.



ROUTE  350:1002/101   350:1002/101    ;Harry
ROUTE  350:1002/102   350:1002/102    ;Manuel
ROUTE  350:1002/2*    350:1002/2      ;Daniel
ROUTE  350:*          350:1001/0      ;Boss


ROUTE  14:107/201     14:107/201      ;NLA Netmail Harry
ROUTE  14:107/203     14:107/203      ;NLA Ruud 
ROUTE  14:*           14:107/0


ROUTE  39:*           39:152/0        ;AMY netmail naar HOST



ROUTE  1:*            2:284/324.0     ;Fido Amerika
ROUTE  2:*            2:284/324.0     ;Fido Europe
ROUTE  3:*            2:284/324.0     ;Fido Australia
ROUTE  4:*            2:284/324.0     ;Fido Latijns amerika
ROUTE  5:*            2:284/324.0     ;Fido Afrika
ROUTE  6:*            2:284/324.0     ;Fido Azie

