
;
;   Config file for the Trion Scheduler
;
;   Format of lines:
;
;   min hour day month DayOfWeek "command args" ["Description"]
;
;   Months range from 1 (January) to 12 (December).
;   The Day Of Week ranges from 0 (Sunday) to 6 (Saturday).


# On which days to POLL   (old system)

# 20     04   * * *      "trion:utils/poll 14:103/0"
# 21     04   * * 0,4    "trion:utils/poll 55:100/1"
# 38     04   * * 0,4    "c:execute trion:scripts/PollIfMail 55:100/1"   "?Call Michiel"
# 38     05   * * *      "c:execute trion:scripts/PollIfMail 350:1001/0" "?Call Pascal"


# Poll systems Using the 'PollHub' script.


38       03   * * 5      "c:execute trion:scripts/PollHub 210:1010/0"   "Poll Harry"
38       05   * * *      "c:execute trion:scripts/PollHub 350:1001/0"   "Poll Pascal"

# Call systems IF there is mail for them (Using 'PollIfMail' or 'Trion').

15       02   * * *      "trion:utils/trion -c -1 350:1001/0"         "Poll?Pascal"


# Mail processing.

10       02   * * *      "c:execute trion:scripts/mail"  "Do mail"
00       03   * * *      "c:execute trion:scripts/mail"  "Do mail"
30       04   * * *      "c:execute trion:scripts/mail"  "Do mail"
00       05   * * *      "c:execute trion:scripts/mail"  "Do mail"
00       06   * * *      "c:execute trion:scripts/mail"  "Do mail"
00       07   * * *      "c:execute trion:scripts/mail"  "Do mail"
00       08   * * *      "c:execute trion:scripts/mail"  "Do mail"


# Mail, files, rebuild, compile menus & nodelist, Allfiles etc... 

00       04   * * *      "c:execute trion:scripts/maintenance"  "Maintenance"

# Reduce the number of message on the system 3 times a week

15       04   * * 1,3,5  "c:execute trion:scripts/trimmsgs"     "trim msgs"

# Link all messages

45       07   * * *      "trion:utils/tmp -L -D"                "link msgs"

# Modem sound off at night

00       23   * * *     "trion:utils/trion -1 -v0"    "Sound off"
00       12   * * *     "trion:utils/trion -1 -v1"    "Sound on"

# reset the machine once a day

# 55       07   * * *      "c:execute  trion:scripts/trionreset"   "reset"

