
; systems.cfg
;
; Passwords to use for mail packets and mailer sessions.
;
; Use:
;
; <system>  <archiver>  <Password>
;
; Passwords can be up to 8 characters.
; Use 'NONE' to 'overrule' passwords.
;
; Archivers:   ZIP , LHA , LZX , NONE , UUCP    (see archive.cfg for more)
;
; You can use NONE for external mail readers like spot to save time
; You can use UUCP to start AmiGate in the archive.cfg
;


;===(  Pascal  )===   Fido, NLA, AMY, AGA, F1, Trion

2:284/324     LHA  PASSWORD
14:107/0      LHA  PASSWORD
14:107/1      LHA  PASSWORD
14:107/100    LHA  PASSWORD
39:152/0      LHA  PASSWORD
39:152/1      LHA  PASSWORD
39:152/100    LHA  PASSWORD
171:101/0     LHA  PASSWORD
171:101/1     LHA  PASSWORD
171:101/100   LHA  PASSWORD
606:3195/0    LHA  PASSWORD
606:3195/1    LHA  PASSWORD
606:3195/100  LHA  PASSWORD

350:0/0       LHA  PASSWORD
350:1001/0    LHA  PASSWORD
350:1001/1    LHA  PASSWORD
350:1001/100  LHA  PASSWORD



;===(  Harry  )===  350 Trion, 14 NLA

350:1002/101  LHA   PASSWORD
14:107/201    LHA   PASSWORD


;===(  Ruud )===

14:107/203    LHA  PASSWORD

;===(  Daniel  )===

350:1002/2      LHA  PASSWORD
350:1002/200    LHA  PASSWORD

