; User Templates

; Levels 240 and up have special possibilities and are
; used for (Co)Sysops
; F.I. When you list users with this level you will see
; also the alias of the User

;Msg flags:   View Read Private Write Attach Special
;
;  V = View,    User sees area in Lists and can go to this area.
;  R = Read,    User can Read/Scan all messages in this area.
;  P = Private, User can only Read/Scan messages To and From him.
;  W = Write,   User can Write in this area.
;  A = Attach,  User can Attach files to messages.
;  S = Special, User can Read/Scan deleted or private messages.
;
;File flags:  View List Download Upload Freedownload Edit Newfilesvisible
;
;  V = View,         User sees area in Lists and can go to this area.
;  L = List,         User can Browse and FileList through this area.
;  D = Download,     User can Download from this area.
;  U = Upload,       User can Upload in this area.
;  F = Freedownload, This area is Freedownload for users with this level.
;  E = Edit,         User can Edit files in this area (FI while browsing).
;  N = NewFilesVisible, UnValidated files are visible.
;
;
; with 'Off' you can turn off al field (same effect as value 0)
; with 'All' you can use all areas with the given flags

; You can use 'Off' with:
; TimePerDay, FileRatio, ByteRatio, MaxBytesPerDay, MaxMsgsPerDay


;  FileRatio      <= if the ratio between the number of downloaded files and
;                    uploaded files is equal or higher then this number then
;                    a user has to upload before he can download.
;                    disabled when 0 or 'Off'.
;  ByteRatio      <= if the ratio between the number of downloaded bytes and
;                    uploaded bytes is equal or higher then this number then
;                    a user has to upload before he can download.
;                    disabled when 0 or 'Off'.
;  DownloadPerDay <= Number of bytes a user can download each day.
;  FreeBytes      <= Number of bytes a user can download before ratio's
;                    kick in. Note that if zero a new user first has
;                    to upload before he can download.
;  FreeDownloads  <= Number of Files a user can download before ratio's
;                    kick in. Note that if zero a new user first has
;                    to upload before he can download.
;  TimePerDay     <= minutes a user can be online a day
;                    'Off' = 1500 minutes (a day = 1440 minutes)
;  CallsPerDay    <= Number of calls a user may make a day
;  MaxMsgsPerDay  <= Number of msgs a user may write on a day





Level            0     NewUser

FileRatio        10
ByteRatio        10
DownloadPerDay   100000
FreeBytes        50000
FreeDownloads    5
TimePerDay       15
CallsPerDay      3
MaxMsgsPerDay    10

MsgAccess   [V-PW--]    , 1 , 3                                 ;CommentToSysop
MsgAccess   [V-P---]    , 10-40                                 ;Netmail
MsgAccess   [VR----]    , 2 , 5 , 100-199 , 200-299 , 800-899   ;Local/Echomail

FileAccess  [VLDU---]   , 1 , 3-5 , 6-9 , 12-14 , 20-35 , 60-73
FileAccess  [V--U---]   , 2




Level            5     LimitedUser

FileRatio        10
ByteRatio        10
DownloadPerDay   100000
FreeBytes        50000
FreeDownloads    5
TimePerDay       15
CallsPerDay      3
MaxMsgsPerDay    10


MsgAccess   [V-PW--]    , 1 , 3
MsgAccess   [V-P---]    , 10-40
MsgAccess   [VR----]    , 2 , 5 , 100-199 , 200-299 , 800-899

FileAccess  [VLDU---]   , 1 , 3-5 , 6-9 , 12-14 , 20-35 , 60-73
FileAccess  [V--U---]   , 2



Level            10     NormalUser

FileRatio        25
ByteRatio        25
DownloadPerDay   1000000
FreeBytes        1000000
FreeDownloads    10
TimePerDay       45
CallsPerDay      5
MaxMsgsPerDay    10


MsgAccess   [V-PW--]    , 1 , 3
MsgAccess   [VR----]    , 5
MsgAccess   [V-P---]    , 10-40
MsgAccess   [VR-W--]    , 2 , 100-199 , 200-299 , 800-899

FileAccess  [VLDU---]   , 1 , 3-5 , 6-9 , 12-14 , 20-35 , 60-73
FileAccess  [V--U---]   , 2




Level            20     GoodUser

FileRatio        40
ByteRatio        40
DownloadPerDay   5000000
FreeBytes        1000000
FreeDownloads    5
TimePerDay       60
CallsPerDay      10
MaxMsgsPerDay    10


MsgAccess   [V-PW--]    , 1 , 3
MsgAccess   [VR----]    , 5
MsgAccess   [V-P---]    , 10-40
MsgAccess   [VR-W--]    , 2 , 100-199 , 200-299 , 800-899

FileAccess  [VLDU---]   , 1 , 3-5 , 6-9 , 12-14 , 20-35 , 60-73
FileAccess  [V--U---]   , 2




Level            30     VIP

FileRatio        0
ByteRatio        0
DownloadPerDay   5000000
FreeBytes        0
FreeDownloads    0
TimePerDay       90
CallsPerDay      20
MaxMsgsPerDay    10


MsgAccess   [V-PW--]    , 1 , 3
MsgAccess   [VR-W--]    , 5
MsgAccess   [V-P---]    , 10-40
MsgAccess   [VR-W--]    , 2 , 100-199 , 200-299 , 800-899

FileAccess  [VLDU---]   , 1 , 3-5 , 6-9 , 12-14 , 20-35 , 60-73
FileAccess  [V--U---]   , 2




Level            200     TrionSysop

FileRatio        0
ByteRatio        0
DownloadPerDay   5000000
FreeBytes        0
FreeDownloads    0
TimePerDay       1500
CallsPerDay      100
MaxMsgsPerDay    10


MsgAccess   [V-PW--]    , 1 , 3
MsgAccess   [VR-W--]    , 5
MsgAccess   [V-P---]    , 10-40
MsgAccess   [VR-W--]    , 2 , 50-99 , 100-199 , 200-299 , 800-899

FileAccess  [VLDU--N]   , All




Level            240     CoSysop

FileRatio        0
ByteRatio        0
DownloadPerDay   5000000
FreeBytes        0
FreeDownloads    0
TimePerDay       Off
CallsPerDay      100
MaxMsgsPerDay    10


MsgAccess   [VR-WAS]    , All

FileAccess  [VLDUFEN]   , All




Level            255     Sysop

FileRatio        0           ;Off
ByteRatio        0           ;Off
DownloadPerDay   5000000     ;Off
FreeBytes        50000       ;Off
FreeDownloads    5           ;Off
TimePerDay       Off        ;Off     (Off = 1440 mins. is a whole day)
CallsPerDay      255         ;Off     (Off = Unlimited)
MaxMsgsPerDay    255         ;Off


MsgAccess   [VR-WAS]   ,  All

FileAccess  [VLDUFEN]  ,  All


