
;;
;;   Configuration file for Trion BBS node 6
;;


; LOCAL                   ;This node (0) can't open the serial port !!!
; NULLMODEM


ICON  200  20
FONT  cleanIBM.font  8


SCREEN WIDTH   640
SCREEN HEIGHT  256
SCREEN DEPTH   1

;;  Monitor: Select a monitor:
;;       NTSC       640 x 200    60Hz   15,72Khz   (American 1084 mode)
;;       PAL        640 x 256    50Hz   15,60Khz   (Europe   1084 mode)
;;       MULTISCAN  640 x 480    58Hz   29,29Khz   (VGA/multisync monitors)
;;       EURO72     640 x 400    69Hz   29,25Khz
;;       EURO36     640 x 200    73Hz   15,76Khz
;;       SUPER72    448 x 306    71Hz   23,21Khz
;;       DBLNTSC    676 x 213    58Hz   27,66Khz
;;       DBLPAL     676 x 269    48Hz   27,50Khz

MONITOR  DONTCARE

;;  Use 'INTERLACE' and/or 'SUPER' for bigger screens 
;;  InterLace: boost vertical   resolution to  400 -  538 if possible
;;  Super:     boost horizontal resolution to 1280 - 1448 if possible

;INTERLACE
;SUPER



;  SERIAL DEVICE  serial.device          ;No typos allowed !!!
SERIAL DEVICE  nullmodem.device
SERIAL UNIT    6
SERIAL BUFFER  16384

DEFAULT BAUD   19200
DEFAULT LENGTH 28                   ;default screen length


; Modem Strings   '|' = carriage return,  '^' = escape karakter
; '^n' geeft n x 1/5 seconde pause  (BV '^1' = 1/5sec , '^5' = 1sec)
; '^|' geeft '|' karakter
; '^^' geeft '^' karakter (modem geeft bij dial fax tonen)
; Geen spaties in strings , zet dan de string tussen "..."  !!!

; NULLmodem.device strings
; ATS3=6 Zorgr voor 6 secs Delay voor een connect !!!

INIT   STRING  AT|^5
TERM   STRING  AT|^5
DIAL   STRING  ATDT
ANSWER STRING  ATS3=6A|

; number of RINGs before answering the modem
; If you expect CID (CallerID) set this to 2 else you can use 1
; In Debug mode .. CID will appear between RINGs in the log-file

RINGS   1

CARRIER DELAY  30     ;(secs)  Hoe lang op carrier wachten
CONNECT DELAY  90     ;(ticks) Als carrier hoelang voor snelheid bepalen
ESCAPE  DELAY   5     ;(secs)  Hoelang voor 'Press escape'
HANGUP  DELAY  25     ;(ticks) Hoelang carrier droppen bij ophangen


; file transfer protocols that the mailer can use
; specify all the protocols that you are able to use
; MAILER      HYDRA  ZEDZAP  DIRECTZAP  ZEDZIP  ZMODEM  (HYDRA8 JANUS KERMIT)

MAILER   HYDRA  ZEDZAP  DIRECTZAP  ZEDZAP  ZMODEM


; Path for downloading in terminal mode and local uploads (ending in : or /)

TERM PATH  RAM:

PAGE SAMPLE   trion:samples/startrek-Alert  3
BELL SAMPLE   trion:samples/startrek-comm

SLEEP WARNING  90

; Use underscores in Sysop name
; sysop comments area must be higher then 0
; NOTE:  'SYSOP NAME' move to trion:cfg/TrionRM.cfg

SYSOP  NAME      Paul_Spijkerman
SYSTEM NAME      Amiga_Pet_Shop_BBS
SYSTEM CITY      Gasselte
SYSTEM PHONE     +31-599-564696
SYSOP COMMENTS  1

; 'validate level' The level a user gets when you press F4

VALIDATE LEVEL  10

; local editor to Use .. max 19 characters.

EDITOR    Ced

; Skip Existing Uploads , or allow it and ask a new name

SKIPEXISTINGUPLOADS

