
;;;   Configuration file for the Trion resource manager


;;; Sysop name for the TrionRM monitor (waiting msgs)

SYSOP  NAME      Paul_Spijkerman


;;;   General Path definitions

;;;   Note that all entries (exept MENUTEXT) should end with a ':' or '/' !!!


PATH DEFAULT    trion:              ; Where is the key and startup & down scripts
PATH CONFIG     trion:cfg/          ; Where the executables will look for configs
PATH UTILS      trion:utils/        ; BBS executables
PATH SCRIPTS    trion:scripts/      ; Where are the scripts
PATH USERS      trion:users/        ; Here is the user data
PATH LOGS       trion:log/          ; where the logs go
PATH DATA       trion:data/         ; some private things/data of the BBS
PATH ICONS      trion:icons/        ; Where RIPscrip 'icons' go
PATH SAMPLES    trion:samples/      ;!Not needed (now) because of full path with sample use
PATH DOORS      trion:doors/        ; Were to find questionair doors (also doors: assign)
PATH TEMPDIR    ram:                ; temporary path

;;;   Path definitions for menus

PATH MENUS      trion:menus/        ; This is where the menu sources go
PATH MENUTEXT   trion:menutext      ; screens with menus Don't add a '/' !!!
; PATH MENUTEXT1  trion:menutext1/    ; BBS will add number to MENUTEXT line
; PATH MENUTEXT2  trion:menutext2/    ; BBS will add number to MENUTEXT line
PATH TEXT       trion:text/         ; screens for login, logout, etc

;;;   Path definitions for file catalogue

PATH FILECAT    trion:filecat/      ; this is where the file catalogue is kept
PATH UPLOAD     trion:Upload/       ; This is where Uploads go/are processed
PATH KILLED     trion:KilledFiles/  ; This is where deleted files go

;;;   Path definitions for mail

PATH MAIL       trion:mail/         ; This is where mail is stored
PATH INBOUND    trion:InBound/      ; This is where Incoming mail goes
PATH OUTBOUND   trion:OutBound/     ; This is where Outgoing mail goes
PATH NODELISTS  trion:NodeLists/    ; This is where nodelists go




;;; Config for the TrionRM monitor


ICON  80  0


;;; NODE         <- Number of nodes online that are visible in the monitor
;;; LASTCALLERS  <- Number of Callers in the monitor 

NODES          2     ;2
LASTCALLERS    12     ;14

;;; USEWB/USESCREEN  <- Where to put the monitor window

USESCREEN
;USEWB

;;; Screen dimensions

SCREEN WIDTH   640       ;640, 800, 1280            708
SCREEN HEIGHT  256       ;200, 256, 400, 512        274, 548
SCREEN DEPTH   3         ; 2 - 4

;;  Monitor: Select a monitor:
;;       NTSC       640 x 200    60Hz   15,72Khz   (American 1084 mode)
;;       PAL        640 x 256    50Hz   15,60Khz   (Europe   1084 mode)
;;       MULTISCAN  640 x 480    58Hz   29,29Khz   (VGA/multisync monitors)
;;       EURO72     640 x 400    69Hz   29,25Khz
;;       EURO36     640 x 200    73Hz   15,76Khz
;;       SUPER72    448 x 306    71Hz   23,21Khz
;;       DBLNTSC    676 x 213    58Hz   27,66Khz
;;       DBLPAL     676 x 269    48Hz   27,50Khz
;;       DONTCARE   640 x 2xx    Should work on every system

MONITOR  DONTCARE


;;  Use 'INTERLACE' and/or 'SUPER' for bigger screens 
;;  InterLace: boost vertical   resolution to  400 -  538 if possible
;;  Super:     boost horizontal resolution to 1280 - 1448 if possible

;INTERLACE
;SUPER


DEFAULT FONT     topaz.font    8            ;; 8       Default font
TEXT    FONT     topaz.font    8            ;; 8 or 11 Button and StringGadgets
SMALL   FONT     topaz.font    8            ;; 8       Lists



;;;  COLOR    number   red green blue

COLOR  0  10  10  10         ;;  Mid Grey
COLOR  1   0   0   0         ;;  Black
COLOR  2  15  15  15         ;;  White
COLOR  3   6   8  11         ;;  Blue

COLOR  4   9   9   9         ;;  Dark  Grey
COLOR  5  11  11  11         ;;  Light Grey
COLOR  6   9  12  10         ;;  Beige
COLOR  7   9  10  12         ;;  Light Blue

