;  Trion Log trim Util configuration file
;
;  FILESIZE in kilo byte
;
;  format:
;
;  LOGNAME  FILESIZE

trion-0.log        25
trion-1.log       100
trion-6.log         5
trion-7.log         5

error.log         15
TMP.log           50
AreaFix.log       50
Cron.log          10
TTick.log         10
callout.log       50
scheduler.log     25

