
;;;   Archive configuration 
;;;   Used by the mail processor for ARCHIVING mail

;;;   When archiving:

;;;   'target'  %t  = archive 
;;;   'source'  %s  = packet  

;;;   When extracting:

;;;   'source'  %s  = archive
;;;   'path'    %p  = inbound

;;;   The 'extension' entry is Used for archivers (like PKAX) who
;;;   can only UnArchive archive with a certain extension


ARCHIVETYPE   "LZX"
EXTENSION     ""                  ;".LZX"
RECOGNIZE     4C 5A 58  
EXTRACT       "lzx -m -Xx x %s %p"
ARCHIVE       "lzx -3 -m -Xa a %t %s"
LIST          "lzx l %s"
#


ARCHIVETYPE   "LHA"
EXTENSION     ""                  ;".LHA"
RECOGNIZE     ?? ?? 2D 6C 68   
EXTRACT       "lha -k e %s %p"
ARCHIVE       "lha -N -m a %t %s"
LIST          "lha l %s"
#


ARCHIVETYPE   "ZIP"
EXTENSION     ""                  ;".ZIP"
RECOGNIZE     50 4B
EXTRACT       "unzip -o -j %s"    ;"unzip -o -j %s -d %p"
ARCHIVE       "zip %t %s"
LIST          "unzip -l %s"
#


ARCHIVETYPE   "RAR"
EXTENSION     ""                  ;".RAR"
RECOGNIZE     52 61 72 21
EXTRACT       "unrar x %s %p"
ARCHIVE       "rar %t %s"
LIST          "unrar l %s"
#


ARCHIVETYPE   "DMS"
EXTENSION     ""                  ;".DMS"
RECOGNIZE     44 4D 53 21
EXTRACT       ""
ARCHIVE       ""
LIST          "DMS View %s"
#


;;;  Problems with ARJ , doesn't take a path to extract to ?????

ARCHIVETYPE   "ARJ"
EXTENSION     ""                  ;".ARJ"
RECOGNIZE     60 EA
EXTRACT       "unarj e %s"
ARCHIVE       ""
LIST          "unarj l %s"
#


;;;  Problems with ZOO , doesn't take a path to extract to

ARCHIVETYPE   "ZOO"
EXTENSION     ""                  ;".ZOO"
RECOGNIZE     5A 4F 4F
EXTRACT       "zoo x %s"
ARCHIVE       ""
LISY          "zoo l %s"
#


;;;  Problems with PKAX , doesn't take a path to extrac to
;;;  Only extract files with an .ARC extension

ARCHIVETYPE   "ARC"
EXTENSION     ".ARC"
RECOGNIZE     1A
EXTRACT       "pkax -x %s"
ARCHIVE       ""
LIST          "pkax -v %s"
#



ARCHIVETYPE   "GIF"
EXTENSION     ""                      ;".GIF"
RECOGNIZE     47 49 46 38             ; 37 61
EXTRACT       "VT NL LO %s"
ARCHIVE       ""
LIST          "VT IN %s"
#


ARCHIVETYPE   "JPEG"
EXTENSION     ""                             ;".JPG"
RECOGNIZE     ?? ?? ?? ?? ?? ?? 4A 46 49 46
EXTRACT       "VT NL LO %s"
ARCHIVE       ""
LIST          "VT IN %s"
#


ARCHIVETYPE   "IFF"
EXTENSION     ""                      ;".IFF"
RECOGNIZE     46 4F 52 4D
EXTRACT       "VT NL LO %s"
ARCHIVE       ""
LIST          "VT IN %s"
#

