N
Y
Y
daydream:adds/DIZPLAJME
daydream:utils/mapus.134 >NIL: -arkRd 
s:RC.STRIPFILE

;Line  1 = Check uploaded files? [Y]es or [N]o..
;Line  2 = Check DMS arcives? [Y]es or [N]o..
;Line  3 = Add adds to archives [Y]es or [N]o..
;Line  4 = Name and FULL path of advert!
;Line  5 = Mapus path + syntrax
;Line  6 = Path + name to Stripfile