1
[- No description available -]
mail:tick.cfg
mail:tick/fhatch

- Line 1 : *NEW* [1/0] If 1 then Use MailMAnager. If 0 then use Fhatch.
- Line 2 : Default filenote description if none given when asked in program.
- Line 3 : Path and Program filename for Fhatch configuration file.
- Line 4 : Path and Program filename for the Fhatch Executable program.
- Line 5-> All future... any suggestions? send them to me (see Docfile).

*** WARNING!!! *** *** WARNING!!! *** *** WARNING!!! *** *** WARNING!!! ***
Look below for Example FHATCH Tick Area config. If you do NOT use this type
of config, the program will NOT work... ask me for an update if you need it!
You do NOT have to make this config here again! It's just an example.
------------------- Example Tick Config (area partition) ----------------

AREA CLINKLST
        PATH UDBASE0:fido
        TO 912:3000/2 *

AREA CLINK
        PATH UDBASE0:fido
        TO 912:3000/2 *
        TO 912:3000/1 HX

; My program will not have problems with comment lines like this one!

AREA WARP.INFO
        PATH UDBASE0:fido
        TO 137:2/101.1 HNX
        TO 137:2/101.2 HNX
        TO 137:2/101.3 HNX
        TO 137:2/101.4 HX
        TO 137:1/0
        TO 137:2/102 H
        TO 137:8/0 H
        TO 137:7/0 H

AREA WARP.AM-CNET
        PATH UDBASE0:bbstools
        TO 137:1/0
        TO 137:2/102 H
        TO 137:8/0 H
        TO 137:7/0 H

AREA WARP.AM-GENBBS
        PATH UDBASE0:bbstools
        TO 137:1/0
        TO 137:8/0 H
        TO 137:2/102 H
        TO 137:7/0 H

AREA WARP.AM-FIDO
        PATH UDBASE0:fido
        TO 137:1/0
        TO 137:8/0 H
        TO 137:2/102 H
        TO 137:7/0 H

AREA WARP.AM-UUCP
        PATH UDBASE0:fido
        TO 137:1/0
        TO 137:7/0 H
        TO 137:8/0 H
        TO 137:2/102 H
< TAB > TO....        \
                       Flags like: Hold, Recieve only, No .Tic, etc.

Etc. Etc.... 

Good luck.. have fun... and Join wARP...
