19200               ; Baudrate Modem-Computer                  -Mailboxprog
FIXED               ; Anpassung der Rate VARIABEL (2400er) oder FIXED (z.B. HST)
atz                 ; modeminit-String
NETPASSWORT         ; Net-Passwort fuer anrufende Boxen
0                   ; Default-Area bei Login (0 = area0 = Local-Mail)
0                   ; 0=AMNET (voreingestelltes Netzwerk)
BBS:                ; Pfad der Mailbox
-reserved-
-reserved-
-reserved-;-----------------------------------------------------------------
atz                 ;Modem-Init-String                          -Mailer
WSB                 ;AMNET-Node des Servers
076346888           ;Tel-# des Servers
SENDPASSWORT        ;Netpasswort im Server
lharc               ;Verwendeter Packer (Name des Programmes im c:-Dir)
xprcall -s B0F0 xprzspeed.library serial.device %f ;Aufruf fuer Zmodem-Send
xprcall -r B0F0 xprzmodem.library serial.device %f ;und ZModem-Empfang
-reserved-                                         ;bei %f wird Filename eingesetzt
