DayDream:Configs/Reqlist.DDRequest
DayDream:Display/ISO/ReqList
2
1
DayDream:Configs/Request.Msg
All


; Path to request list data file
; Path to request list ascii/ansi file (TXT/GFX added)
; Conf for message, 0 = no messages
; Base for messages
; Path to msg outlook specification
; Receiver of the message
