
;First DayDream.DAT

;Board Name
;SysOp
;Ascii-send path
;Download path
;OpLogin DisplayMode
;System password
;New user password
;User editor password
;Filescan buffer size (kb)
;Preset for new users
;Idle in secs
;Conference to join if the user hasn't access to the autojoin-conference.
;Free bytes in HDD required for uploads
;Y = Ask reason to chat, N = Don't
;R = Real names in who etc, H = Handles
;L = Location in who etc, O = Org
;Y = Disable wildcards in logon prompt, N = Don't
;Ask new user questionaire if not answered yet. (Y/N)
;SysOp color (in chat)
;User color (in chat)
;Shell Password

!DAYDREAM.DAT
BBSNAME...... My DayDream
SYSOP........ Me
ASCIISENDPATH Dh1:ascii/
CHATDLPATH... dh1:download/
OP_DMODE..... 1
SYSTEM_PW.... -
NEWUSER_PW... -
USERED_PW.... -
FSCAN_BUFFER. 60
NEW_PRESET... 1
IDLE......... 180
AUTOCONF..... 1
FREEFORUL.... 2000000
ASK_REASON... Y
NAMEMODE..... H
LOCATION..... O
DISABLEWILDS. N
QUESTIONS.... N
SYSOP_COL.... [36m
USER_COL..... [35m
SHELL_PW..... SODOM
~


;Specs for Conferences.DAT

;Number of the conference
;Conference name
;Conference path
;Number of fileareas
;Uploads to ...
;Number of messagebases in conference
;Comments to ...
;Path of directory to place uploads in
;N S [XXX] for global new files scan. 
;Toggle conference on as a default for scanning new files
;+ = Base, * = Next Conf, ~ = End Conferences.DAT

;Number of base
;Area type. L = Local, E = Echomail, N = Netmail
;Lowest message (If -, will be taken from existing Conferences.DAT)
;Highest message (If -, will be taken from existing Conferences.DAT)
;Max messages
;Name of base
;FidoTAG or -
;FidoOrigin or -
;FidoAddress (4d!)
;Y = Allow Public messages, N = Do not Allow Public messages
;Y = Allow Private messages, N = Do not Allow Private messages
;R = Real Names, H = Handles 
;Quote method. L = Quoteline after quote, > = Plain "> ", I="> " with initials
;Toggle base as a default for global read and message grabbing

!CONFERENCES.DAT
CONF_NUMB..... 1
CONF_NAME..... Example Conference
CONF_PATH..... DayDream:ExampleConf/
CONF_FILEAREAS 2
CONF_UPLOADSTO 2
CONF_MSGBASES. 2
CONF_COMMENTS. 1
CONF_ULPATH... DayDream:ExampleConf/New/
CONF_NSAREAS.. A
CONF_DEFFSCAN. N
+
BASE_NUMBER... 1
BASE_TYPE..... L
BASE_LOWEST... -
BASE_HIGHEST.. -
BASE_MAXMSGS.. 1000
BASE_NAME..... Comments to SysOp
BASE_FIDOTAG.. -
BASE_ORIGIN... -
BASE_FIDOADD.. -
BASE_ALLOWPBLC N
BASE_ALLOWPRIV Y
BASE_NAMES.... R
BASE_QUOTE.... L
BASE_DEFGRAB.. Y
+
BASE_NUMBER... 2
BASE_TYPE..... L
BASE_LOWEST... -
BASE_HIGHEST.. -
BASE_MAXMSGS.. 1000
BASE_NAME..... General Discussion
BASE_FIDOTAG.. -
BASE_ORIGIN... -
BASE_FIDOADD.. -
BASE_ALLOWPBLC Y
BASE_ALLOWPRIV N
BASE_NAMES.... R
BASE_QUOTE.... L
BASE_DEFGRAB.. Y
~

;External Commands

;Command to launch from DayDream.
;Door type. 0=DOS, 1=DayDream, 2=Paragon (N/A yet), 3=stdio, 4=Textfile
;Sec level required
;Command to _LVOExecute(). Remember <>NIL:!!
;~ = End External Commands, + = Next one

!EXTERNALCOMMANDS.DAT
DOOR_COMMAND.. WALL
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/Wall %N
+
DOOR_COMMAND.. FAKER
DOOR_TYPE..... 1
DOOR_SECURITY. 200
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/Faker %N
+
DOOR_COMMAND.. GRAB
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/Grab %N
+
DOOR_COMMAND.. NEW
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/New %N
+
DOOR_COMMAND.. WHOF
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/Whof %N
+
DOOR_COMMAND.. STAT
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. C:Run <>NIL: DayDream:Doors/Rexx %N Doors:rexxdir/stats.dd
+
DOOR_COMMAND.. SETLRP
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. Run <>NIL: Doors:Rexx %N Doors:rexxdir/setlrp.dd
+
DOOR_COMMAND.. ALLFLD
DOOR_TYPE..... 1
DOOR_SECURITY. 5
DOOR_EXECUTE.. Run <>NIL: Doors:Rexx %N Doors:rexxdir/allfld.dd
+
DOOR_COMMAND.. ALKO
DOOR_TYPE..... 3
DOOR_SECURITY. 5
DOOR_EXECUTE.. moretext dh1:ascii/alko.guide
+
DOOR_COMMAND.. TETRIS
DOOR_TYPE..... 3
DOOR_SECURITY. 5
DOOR_EXECUTE.. doors:contris! %H
~

;Sec Level
;Preset number
;Free files
;Free bytes (in KB, max 65535!!!!)
;Preset Desc
;Status (0=Active, 1=Deleted, 2=Frozen, 3=New)
;+ = Seuraava potilas, ~ = End Access.DAT

!ACCESS.DAT
PRESET_SEC.... 5
PRESET_NUMBER. 1
PRESET_FFILES. 0
PRESET_FBYTES. 0
PRESET_DESC... New User
PRESET_STATUS. 3
+
PRESET_SEC.... 200
PRESET_NUMBER. 2
PRESET_FFILES. 0
PRESET_FBYTES. 0
PRESET_DESC... Active
PRESET_STATUS. 0
+
PRESET_SEC.... 210
PRESET_NUMBER. 3
PRESET_FFILES. 0
PRESET_FBYTES. 0
PRESET_DESC... ELiTE
PRESET_STATUS. 0
~

;Archivers.dat.........

;D = Diskarchiver, F = Filearchiver
;Extension
;Archiver name
;Test Command
;Extract Command
;Add/Create Command
;Keyword for Archive Corrupted #1
;Keyword for Archive Corrupted #2
;Keyword for Archive Corrupted #3
;File_id.diz extract command
;File_Id.diz add command
;+ = Next archiver, ~ = End

!ARCHIVERS.DAT
ARC_TYPE...... F
ARC_EXTENSION. LHA
ARC_NAME...... LHA
ARC_TEST...... rx doors:rexxdir/mainostaja.rx %A
ARC_EXTRACT... dh1:utils/lha -m -M E %A %F
ARC_ADD....... dh1:utils/lha -m -M A %A %F
ARC_FAIL1..... Failed
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/lha -m -M E %A %F
ARC_FIDADD.... dh1:utils/lha -m -M A %A %F
+
ARC_TYPE...... D
ARC_EXTENSION. DMS
ARC_NAME...... DiskMasher
ARC_TEST...... Mapus -rRAt %A
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... Error:
ARC_FAIL2..... Error
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/dmsdescript x FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/dmsdescript a FILE_ID.DiZ %A
+
ARC_TYPE...... D
ARC_EXTENSION. XMS
ARC_NAME...... XMash
ARC_TEST...... dh1:utils/XMash test %A
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... Decrunch Error
ARC_FAIL2..... Error
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/XMash extract %A dt FILE_ID.DiZ
ARC_FIDADD.... -
+
ARC_TYPE...... F
ARC_EXTENSION. TXT
ARC_NAME...... Text file
ARC_TEST...... -
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... -
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/txtextract e FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/txtextract a FILE_ID.DiZ %A
+
ARC_TYPE...... F
ARC_EXTENSION. DOC
ARC_NAME...... Document
ARC_TEST...... -
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... -
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/txtextract e FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/txtextract a FILE_ID.DiZ %A
+
ARC_TYPE...... F
ARC_EXTENSION. EXE
ARC_NAME...... Executable
ARC_TEST...... -
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... -
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/exedescript x FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/exedescript a FILE_ID.DiZ %A
+
ARC_TYPE...... F
ARC_EXTENSION. TAB
ARC_NAME...... Tablature
ARC_TEST...... -
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... -
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/txtextract e FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/txtextract a FILE_ID.DiZ %A
+
ARC_TYPE...... F
ARC_EXTENSION. NFO
ARC_NAME...... Infofile
ARC_TEST...... -
ARC_EXTRACT... -
ARC_ADD....... -
ARC_FAIL1..... -
ARC_FAIL2..... -
ARC_FAIL3..... -
ARC_FIDEXTRACT dh1:utils/txtextract e FILE_ID.DiZ %A
ARC_FIDADD.... dh1:utils/txtextract a FILE_ID.DiZ %A
~

;Protocols.DAT

;ID Char
;Protocol name
;Efficiency Percent
;XPR Library name
;XPR Init string
;B = Batch, N = Not A Batch Protocol
;+ = Next, ~ = End

!PROTOCOLS.DAT
XPR_ID........ Z
XPR_NAME...... Z-Modem
XPR_EFFICIENCY 97
XPR_LIB....... xprzmodem.library
XPR_INIT...... TN,OR,B10,DN,KY,SN,RN
XPR_TYPE...... B
+
XPR_ID........ N
XPR_NAME...... Z-Modem 1K
XPR_EFFICIENCY 96
XPR_LIB....... xprzmodem.library
XPR_INIT...... -
XPR_TYPE...... B
+
XPR_ID........ 1
XPR_NAME...... Z-Modem 32K
XPR_EFFICIENCY 96
XPR_LIB....... xprzmodem32k.library
XPR_INIT...... TN,OR,B0,F0,AN,DN,KY,SN,RN,P
XPR_TYPE...... B
~

;Display.DAT
;
;Id Number
;Name of DayDream:Display/-subdir
;N = No Ansi, Y = Ansi
;N = No incoming conversion, Y = Activate incoming conversion
;N = No outgoing conversion, Y = Activate outgoing conversion
;N = No conversion in files, Y = Conversion in files
;Table id for incoming chars (1-99)
;Table id for outgoing chars (1-99)
;Font name (Not yet supported by DD)
;Font size (Not yet supported by DD)
;Stringdatas or languages. 0 = Built-in
;+ = Next, ~ = End

!DISPLAY.DAT
DPL_ID........ 1
DPL_PATH...... Iso/
DPL_ANSI...... Y
DPL_INCONV.... N
DPL_OUTCONV... N
DPL_FILESCONV. N
DPL_TABLE1.... 0
DPL_TABLE2.... 0
DPL_FONT...... topaz.font
DPL_SIZE...... 8
DPL_STRINGS... 1
+
DPL_ID........ 2
DPL_PATH...... Iso/
DPL_ANSI...... N
DPL_INCONV.... N
DPL_OUTCONV... N
DPL_FILESCONV. N
DPL_TABLE1.... 0
DPL_TABLE2.... 0
DPL_FONT...... topaz.font
DPL_SIZE...... 8
DPL_STRINGS... 1
+
DPL_ID........ 3
DPL_PATH...... Iso/
DPL_ANSI...... Y
DPL_INCONV.... Y
DPL_OUTCONV... Y
DPL_FILESCONV. Y
DPL_TABLE1.... 1
DPL_TABLE2.... 2
DPL_FONT...... ibm.font
DPL_SIZE...... 8
DPL_STRINGS... 1
+
DPL_ID........ 4
DPL_PATH...... Iso/
DPL_ANSI...... N
DPL_INCONV.... Y
DPL_OUTCONV... Y
DPL_FILESCONV. Y
DPL_TABLE1.... 1
DPL_TABLE2.... 2
DPL_FONT...... ibm.font
DPL_FSIZE..... 8
DPL_STRINGS... 0
~

;Multinode.DAT
;
;Node number
;Number of IO-Device
;Min baud
;Min baud for new users
;Screen Width
;Screen length
;Font Name
;Font Size
;0 = Custom Screen, 1 = Public Screen
;0 = Default Palette, 1 = Ansi Palette
;Shanghai windows (Y/N)
;Def pub screen to front, when visitor (Y/N)
;Screen to front, when connected (Y/N)
;Open Screen at start (Y/N) (not yet available)
;Command when pressed in server (not yet available)
;+ for next, ~ for end

!MULTINODE.DAT
MNODE_NODE.... 1
MNODE_IODEV... 1
MNODE_MBAUD... 1200
MNODE_MNBAUD.. 1200
MNODE_SCREENW. 640
MNODE_SCREENL. 256
MNODE_FONT.... topaz.font
MNODE_FSIZE... 8
MNODE_STYPE... 1
MNODE_PALETTE. 1
MNODE_SHANGHAI N
MNODE_DEFPTOF. N
MNODE_AUTOFRNT Y
MNODE_AUTOOPEN Y
MNODE_COMMAND. run daydream n1 <>NIL:
+
MNODE_NODE.... 2
MNODE_IODEV... 2
MNODE_MBAUD... 2400
MNODE_MNBAUD.. 2400
MNODE_SCREENW. 640
MNODE_SCREENL. 256
MNODE_FONT.... topaz.font
MNODE_FSIZE... 8
MNODE_STYPE... 0
MNODE_PALETTE. 1
MNODE_SHANGHAI N
MNODE_DEFPTOF. N
MNODE_AUTOFRNT Y
MNODE_AUTOOPEN Y
MNODE_COMMAND. run daydream n2 ls <>NIL:
~

;IO-Device[xx].Dat
;
;Number of IO-Device
;Unit
;Baud rate
;Device name
;PRE-Init string
;Offhook string
;Answer string
;Init string
;Modem "OK" response
;Modem "RING" message
;Modem "NO CARRIER" response
;Modem "CONNECT" response
;Connection speed identifier,speed (1)
;Connection speed identifier,speed (2)
;Connection speed identifier,speed (3)
;Connection speed identifier,speed (4)
;Connection speed identifier,speed (5)
;Connection speed identifier,speed (6)
;Connection speed identifier,speed (7)
;Connection speed identifier,speed (8)
;Connection speed identifier,speed (9)
;Connection speed identifier,speed (10)
;Error correction identifier
;Delay between connection and first output (secs)
;Delay before modem init attempts (secs)
;S = Shared, E = Exclusive mode
;+ = Next, ~ = End

!IO-DEVICES.DAT
IO_NUMBER..... 1
IO_UNIT....... 0
IO_BAUD....... 38400
IO_DEVICE..... serial.device
IO_PREINIT.... |ATZ|
IO_OFFHOOK.... AT &D0 M0 H1|
IO_ANSWER..... ATA|
IO_INIT....... AT M0 L0W2%C3\A3\N3\L1|
IO_OK......... OK
IO_RING....... RING
IO_NOCARRIER.. NO CARRIER
IO_CONNECT.... CONNECT
IO_SPEED1..... -
IO_SPEED2..... -
IO_SPEED3..... -
IO_SPEED4..... -
IO_SPEED5..... -
IO_SPEED6..... -
IO_SPEED7..... -
IO_SPEED8..... -
IO_SPEED9..... -
IO_SPEED10.... -
IO_ERRORCORR.. ARQ
IO_DELAY1..... 1
IO_DELAY2..... 2
IO_MODE....... S
+
IO_NUMBER..... 2
IO_UNIT....... 0
IO_BAUD....... 38400
IO_DEVICE..... nullmodem.device
IO_PREINIT.... AT|
IO_OFFHOOK.... AT|
IO_ANSWER..... ATA|
IO_INIT....... AT|
IO_OK......... OK
IO_RING....... RING
IO_NOCARRIER.. NO CARRIER
IO_CONNECT.... CONNECT
IO_SPEED1..... -
IO_SPEED2..... -
IO_SPEED3..... -
IO_SPEED4..... -
IO_SPEED5..... -
IO_SPEED6..... -
IO_SPEED7..... -
IO_SPEED8..... -
IO_SPEED9..... -
IO_SPEED10.... -
IO_ERRORCORR.. ARQ
IO_DELAY1..... 1
IO_DELAY2..... 2
IO_MODE....... S
~

;Security.DAT
;
;Sec Level
;File ratio
;Byte ratio
;Pages per call
;Time limit
;Conf Access #1
;Conf Access #2
;ON/OFF SWITCHES: (Y/N) Download
;Upload
;Read Message
;Enter Message
;Page SysOp
;Leave Comment
;Read Bulletins
;List Files
;New Files
;Zippy Search
;Run Door
;Join conference
;Change MSG Area
;Change Personal Info
;Relogin
;Tag Editor
;View User stats
;View time
;Hydra Transfer
;Expert Mode
;Eall Message
;Fidonet Message
;Send Private Message
;Read All Private Messages
;UserED
;View Logfile
;SysOp Download
;Userlist
;Delete Any Msg
;Remote shell
;Who
;Move Files
;Select file conferences
;Select message bases
;Send netmail
;+ = Next, ~ = End

!SECURITY.DAT
SEC_LEVEL..... 1
SEC_FRATIO.... 3
SEC_BRATIO.... 3
SEC_PAGES..... 3
SEC_TIMELIMIT. 20
SEC_CONFACC1.. XXXXXXXXXXXXXX------------------
SEC_CONFACC2.. --------------------------------
SECF_DOWNLOAD. N
SECF_UPLOAD... N
SECF_READMSGS. N
SECF_ENTERMSG. N
SECF_PAGE..... N
SECF_COMMENT.. N
SECF_BULLETINS N
SECF_LISTFILES N
SECF_NEWFILES. N
SECF_ZIPPY.... N
SECF_RUNDOOR.. N
SECF_JOINCONF. N
SECF_MSGAREAC. N
SECF_CHANGEINF N
SECF_RELOGIN.. N
SECF_TAGED.... N
SECF_VIEWSTATS N
SECF_VIEWTIME. N
SECF_HYDRA.... N
SECF_EXPERT... N
SECF_EALL..... N
SECF_FIDOMSG.. N
SECF_PRIVMSG.. N
SECF_READALL.. N
SECF_USERED... N
SECF_VIEWLOG.. N
SECF_SYSOPDL.. N
SECF_USERLIST. N
SECF_DELETEANY N
SECF_SHELL.... N
SECF_WHO...... N
SECF_MOVE..... N
SECF_SFCONFS.. N
SECF_SMBASES.. N
SECF_NETMAIL.. N
+
SEC_LEVEL..... 5
SEC_FRATIO.... 3
SEC_BRATIO.... 3
SEC_PAGES..... 3
SEC_TIMELIMIT. 30
SEC_CONFACC1.. X-------------------------------
SEC_CONFACC2.. --------------------------------
SECF_DOWNLOAD. N
SECF_UPLOAD... N
SECF_READMSGS. Y
SECF_ENTERMSG. Y
SECF_PAGE..... Y
SECF_COMMENT.. Y
SECF_BULLETINS N
SECF_LISTFILES N
SECF_NEWFILES. N
SECF_ZIPPY.... N
SECF_RUNDOOR.. Y
SECF_JOINCONF. N
SECF_MSGAREAC. N
SECF_CHANGEINF Y
SECF_RELOGIN.. N
SECF_TAGED.... N
SECF_VIEWSTATS Y
SECF_VIEWTIME. Y
SECF_HYDRA.... Y
SECF_EXPERT... Y
SECF_EALL..... N
SECF_FIDOMSG.. N
SECF_PRIVMSG.. Y
SECF_READALL.. N
SECF_USERED... N
SECF_VIEWLOG.. N
SECF_SYSOPDL.. N
SECF_USERLIST. N
SECF_DELETEANY N
SECF_SHELL.... N
SECF_WHO...... Y
SECF_MOVE..... N
SECF_SFCONFS.. N
SECF_SMBASES.. N
SECF_NETMAIL.. N
+
SEC_LEVEL..... 200
SEC_FRATIO.... 3
SEC_BRATIO.... 3
SEC_PAGES..... 3
SEC_TIMELIMIT. 60
SEC_CONFACC1.. XXX-X---------------------------
SEC_CONFACC2.. --------------------------------
SECF_DOWNLOAD. Y
SECF_UPLOAD... Y
SECF_READMSGS. Y
SECF_ENTERMSG. Y
SECF_PAGE..... Y
SECF_COMMENT.. Y
SECF_BULLETINS Y
SECF_LISTFILES Y
SECF_NEWFILES. Y
SECF_ZIPPY.... Y
SECF_RUNDOOR.. Y
SECF_JOINCONF. Y
SECF_MSGAREAC. Y
SECF_CHANGEINF Y
SECF_RELOGIN.. Y
SECF_TAGED.... Y
SECF_VIEWSTATS Y
SECF_VIEWTIME. Y
SECF_HYDRA.... Y
SECF_EXPERT... Y
SECF_EALL..... N
SECF_FIDOMSG.. Y
SECF_PRIVMSG.. Y
SECF_READALL.. N
SECF_USERED... N
SECF_VIEWLOG.. N
SECF_SYSOPDL.. N
SECF_USERLIST. Y
SECF_DELETEANY N
SECF_SHELL.... N
SECF_WHO...... Y
SECF_MOVE..... N
SECF_SFCONFS.. Y
SECF_SMBASES.. Y
SECF_NETMAIL.. N
+
SEC_LEVEL..... 210
SEC_FRATIO.... 7
SEC_BRATIO.... 0
SEC_PAGES..... 3
SEC_TIMELIMIT. 120
SEC_CONFACC1.. XXX-XX--------------------------
SEC_CONFACC2.. --------------------------------
SECF_DOWNLOAD. Y
SECF_UPLOAD... Y
SECF_READMSGS. Y
SECF_ENTERMSG. Y
SECF_PAGE..... Y
SECF_COMMENT.. Y
SECF_BULLETINS Y
SECF_LISTFILES Y
SECF_NEWFILES. Y
SECF_ZIPPY.... Y
SECF_RUNDOOR.. Y
SECF_JOINCONF. Y
SECF_MSGAREAC. Y
SECF_CHANGEINF Y
SECF_RELOGIN.. Y
SECF_TAGED.... Y
SECF_VIEWSTATS Y
SECF_VIEWTIME. Y
SECF_HYDRA.... Y
SECF_EXPERT... Y
SECF_EALL..... Y
SECF_FIDOMSG.. Y
SECF_PRIVMSG.. Y
SECF_READALL.. N
SECF_USERED... N
SECF_VIEWLOG.. N
SECF_SYSOPDL.. N
SECF_USERLIST. Y
SECF_DELETEANY N
SECF_SHELL.... N
SECF_WHO...... Y
SECF_MOVE..... N
SECF_SFCONFS.. Y
SECF_SMBASES.. Y
SECF_NETMAIL.. Y
+
SEC_LEVEL..... 255
SEC_FRATIO.... 0
SEC_BRATIO.... 0
SEC_PAGES..... 50
SEC_TIMELIMIT. 300
SEC_CONFACC1.. XXX-XX--------------------------
SEC_CONFACC2.. --------------------------------
SECF_DOWNLOAD. Y
SECF_UPLOAD... Y
SECF_READMSGS. Y
SECF_ENTERMSG. Y
SECF_PAGE..... Y
SECF_COMMENT.. Y
SECF_BULLETINS Y
SECF_LISTFILES Y
SECF_NEWFILES. Y
SECF_ZIPPY.... Y
SECF_RUNDOOR.. Y
SECF_JOINCONF. Y
SECF_MSGAREAC. Y
SECF_CHANGEINF Y
SECF_RELOGIN.. Y
SECF_TAGED.... Y
SECF_VIEWSTATS Y
SECF_VIEWTIME. Y
SECF_HYDRA.... Y
SECF_EXPERT... Y
SECF_EALL..... Y
SECF_FIDOMSG.. Y
SECF_PRIVMSG.. Y
SECF_READALL.. Y
SECF_USERED... Y
SECF_VIEWLOG.. Y
SECF_SYSOPDL.. Y
SECF_USERLIST. Y
SECF_DELETEANY Y
SECF_SHELL.... Y
SECF_WHO...... Y
SECF_MOVE..... Y
SECF_SFCONFS.. Y
SECF_SMBASES.. Y
SECF_NETMAIL.. Y
~

;Schedule.DAT
;
;Hour
;Force logoff at the end of this hour
;System Password
;New user password
;+ = Go on, ~ = end, all 24 hours must be present!

!SCHEDULE.DAT
SCHE_HOUR..... 0
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 1
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 2
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 3
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 4
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 5
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 6
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 7
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 8
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 9
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 10
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 11
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 12
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 13
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 14
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 15
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 16
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 17
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 18
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 19
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 20
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 21
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 22
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
+
SCHE_HOUR..... 23
SCHE_LOGOFF... N
SCHE_SYSPW.... -
SCHE_NEWUSERPW -
~

;Server.DAT
;
;Top left x-coordinate
;Top left y-coordinate
;Autoiconify
;H = Show handles in listview (R = Realnames)
;O = Show organization in listview (L = Location)
;~ = end

!SERVER.DAT
SRV_X......... 0
SRV_Y......... 75
SRV_ICONIFY... N
SRV_NAMES..... R
SRV_LOCATION.. O
~



