1				;send user the title screen
bbs:text/title.ansi		;name of the title screen
1				;send user the news screen	
bbs:text/news.ansi		;name of the news screen
1				;send user the goodbye screen
bbs:text/goodbye.ansi		;name of the goodbye screen
1				;send user the newfiles file
bbs:text/newfiles.txt		;name of the newfiles file
nodelist:			;path to the nodelist directory
1				;allows netmails to unlisted nodes
100				;default cost for unlisted nodes
250				;privileged access level
800000				;bytes compacted per minute
1200				;maximum number of messages inside a packet
BBS:configs/			;my bbs config dir
ram:qwk/			;my qwk temporary dir
3				;number of bulletins
bbs:bulletins/niveis.txt	;my user access bulletin
bbs:bulletins/dicas.txt		;my tips for using the bbs
file:textos/internet.txt	;how to send internet messages
4				;number of archivers
LHA				;name of the first archiver
lha -f a			;add command
rx xarc x			;extract command
#?				;wildcard
ZIP 2.0				;ZIP archiver
zip
rx xarc x
#?
ARC				;ARC (argh!!!)
arc2 a
rx xarc x
#?
HPACK				;HPACK (slow....)
hpack a
hpack x
*

;This line won't be read! Make sure the lines don't have any lines between them
;because this will cause an error in the program!