FidoMail
; You must leave the above line as a label, anything will do.
; Read the online manual for information on setting up the necessary
; external encoders! Inbound mail, for you, must be decoded by your
; email package or from mailbox files by "maildecoder", included or
; available on AmiNet.

; This node will receive mail by uuencode
2:999/123.0     user@host.com

; This node will receive Base64 MIME
3:123/321.0     fido@abbs.org          MIME

