; This is a configuration file for Zeus:Rexx/Files/MoveOldFiles.rexx.
;
; Format:
;
; AREA <from> <to> <age in days>
;
; All files older than <age in days> will be moved from <from> to <to>

; Debugging Software
AREA  1000  116 7

; Text/magazine AmiNet areas.
AREA  1012  150 7
AREA  1013  150 7
AREA  1014  150 7
AREA  1015  150 7
AREA  1016  152 7
AREA  1017  150 7
AREA  1018  150 7

; Graphics
AREA  1019  100 7

; Drivers
AREA  1020  166 7

; Archivers
AREA  1021  175 7

; Commodities
AREA  1022  160 7

; CLI
AREA  1023  162 7

; Libraries
AREA  1024  165 7

; ARexx
AREA  1025  110 7

; Shells
AREA  1026  173 7

; Timing
AREA  1027  162 7

; Virus Checkers
AREA  1028  163 7

; WB
AREA  1029  160 7

