;
;  Zeus ZGate example config file
;

; First, UseNet newsgroups. Note that the FidoNet tag can be anything, even
; a copy of the usenet name, but should be less than 60 characters for
; safety. The config below should two alternate naming methods; what you
; use yourself is up to you.

;    <InterNet Tag>               <FidoNet Tag>            [Moderator/Followup]

AREA alt.books.arthur-clarke      alt.books.arthur-clarke
AREA alt.books.isaac-asimov       alt.books.isaac-asimov
AREA alt.books.larry-niven        alt.books.larry-niven
AREA uk.local.north-wales         uk.local.north-wales
AREA soc.culture.welsh            soc.culture.welsh

AREA comp.sys.amiga.emulations    comp.sys.amiga.emulations
AREA comp.sys.amiga.games         comp.sys.amiga.games
AREA comp.sys.amiga.graphics      comp.sys.amiga.graphics
AREA comp.sys.amiga.applications  comp.sys.amiga.applications
AREA comp.sys.amiga.audio         comp.sys.amiga.audio
AREA comp.sys.amiga.programmer    comp.sys.amiga.programmer

; An alternative naming scheme created by Marc Bradshaw.
; Here, we give a meaningful name of <bbs name>_<area type>_<short name>
; E.g, TKG = my BBSs name, NG = Newsgroup.

AREA comp.sys.amiga.announce      TKG_NG_ANNOUNCE
AREA comp.sys.amiga.datacomm      TKG_NG_DATACOMM
AREA comp.sys.amiga.hardware      TKG_NG_HARDWARE
AREA comp.sys.amiga.marketplace   TKG_NG_MARKETPLACE
AREA comp.sys.amiga.misc          TKG_NG_MISC
AREA comp.sys.amiga.networking    TKG_NG_NETWORKING

; Mailing lists
; For the 'origin of list', you should put the address which is in the
; To: field of the E-Mails. If this address changes due to different
; servers hosting a single list, you can add in more lines as for the
; MUI list below.
; The first LIST entry for a particular mailing list will be the one
; messages are sent to.
; There is no real need to subscribe to a mailing list with a unique
; user name (<name>@yourbbs.com), but it can make things neater.

;    <Origin of List>     <Echo to Gate to> <Name Subscribed With>

LIST mui@SunSITE.Informatik.RWTH-Aachen.DE           TKG_ML_MUIDEV   mui-list
LIST mui-request@sunsite.Informatik.RWTH-Aachen.de   TKG_ML_MUIDEV   mui-list
LIST mui-request@SunSITE.Informatik.RWTH-Aachen.DE   TKG_ML_MUIDEV   mui-list
LIST mui@Susi.Informatik.RWTH-Aachen.de              TKG_ML_MUIDEV   mui-list
LIST mui@Star.Informatik.RWTH-Aachen.DE              TKG_ML_MUIDEV   mui-list

LIST MUI@Onelist.com                                 TKG_ML_MUINEW   neil
LIST MUI@egroups.com                                 TKG_ML_MUINEW   neil

LIST rc5-list@amiga.cistron.nl                       TKG_ML_RC5      rc5-list
LIST rc5-list-bounce@amiga.cistron.nl                TKG_ML_RC5      rc5-list

LIST just-amiga@egroups.com   TKG_ML_JUSTAMIGA ja-list

LIST TEXTQUICKNEWS@CNNIMAIL1.CNN.COM TKG_ML_CNN      cnn-list
LIST TEXTQUICKNEWS@CNNIMAIL4.CNN.COM TKG_ML_CNN      cnn-list
LIST TEXTCNNSIDAILY@cnnimail3.turner.com TKG_ML_CNN      cnn-list
LIST TEXTCNNSIDAILY@CNNIMAIL4.CNN.COM TKG_ML_CNN      cnn-list
LIST TEXTPLUS@cnnimail3.turner.com   TKG_ML_CNN     cnn-list
LIST TEXTEWIRE@CNNIMAIL2.CNN.COM     TKG_ML_CNN     cnn-list
LIST TEXTCNNFRINGE@CNNIMAIL4.CNN.COM TKG_ML_CNN     cnn-list
LIST SportsToday@cnnsi.com           TKG_ML_CNN     cnn-list
LIST SpecialDelivery@CNN.COM         TKG_ML_CNN     cnn-list
LIST cnn-list@TKGBBS.FREESERVE.CO.UK TKG_ML_CNN     cnn-list


; See the manual for an explanation of this one.

;         <Filename>

XGROUPS   uunews:active

; End of example

