;
;  NLTOSCR  sample configuration file     by Paul Spijkerman
;
;  Do not start entries with spaces !!  
;
;  if nodelist name  <path/tcclist.#?>  suplied , use folowing information
;
nodelist:  tcclist

;  output name for the ANSI-screen
;
output:    xbulletins:TCCans.gr1

;  path and name of the headerfile and footerfile
;
header:    xenolink:tcc/header.ans
footer:    xenolink:tcc/footer.ans

;  Parameters for telephone number replacement
;
;  AddForeign -> Number needed to add to dial out of the country
;  Local      -> Number to identify numbers in your country
;  Addlocal   -> number to add to a local number to make it dialable
;
AddForeign:  09-
Local:       31-
AddLocal:    0

;  Do we want to start the screen with a @
;  keywords  use@  or  donotuse@     (default: donotuse@) 
;
donotuse@

;  Do we want node entries beginning with :
;  Zone,Region,Host,Hub,Pvt,Point and Down    displayed.
;  use keywords  hosts  or  nohosts   (default: nohosts)
;
NoHosts

;  filter out nodes with special functions, by checking out 
;  the beginning of the BBSname
;  default : no filter is used
;
filter:   TCC

;  
;  default : no flag is defined
;
nodisplayflag:   NOLIST

endentry

;
; This is where the next nodelist definitions start :
;

nodelist:  nl-amiga
output:    xbulletins:NLAans.gr1
header:    Xenolink:NLA/header.ans
footer:    Xenolink:NLA/footer.ans
AddForeign:  09-
Local:       31-
AddLocal:    0
donotuse@
nohosts
;  filter:   NLA
;  nodisplayflag:   NOLIST
endentry



nodelist:  031nodes
output:    xbulletins:031ans.gr1
header:    xenolink:031/header.ans
footer:    xenolink:031/footer.ans
AddForeign:  09-
Local:       31-
AddLocal:    0
donotuse@
nohosts
;  filter:   031
;  nodisplayflag:   NOLIST
endentry



nodelist:  alien
output:    xbulletins:alienans.gr1
header:    Xenolink:alien/header.ans
footer:    Xenolink:alien/footer.ans
AddForeign:  09-
Local:       31-
AddLocal:    0
donotuse@
nohosts
;  filter:   Alien
;  nodisplayflag:   NOLIST
endentry

