SoIFls
temp:
daydream:users/

;Filename (.lha, conference number and area number added on automatically).  

;temporary dir (e.g. a dir on your HD called temp:, or t: if you have enough 
;memory...)

;User directory (usually daydream:users).  Note that this directory and the
;sub-directories must exist in order for YML to work.