;semi-colons **MUST** be in column 1 for comments

;Packers supported - Add your own if you wish
PACKER   ZIP	UnZip -j %s
PACKER	ARC	PKaX -e %s

;note that in the LHA commands below. only the FILE_ID.DIZ file will be
;extracted.
PACKER	LHA	LHA x -I -h %s FILE_ID.DIZ
PACKER	LZH	LHA x -I -h %s FILE_ID.DIZ

;SHORTLEN   # of chars to allow FILE-ID.DIZ to be used as SHORT
;           greater than this causes the FILE-ID.DIZ text to be stored
;           as a long description.  If not present, default is 80.
SHORTLEN	320

;Temporary directory where files will be decompressed
WORKDIR	RAM:
