1
1
1
4
35
FILES.TXT
ram:
0
0
0
Al_Saveriano
1
0
; 1 = yes/on 0 = no/off : lines 1,2,8,9,10,12 & 13
; line 1: long distance allowed/not allowed
; line 2: File attached/not attached to message for user
; line 3: Message base number of private Email base
; line 4: Level to upgrade user
; line 5: Minutes added to user
; line 6: File that you wish to have attached if line 2 item is ON
; line 7: Directory where general AutoVal log will appear (ram: is recommended)
; line 8: 0 = N.American phone format.  1 = Europe, Aussie phone format
; line 9: 0 = if line 10 is 1 or if you don't know what this is for! :)
;         1 = dial 1-AC-Exc when local AC & LD exchange exist
; line 10: 0 = normal LD/Local call format. 1 = dial 1-EXC when local AC & LD exc
; line 11: Name that AutoVal messages will originate from.
; line 12: Single named users allowed. 0=yes ; 1=no                 
; line 13: BlanketLocal local phone exachange
