; This file must be named doors:xbj/xbj.cfg

; Daily time limit:  This specifies the number of minutes per day each user
; is allowed to play.  Leave this out and it will default to 15 minutes.
time_limit 15

; Amount of cash a user starts with at the beginning of each month.
; Default is $5000.
newuser_cash 5000

; Amount of cash a user gets after they have gone bankrupt.  This should be
; relatively small to discourage users from purposely going bankrupt.
; Default is a thousand bucks.
bankrupt_cash 1000

; Monthly score files:  The high scores for the current and previous months
; are maintained as text files.  You can display them as bulletins on your BBS.
;
; You may generate three varieties of files:  plain ASCII, 16-color ANSI,
; or DLG ANSI codes.  The ASCII and ANSI files can be used on any BBS
; (including DLG), while the DLG ANSI file is a convenience for DLG.
; Xenolink sysops will want to generate the ASCII and ANSI files, and use
; the TypeBulletin or TypeSpecificFile command to display them.  DLG sysops
; will just want the DLG ANSI files, and should use dlg:df to show them.
;
; Specify a full path for each file you want to generate.  They do not have
; to be in the doors:xbj directory.  If you don't want to generate any
; particular file, leave it out.  The default is to generate no files.
; You must un-comment the lines for the files you want to generate.

; High scores for the CURRENT month
;curr_ascii	doors:xbj/this_month.txt
;curr_ansi	doors:xbj/this_month.gr1
;curr_dlg	doors:xbj/this_month.dlg

; High scores for the PREVIOUS month
;prev_ascii	doors:xbj/last_month.txt
;prev_ansi	doors:xbj/last_month.gr1
;prev_dlg	doors:xbj/last_month.dlg
