; Dizzy:Dizzy.config
;
; Example Configuration File For Dizzy
;
; Dizzy looks in the drawer its run from, then S: for this file
;
;
; Switches:
;
; Switch Commands take one argument - ON or OFF
; INFO  -  Do we want Dizzy to output progress messages?
;
; Default  ON

INFO	ON


; DELETEREADME  -  Do we want to delete the readme file?
;
; Default  OFF

DELETEREADME ON


; DELETEOLDARC  -  Do we want to delete the old archive?
; (Ignored if only adding a diz to an existing archive and not moving dir)
;
; Default  OFF

DELETEOLDARC ON


; REPLACEDIZ  -  Do we want Dizzy to overwrite an existing FILE_ID.DIZ
;               if one is found in the archive?
;
; Default  OFF

REPLACEDIZ ON


; What packer do you want to use to convert the archives to.
; This MUST be one of the entries in Archivers (see below).
; Dizzy will convert from lha to lzx or vice versa, but it wont
; let you try and convert all you're files to JPG ;))
;
; Normally a 3 letter extension - maximum size is 20 chars
;
; Default = LZX

PREFERREDPACKER LZX


; Paths:
;
; Source directory to search for .readmes
;
; Default = DIZZY:Downloads/
;
SOURCEDIR  Dizzy:Downloads/


; Destination directory to put new archives
;
; Default = Dizzy:Processed/

DESTDIR DIZZY:Processed/


; Full path of BBS Advert to add to archive
; Leave this out if you don't want to add an advert
;
; Default = DIZZY:Dreamtime.AD3 - Keep this if you want :-)))
;

BBSAD DIZZY:DreamTime.AD3


; Dizzy needs a drawer to unpack archives to when converting.
; Don't put the name of an existing drawer in here, as Dizzy creates it
; when started then deletes it when its finished.
;
; If you have enough memory, you can change this to RAM:Dizzytemp.
; Use this with care though - if you don't have enough memory to unpack
; the archive, Dizzy will pack the partial archive without informing 
; you of any errors - YOU HAVE BEEN WARNED!!!
;

TEMPDISK DIZZY:Dizzytemp


; Name of the new description file, this will probably always be FILE_ID.DIZ

DIZNAME FILE_ID.DIZ


; The readme pattern to search for - will usually be #?.readme but you might
; want to change it so it only processes certain files. A maximum of 40
; characters are allowed for the pattern

PATTERN #?.readme



; The default description to put int FILE_ID.DIZ if Dizzy can't match any of
; your description 'Types' (see below)

DEFAULTDESC "Recent Aminet Download"


; Description  'TYPES'  
; 
; If you look at an Aminet .readme, you'll see that the  first few lines 
; have a 'TYPE' followed by a short entry for that type e.g.    
;   
; SHORT:   A fancy utility   
; TYPE:    util/misc   
; AUTHOR:  foo@bar.server.com  
;  
; Dizzy lets you specify each 'TYPE' that you want to extract from the 
; readme and put into the FILE_ID.DIZ.  It also allows you to skip past the  
; first word of each type (e.g.  delete the SHORT:) and declare the maximum 
; number of characters you want from this 'TYPE' (set to 0 for the full 
; line) 
; 
; Format of the TYPE command is:  
; 
; TYPE SEARCH  SKIPWORD (ON or OFF)  MAXCHARACTERS  
;  
; e.g.   SHORT:  ON  50  - would look for a line starting SHORT:   
;                         It would start at the second word of this line 
;                         and read the description up to the end of the 
;                         line or 50 characters, whichever comes first.   
;  
; You can have up to 20 'TYPES', and if any TYPE isn't found in the  
; readme, it simply gets ignored.  If NONE of your TYPEs are matched,
; (very unlikely if you always include  SHORT:) Dizzy will use the
; DEFAULTDESC to make the FILE_ID.DIZ 
;
; Note that even though Dizzy sets up two TYPES as default, these are
; 'forgotten' if any types are found in the config - if you want the
; defaults of SHORT: and TYPE: plus one other, say AUTHOR:, you MUST
; have all three in you're config


TYPE SHORT: ON 80
TYPE TYPE:  OFF 0


;Archivers
;
;The ARC command tells Dizzy how to use each archiver.
;i.e. how to unpack it, add files etc.
;
;ARC is followed by four strings (in quotes), these are:
;
;ARC "file extension" "unpack command" "add command" "replace command"
;
;To let Dizzy handle non-packed filetypes, you only need to declare the 
;file extension followed by "NONE".

ARC "LHA"  "LHA -q x"  "LHA -q -r a"     "LHA -q r"

ARC "LZH"  "LHA -q x"  "LHA -q -r -0 a"  "LHA -q r"

ARC "LZX"  "LZX -q x"  "LZX -q -r a"     "LZX -q -r u"

ARC "TXT"  "NONE"      "NONE"            "NONE"

ARC "JPG"  "NONE"      "NONE"            "NONE"

ARC "GIF"  "NONE"      "NONE"            "NONE"

