NOLOGSYSOP
;VERBOSE
LOGMAINTUSER
NOLOGACCESS 0
NOLOGACCESS 1
SHOWNUM 20
ADJUST 16
USETERMLEN

;     The following options may or may not be present.  They may be used
;     in any order except for the USETERMLEN (see below for more info on
;     USETERMLEN).  Options are:
;
;              BACKTOBACK        -> Log back to back callers
;              NOBACKTOBACK      -> DO NOT log back to back callers
;              LOGMAINTUSER      -> Log all users with maint except #1
;              NOLOGMAINTUSER    -> Do not log users with SysOp maint
;              NOLOGNUMBERONE    -> do not log account #1's calls
;              LOGNUMBERONE      -> Log account #1's calls
;              VERBOSE           -> Verbose (debug) output to user's screen
;                                   this option only works if the user has
;                                   SYSOP MAINT - otherwise ignored
;              NOLOGID x         -> Don't log account x
;              NOLOGNAME x       -> don't log handle x
;              NOLOGACCESS x     -> don't log access x
;
;----------- -> SHOWNUM x         -> Show last x callers
;            -> ADJUST x          -> Adjust users TermLength by this number
;IF USED,    ->                      (added to facilitate other mods to text)
;THESE THREE ->                      Increase or decrease until Top Ten fits
;OPTIONS MUST->                      on user's screen when using USETERMLEN
;EXIST IN    ->                      default ADJUST = 11.
;LAST10.CFG  -> USETERMLEN        -> Use the user's TERMLENGTH to determine
;IN THIS     ->                   -> number of last callers to display
;ORDER!      ->
;
;  NOTE: "SHOWNUM x" will always be used to set the number of entries that
;        will be logged into the last ten data.  For this reason, if SHOWNUM
;        is not configured, the user will see ONLY the last ten callers by
;        default as that is how many callers will be logged to last 10 data
;        in that case.  Also note that the SHOWNUM option must exist
;        before (above) the USETERMLEN x and ADJUST options in this cfg file,
;        if these options are used.  Also if "ADJUST x" is to be used, it
;        must exist above (before) USETERMLEN.
;
;        ie. If SHOWNUM 40 is set, and a user's terminal length is set
;        to 23, the user may only see the last 23 callers but 40 entries
;        will actually exist in the Last10.data
;