ZONE 911
Password "----" 911:5000/0 911:5000/1
NODELISTPATH "NODELIST:"
NODELIST "CLINKLST"

Password "----" 1:2410/207
Password "----" 1:2410/2000 1:2410/400
Password "----" 1:3613/7.0 911:6010/0 911:6010/1
NODELIST "NODELIST" DIFF "NODEDIFF"

DELOLDLISTS
DELOLDDIFFS

; The passwords have been deleted from this example file for reasons that
; should be obvious.

; Future World runs 2 FidoNet domains, Fido and CLink, and this simplified
; TrapList configuration file works perfectly for us.
