; METHOD 2 - Trapdoor answers ALL CALLS, transfers control to CNet for BBS.

; This is an edited version of a TrapDoor config file which was tested on the
; CNet main support BBS, Future World. 

; Note the use of the "bbswake" command to transfer control to a BBS port!
; To prepare the system, the port which will be "spawned" by TrapDoor
; must be opened from the CNet Control Panel, and then must be made
; "Offline" using the pull-down menu item from the port's screen.

; Finally you must "Write" the control panel settings so the CNet port
; will always default to "Offline".

NODE 1:2410/215.0
AKA "911:7000/0 911:7000/1 911:7000/2 1:2410/215"
NAME "Future World! --> CNet BBS Headquarters"
SYSOP "Jim Selleck"

; Point setup: set up the password for your boss node here.
; Leave this unset ("") to operate a node or set it to
; something else to not accept calls from unlisted nodes.

PASSWORD ""
BAUD 19200
LOCK
MINBAUD 1200
NOMAXBAUD

; Point setup: set this to your boss' FidoNet address.
; Set this to your own address when running a node.

BOSS 1:2410/215.0

OUTBOUND "Mail:Outbound"
INBOUND  "Mail:Inbound"
NODELIST "NodeList:"

; This is the number of rings that TrapDoor will wait
; before answering the phone. If you don't want TrapDoor
; to answer the phone, just set this to RINGS 9999.

RINGS 1

; A banner line that will be displayed to human callers.
; Instead of specifying a string, you can also send out
; a complete banner file here. The second line gives you
; an example of that.

; BANNER "Future World! --> CNet BBS Headquarters"
BANNER "<mail:Banner"

; This is the commandline that TrapDoor will execute when
; a user presses Escape to enter the BBS.
; To disable the BBS, use BBSMODE NONE or omit the statements.

BBSCOMMAND "CNet:bbswake port 1 baud %B lock %b"
BBSINOUT ""
BBSMODE SPAWN
BBSMESSAGE "Outside of Network-Only hours, hit ESCAPE or '/' TWICE for the BBS: "

; In addition to the Escape key, you can specify another
; character that users can press twice to enter the BBS.
; WARNING: Do not use an asterisk ('*') here!

BBSCHAR '/'

; On Future World, we wrote a short AmigaDOS script file to first backup
; the inbound files and then run CNet:Toss to import and export messages
; from the BBS.

AFTERSESSION "run execute s:Toss-Backup"

; This defines the name of the logfile for TrapDoor.

LOGFILE "Mail:TrapDoor.Log"
DIALER ""

; Here are the optional loglevels for various logging groups.

; LOGLEVEL 0:2      ; debugger
; LOGLEVEL 1:2      ; link
; LOGLEVEL 2:2      ; transfer
; LOGLEVEL 3:2      ; system
; LOGLEVEL 4:2      ; modem
; LOGLEVEL 5:2      ; session
; LOGLEVEL 6:7      ; security
; LOGLEVEL 7:2      ; outside
; LOGLEVEL 8:7      ; information
; LOGLEVEL 9:2      ; scheduler

; If you have a "slow" modem, set this to higher values.

SLOWMODEM 10

; This is the setup we use for our USR HST dual standard 16.8K modem

MODEMINIT     "~~ATZ|~~~~~ATPH0V1X7M0E0E0S2=31S0&B1&H1&D3|~~"
MODEMDIALPRE  "ATDP"
MODEMDIALPOST "|"
MODEMANSWER   "ATA|"
MODEMHANGUP   "|^"

; This is a more generic modem setup

; MODEMINIT "~~ATZ|~~~~"
; MODEMHANGUP "||^|"
; MODEMDIALPRE "~~ATS7=60B1X7DP"
; MODEMDIALPOST "|"
; MODEMANSWER "~~ATS7=25B0A|"

ARQSTRING "ARQ"
SNIFFARQ

; This informs TrapDoor which Amiga device is your
; serial device. For example, a Supra 2400zi modem
; needs SERIALNAME "modem0.device".

SERIALNAME "serial.device"
SERIALUNIT 2
SERIALFLAGS 0
ADJUST 0
SHARED
DSR
7WIRE

; This tells TrapDoor what command to execute to handle
; incoming File Requests. Please consult the manual for
; a more detailed description.
; To turn off File Requests, use FREQUEST "".

FREQUEST ""

; This is the name of TrapDoor's ARexx port.
; If you have multiple lines, you need to change this
; for each line.

REXXNAME "TrapDoor"

; Where should TrapDoor put its windows?
; Note that on NTSC machines and their smaller screens,
; you will have to change the value of STATWINDOW.

LOGWINDOW 30/15/580/133
STATWINDOW 30/155/580/44
SCREENMODE PUBLIC
PUBSCREENNAME Trapdoor
BACKGROUND
NOAUTOOVERSCAN
NOINTERLACE
; QUIET
; COLORS 2560/4095/10/160
COLORS $AAA/$000/$DDC/$66A
RETRIES 30
REDIALDELAY 5
NOQUIET
NOSWEPULSE
ANSWER

; Enable accounting with ACCOUNTING and specify accounting
; limits. The template for ACCTMAX is:
; ACCTMAX "cost calls-out failed-sessions busy nocarrier voice"

; ACCOUNTING
; ACCTMAX "3000 20 2 20 5 2"

BEEPDISPLAY
RINGINGS 5
