#
#                            RoT_UseWall v1.11
#                                   by
#                               Shadowspawn
#
# Anything following a '#' symbol is a comment and ignored by RoT_UseWall.
#
# Enter your BBS name here.  Do NOT add phone numbers or other sorts of ads.
# (NOTE: This is not a requirement - just etiquette)
#
ORGANIZATION =The Realm of Twilight BBS
#
# Add your nodes here.  The format is:
#             <email address> | <description>
# where
#       <email address> is the address that all wall messages from your BBS
#                       are sent to
#       <description>   is a short string that will be displayed when the
#                       user selects the [L]ist Nodes option
# You can have as many of these as you like.
#
# e.g.
# MAILNODE =wall@realm.tdkcs.waterloo.on.ca | The Realm of Twilight BBS
# MAILNODE =wall@foo | The Foo BBS
# MAILNODE =wall@bar | The Bar BBS
# This will send all messages posted on your board to wall@foo, wall@bar
# and wall@realm.tdkcs.waterloo.on.ca
#
# The first one is my board.  Add as many of your own as you wish.
MAILNODE =wall@realm.tdkcs.waterloo.on.ca | The Realm of Twilight BBS
#
# The followin indicates how long to keep wall messages around.
#
DAYS = 3
#
# However, never allow the number of messages to drop below the following
# value!
#
MIN_ENTRIES = 20
