8
4
0
Doors:MezzLog.dta
Doors:SvenskMezz.dta
Doors:Mezz.dta
28
0
BBS
CALL
DIAL
ATDT
CENSORENDSHERE

#     Swedish descriptions a couple of lines down!
#
# The first line sets the number of lines your wall should be (1-15)
#  The second line is the minimum of characters you must write
#   The third line should be "1" if you want a logfile, "0" if you don't want
#   one.
#    The fourth line is the path and name of your logfile. The program will
#    not create an own logfile, therefore there must be one there before
#    you run the program! 
#    If you have set line three to "0" you don't have to bother about this line!
#     The fifth line is the name and path of your languagefile
#      The sixth line is the name and path of your messagefile where all
#      text will be stored.
#       This is the minstatus required to be able to change the wall
#        The eigth line should be a one if you want the program to replace 
#        censored text with the text on line 12 in the language file.
#        If you don't even want censored text to be saved, put this line to
#        a zero!
#         On the nineth you can start writing what words the program should
#         look for. If one of them are found, the whole message will be replaced
#         with the line you specified in line 12 in the languagefile.
#         All the words must be in UPPER CASE!
#         After the last word you must write 99999, this to indicate that the
#         wordlist is finished.
#         If you don't want any words censored then just write 99999 at line 7!
#
