doors:rpgs/battleg/
SPD=15
TPS=10
HTRO=0

;SPD=10 is for the Sessions allowed per day
;
;TPS=15 is for the Time allowed per session
;
;HTRO=0 is to tell BG when to update the users turns
;   0 = every 24 hours
;   1 = every 12 hours
;   2 = the program doesn't update them.  The external maintanence program
;       does the updates (bgchared).  This option can only be used by
;       registered users.
;
;There must be nothing else on those first three lines!!! (What's after them
;isn't read anyway, so this extra text is alright...)