; Trap List Config File for Frontiers BBS, SysOp: Dotoran!

Zone    1                                   ; My Zone (1=Eastern US)

Node    1:260/121.0                         ; My Node Number

NodeListPath    "NodeList:"                 ; Location of my NODELISTS

BufferSize      65536                       ; 64K Buffer for File I/O

NodeList        "NODELIST" DIFF "NODEDIFF"  ; Search For These File Types

NoGenOldStyle                               ; For Backwards Compatibility
GenNewStyle                                 ; Use NEW Style Index Files

CheckCRC                                    ; Check Validity of NodeLists
DelOldLists                                 ; Delete OLD NodeList Files
DelOldDiffs                                 ; Delete OLD NodeDiff Files

Report sysdata:log/Traplist                 ; Create a "TrapList" Log File
Comment SUA                                 ; Also include SysOp, User, and
                                            ; All Comment Fields In the Log

Cost            -1          "-"             ; Don't Allow UnPublished Calls.

Dial            "1-716-"    ""              ; Strip Area Codes When Calling
                                            ; Other Local Nodes.
