DayDream:Bulletins/Bulletin.8
DayDream:Bulletins/Bulletin.9
DayDream:Configs/Weektop
H
E
C
I
2
1





;This week (.GFX/.TXT added autimatically)
;Last week (.GFX/.TXT added autimatically)
;Output format or - to use internal (.GFX/.TXT added autimatically)
;H = Handles, N = Real names
;E = EALL, A = ALL, N = No messages
;Message type. M=Mono, C=Color
;Message type 2. C=Custom, I=Internal
;Conf to place messages
;Base to place messages

