H
O
H
DayDream:Wares/Bulletins/Bulletin.2
DayDream:Wares/Bulletins/Bulletin.3
DayDream:Wares/Bulletins/Bulletin.4
DayDream:Wares/Bulletins/Bulletin.5
DayDream:Wares/Bulletins/Bulletin.6
DayDream:Wares/Bulletins/Bulletin.7


LINE 1 : If "H" Use handles, if "N" use real names
LINE 2 : If "O" Use organization, if "L" use location
LINE 3 : If "D" disable headers, if "H" use default headers
LINE 4 : Path to Top 10 uploaders (.TXT / .GFX Added automagically)
LINE 5 : Path to Top 10 leechers (.TXT / .GFX Added automagically)
LINE 6 : Path to Top 10 uploaders & downloaders (.TXT / GFX AA)
LINE 7 : Path to Top 10 Message Writers (.TXT / .GFX Added automagically)
LINE 8 : Path to Top 10 Callers (.TXT / GFX AA)
LINE 9 : Path to Top 10 Junk uploaders (.TXT / GFX AA, Faker required) 

