; Area definitions : [Conf:Area] [Name or Tag]

1:1 New Users
2:1 General
2:2 Dokulamppu
3:1 Quitar
4:1 TN.YLEINEN
4:2 TN.TIEDOTUS
4:3 TN.TIETOKONEET
4:4 TN.PELIT
4:5 TN.VAPAA-AIKA
4:6 TN.PURKIT
4:7 TN.MARKKINAT
4:8 TN.KOULUT
4:9 TN.POLITIIKKA
4:10 TN.OHJELMOINTI
4:11 TN.URHEILU
4:12 TN.ELEKTRONIIKKA
4:13 TN.MUSIIKKI
4:14 TN.ROOLIPELIT
4:15 TN.PELI_1
4:16 NETMAIL
5:1 Boing...
6:1 Elämäntapai
7:1 Abduction
8:1 DayDream
31:1 Sood
31:2 sood2

; Packet name for WWF-Packets / Replies, .WWF / RWF added automagically

BBSID HuMANOiD

LHAPATH "dh1:utils/lha"

