M
M - Memory Available
SYS:c/Avail


F
F - Free Space on Upload Drives
free


D
D - Devices Available
SYS:c/info


T
T - Tasks Running
SYS:c/Status
FULL
This does not include ALL tasks, just those run from a shell/cli
A
A - Assignments
SYS:c/Assign
LIST

V
V - Version Information
SYS:c/version


S
S - System Information
SYS:c/si

Please hold, this takes a few moments...
C
C - Custom Chips Installed
SYS:c/ecs


E
E - Errors from DOS
SYS:c/DosError
ALL
Here is a list of the DOS errors you can get on AmigaDOS
