/***************************************************************************/
/* Program Name    : bbs.config                                            */
/* Program Version : 2.00                                                  */
/* Creation Date   : 12-12-91                                              */
/* Last Update     : 02-11-94                                              */
/* Author          : Ing. Gerhard Mörth                                    */
/* Copyright       : This software is (C) (1990 - 1994) by G_&_CH_MOERTH   */
/***************************************************************************/

SystemName=>>> GMC-BBS V2.00 <<< [31m%H:%M:%S
SystemSysop=Gerhard MOERTH
SystemUsersMax=300

System....Location=  These are the Locations where the files are placed
SystemFileLocation=RAM:
SystemProtLocation=GMC-BBS:System/
SystemStatLocation=GMC-BBS:System/
SystemTextLocation=GMC-BBS:Text/
SystemUserLocation=GMC-BBS:System/

Pack_Files=ON

Power_Led_Display=OFF

Prot_Internal=OFF

ParkHD_Delay=-1

SetClock_Delay=3600

Security_Min_BM=10
Security_Min_FS=10
Security_Min_MB=10
Security_Min_PM=10
Security_Min_SM=10
Security_Min_UM=10

Security_Min_SC=50
Security_Min_WB=60
Security_Min_MD=70
Security_Min_RE=80
Security_Min_DE=90
Security_Min_EU=100

SysOp_Ready=YES
Copyright=OFF
File_Out=OFF
Printer_Out=OFF
Serial_Device=ON
Speech_Out=ON

*===> 14400 Baud Modem (with Fax Class 2 or 3)
ModemAnswer=ATA
ModemAttn=0
ModemBusy=BUSY
ModemError=ERROR
ModemFastConnect=*CONNECT*
ModemFaxRecog=+FCON
ModemHandshaking=RTS/CTS
ModemHangUp=ATH0
ModemNoAnswer=NO ANSWER
ModemNoCarrier=NO CARRIER
ModemNoDialtone=NO DIALTONE
ModemOk=OK
ModemOpen1=ATE0M0S0=0S2=0
ModemOpen2=
ModemOpenFax1=AT+FAA=1
ModemOpenFax2=AT+FDIS=1,3,0,0,0,0,0,0
ModemOpenFax3=AT+FLID="     +43 1 123-45-67"
ModemReset=ATZ0
ModemRing=RING
ModemRingCount=1
Modem300=*300*
Modem1200=*1200*
Modem2400=*2400*
Modem4800=*4800*
Modem7200=*7200*
Modem9600=*9600*
Modem12000=*12000*
Modem14400=*14400*
Modem16800=OFF
Modem19200=OFF
Modem21600=OFF
Modem24000=OFF
Modem26400=OFF
Modem28800=OFF
Modem38400=DTE SPEED
Modem57600=OFF
Modem64000=OFF
Modem76800=OFF
Modem115200=OFF

*****************************************************************************

Prot_UL_ESL1=        Execution String Line 1 for external Upload Protocol
Prot_UL_ESL2=        Execution String Line 2 for external Upload Protocol
Prot_UL_Comment=     Comment to the Upload Protocol

Prot_UL_ESL1_0=xprd -lxprymodem.library -oYS,C0,B0 -d%D -u%U
Prot_UL_ESL2_0=-x64 -s%S -h -a$%A -c RECEIVE %P%F
Prot_UL_Comment_0=X-Modem, 128 Byte Blocks, Checksum

Prot_UL_ESL1_1=xprd -lxprymodem.library -oYS -d%D -u%U
Prot_UL_ESL2_1=-x64 -s%S -h -a$%A -c RECEIVE %P%F
Prot_UL_Comment_1=X-Modem, 1024 Byte Blocks, CRC-16

Prot_UL_ESL1_2=xprd -lxprymodem.library -oYA,O%P -d%D -u%U
Prot_UL_ESL2_2=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_2=Y-Modem A, 2048 Byte Blocks, No CRC-checking

Prot_UL_ESL1_3=xprd -lxprymodem.library -oYB,O%P -d%D -u%U
Prot_UL_ESL2_3=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_3=Y-Modem Batch, 1024 Byte Blocks, CRC-16

Prot_UL_ESL1_4=xprd -lxprzmodem.library -oB64,OR,P%P,M1024 -d%D -u%U
Prot_UL_ESL2_4=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_4=Z-Modem, 64-1024 Byte Blocks, CRC-16 or CRC-32

Prot_UL_ESL1_5=xprd -lxprzmodem.library -oB64,OR,P%P,M8192 -d%D -u%U
Prot_UL_ESL2_5=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_5=Z-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

Prot_UL_ESL1_6=xprd -lxprbimodem.library -oB64,OR,P%P -d%D -u%U
Prot_UL_ESL2_6=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_6=BI-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

*****************************************************************************

Prot_DL_ESL1=        Execution String Line 1 for external Download Protocol
Prot_DL_ESL2=        Execution String Line 2 for external Download Protocol
Prot_DL_ESL3=        Execution String Line 2 for external Download Protocol
Prot_DL_Comment=     Comment to the Download Protocol

Prot_DL_ESL1_0=xprd -lxprymodem.library -oYS,C0,B0 -d%D -u%U
Prot_DL_ESL2_0=-x64 -s%S -h -a$%A -c SEND %P%F
Prot_DL_ESL3_0=
Prot_DL_Comment_0=X-Modem, 128 Byte Blocks, Checksum

Prot_DL_ESL1_1=xprd -lxprymodem.library -oYS -d%D -u%U
Prot_DL_ESL2_1=-x64 -s%S -h -a$%A -c SEND %P%F
Prot_DL_ESL3_1=
Prot_DL_Comment_1=X-Modem, 1024 Byte Blocks, CRC-16

Prot_DL_ESL1_2=xprd -lxprymodem.library -oYA -d%D -u%U
Prot_DL_ESL2_2=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_2=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_2=Y-Modem A, 2048 Byte Blocks, No CRC-checking

Prot_DL_ESL1_3=xprd -lxprymodem.library -oYB -d%D -u%U
Prot_DL_ESL2_3=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_3=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_3=Y-Modem Batch, 1024 Byte Blocks, CRC-16

Prot_DL_ESL1_4=xprd -lxprzmodem.library -oB64,M1024 -d%D -u%U
Prot_DL_ESL2_4=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_4=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_4=Z-Modem, 64-1024 Byte Blocks, CRC-16 or CRC-32

Prot_DL_ESL1_5=xprd -lxprzmodem.library -oB64,M8192 -d%D -u%U
Prot_DL_ESL2_5=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_5=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_5=Z-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

Prot_DL_ESL1_6=xprd -lxprbimodem.library -oB64 -d%D -u%U
Prot_DL_ESL2_6=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_6=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_6=BI-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

*****************************************************************************

BM_SV_Path=          Path to the Root Directory in Bulletins Menu
BM_SV_Directory=     Root Directory Name in Bulletins Menu
BM_SV_Comment=       Comment to the Directory Name
BM_Security_RB=      Security Level for Read Bulletin

BM_SV_Path_0=GMC-BBS:
BM_SV_Directory_0=Bulletins_Menu/
BM_SV_Comment_0=Bulletins Menu Area
BM_Security_RB_0=0

BM_SV_Path_1=
BM_SV_Directory_1=RAM:
BM_SV_Comment_1=RAM: ( SysOp only )
BM_Security_RB_1=100

BM_SV_Path_2=
BM_SV_Directory_2=DH0:
BM_SV_Comment_2=DH0: ( SysOp only )
BM_Security_RB_2=100

BM_SV_Path_3=
BM_SV_Directory_3=DH1:
BM_SV_Comment_3=DH1: ( SysOp only )
BM_Security_RB_3=100

*****************************************************************************

FS_SV_Path=          Path to the Root Directory in File System
FS_SV_Directory=     Root Directory Name in File System
FS_SV_Comment=       Comment to the Directory Name
FS_Security_UL=      Security Level for Upload Files
FS_Security_DL_PF=   Security Level for Download Files and Pack Files

FS_SV_Path_0=GMC-BBS:
FS_SV_Directory_0=File_System/
FS_SV_Comment_0=File System Area ( BBS.PRG ... )
FS_Security_UL_0=10
FS_Security_DL_PF_0=10

FS_SV_Path_1=SYS:
FS_SV_Directory_1=Temp/
FS_SV_Comment_1=Temp -=> Hier befinden sich die "User Packed" Files.
FS_Security_UL_1=100
FS_Security_DL_PF_1=20

FS_SV_Path_2=
FS_SV_Directory_2=RAM:
FS_SV_Comment_2=RAM: ( SysOp only )
FS_Security_UL_2=100
FS_Security_DL_PF_2=100

FS_SV_Path_3=
FS_SV_Directory_3=DH0:
FS_SV_Comment_3=DH0: ( SysOp only )
FS_Security_UL_3=100
FS_Security_DL_PF_3=100

FS_SV_Path_4=
FS_SV_Directory_4=DH1:
FS_SV_Comment_4=DH1: ( SysOp only )
FS_Security_UL_4=100
FS_Security_DL_PF_4=100

*****************************************************************************

MB_SV_Path=          Path to the Root Directory in Message Board
MB_SV_Directory=     Root Directory Name in Message Board
MB_SV_Comment=       Comment to the Directory Name
MB_Security_RM=      Security Level for Read Message
MB_Security_AM_WM=   Security Level for Answer Message and Write Message

MB_SV_Path_0=GMC-BBS:
MB_SV_Directory_0=Message_Board/
MB_SV_Comment_0=Message Board Area
MB_Security_RM_0=10
MB_Security_AM_WM_0=20

MB_SV_Path_1=
MB_SV_Directory_1=RAM:
MB_SV_Comment_1=RAM: ( SysOp only )
MB_Security_RM_1=100
MB_Security_AM_WM_1=100

MB_SV_Path_2=
MB_SV_Directory_2=DH0:
MB_SV_Comment_2=DH0: ( SysOp only )
MB_Security_RM_2=100
MB_Security_AM_WM_2=100

MB_SV_Path_3=
MB_SV_Directory_3=DH1:
MB_SV_Comment_3=DH1: ( SysOp only )
MB_Security_RM_3=100
MB_Security_AM_WM_3=100

*****************************************************************************

PM_Path=             Path to the Root Directory in Private Mail
PM_Directory=        Root Directory Name in Private Mail

PM_Path_0=GMC-BBS:
PM_Directory_0=Private_Mail/

*****************************************************************************
