;
;  Config-file for Pfiles:rexx/FormLett.rexx by Bill Beogelein 810-473-2020
;
; Each entry must contain three (3) parameters in the order shown.
;     1)  SUBJECT shown to the user in his mail.
;     2)  Text shown in FormLett's Menu.
;     3)  Dev:Path/Filename containing the text to send to user.
;
;  All blank lines, or lines that start with a semi-colon, are
;  comment-lines and are ignored by FormLett.rexx
;

Welcome
New-User welcome mail
SysText:nmail

Expiring Account
Account about to expire
SysText:ExpireMail.form

Uploads To Wrong Area
U/Ling to wrong area
SysText:WrongArea.form

Bad FileNote
FileNote short/vague
Gfiles:FAQ1/GoodNotes.form

No FileNote
FileNote missing
Gfiles:FAQ1/GoodNotes.form

Bad Post
Inappropriate msg post
SysText:BadPost.form

System Problem
System problem
SysText:SysProb.form

THANK YOU!
Thanks for the suggestion
SysText:ThankYou.form

;
;  *** EOF SysData:FormLett.cfg (BBS: 810-473-2020, Fido: 1:2410/207) ***
;
