1
2
4800

/****************************************************************************
  Line 1:  Ports to enforce baudcheck on (separated by commas ie. 2,4,5,12)
  Line 2:  Ports to refer callers to if free (separated by commas also)
  Line 3:  Low baud before checking
   
 ie.  "2,4" on line 1, a "1,5" on Line 2 and 9600 on line 3 would cause users
      calling ports 2 and 4 at less than 9600 baud to be referred to ports
      1 or 5 if either of those ports are not currently occupied.
 ****************************************************************************/