2
3
4
4
;---------------------------------------
Display mode types are:

1 - ISO
2 - IBM
3 - ISO + ANSI
4 - IBM + ANSI

Please, carefully edit lines to match your display modes configuration.
(first line is for display mode 1, second is for mode 2.... etc...)

If you think that there can be something else added, please contact author.
