; Example configuration for the local node
; See BBS1.Cfg for stupid comments

Window
Shared
7Wire
WindowWidth 640
WindowHeight 256
ASCIIBuffer 1024
OpenActive
Font topaz.font
FontSize 8
TaskPri 0
SysOpName Ville-Pertti Keinonen
ChatOnString "Entering chat with SysOp"
ChatOffString "End of chat"
FidoNode 170:10/101.0
OriginString TechnoBBS Development Center - (90) 635296 - 24H
LogFile BBS:logs/BBS0.log
NoWindowToBack
SourceCharSet ISO
ConsoleCharSet ISO
SerialCharSet IBM
KeyMap s
ModemHang ""
TimeOut 0
Backdrop
PubName TechNode0
