; Example configuration for node 1

; The internal serial port

Device serial.device
Unit 0

; You might want to slow this down/leave it out

SerBaud 57600

NoWindow

; Tt's seems slightly faster as a backdrop

Backdrop

; Normal PAL dimensions

WindowWidth 640
WindowHeight 256

; Normally the device should always be opened in the shared mode

Shared

7Wire

; Slightly larger than normal, just in case (?)

ASCIIBuffer 1024

; This shouldn't do much with the backdrop...

NoOpenIconified

; The usual font

Font topaz.font
FontSize 8

; You don't want to give the user priority over your own stuff, right?

TaskPri 0

; The node will open in front when you double click the AppIcon...

NoWindowToBack

; ...and the window will be active

OpenActive

; You'll want to change these ones!

SysOpName Ville-Pertti Keinonen
FidoNode 170:10/101.0
OriginString TechnoBBS Development Center - (90) 635296 - 24H

; A logical name for the logfile..?

LogFile BBS:logs/BBS1.log

; Make sure this is correct

KeyMap s

; This should usually be your initial setup

SourceCharSet ISO
ConsoleCharSet ISO
SerialCharSet ISO

; The Answer program will hang up by releasing the device and sending the
; hangup string

ModemHang "~"

; You can configure more protocols if you want but simple ones such as
; XModem can't be used to receive files since the name of the file would
; have to be entered manually which isn't supported by TechnoBBS yet.

Protocol ZModem xprzmodem.library TC,OR,B16,F0,E10,AY,DN,KY,SN,RN,P
Protocol ZModem8k xprzmodem.library TC,OR,B16,F0,E10,AY,DN,KY,SN,RN,P,M8192

; You should always specify a unique name for each nodes screen

PubName TechNode1

; 20 lines is a rather long description...

MaxDescLines 20

