; Example configuration for a node using something other than the
; serial.device

; A special device for simulated serial communication

Device nullmodem.device

; The rest of the stuff is similar to node 1

Unit 0
NoWindow
Backdrop
Shared
7Wire
WindowWidth 640
WindowHeight 256
ASCIIBuffer 1024
Font topaz.font
FontSize 8
TaskPri 0
NoWindowToBack
OpenActive
SysOpName Ville-Pertti Keinonen
ChatOnString "Entering chat with SysOp"
ChatOffString "End of chat"
FidoNode 170:10/101.0
OriginString TechnoBBS Development Center - (90) 635296 - 24H
LogFile BBS:logs/BBS2.log
KeyMap s
SourceCharSet ISO
ConsoleCharSet ISO
SerialCharSet ISO
Protocol ZModem xprzmodem.library TC,OR,B16,F0,E10,AY,DN,KY,SN,RN,P,M8192
TimeOut 0
ModemHang ""
PubName TechNode2
