; Example event configuration

; Update the filelist every midnight

Hour 0 Command run <>NIL: execute BBS:Scripts/MakeFList

; After this, make sure that the logs don't get too large

Hour 1 Command run <>NIL: BBS:Util/Cutfile BBS:Logs/#? 300
