; Example configuration for TechCon

; Since the nodes are on their own screens, you probably don't need to open
; a new screen just for the TechCon window

NoCustomScreen

; If your graphics are fast enough, you might want to use a 16-color screen
; and palette, which look slightly better than an 8-color screen (the
; 3d-look is nicer) even though the console uses bold highlighting, not
; bright like terminals with IBM-ANSI-emulation.

;ScreenDepth 4
;Palette 0007 F00 0F0 FE0 78F F0F 0DF CCD152 888046 F88 9F9 FFB AAF FAF8 5FF FFF3

; An 8-color screen and EGA-palette

ScreenDepth 3
Palette 0007 F00 0F0 FF0 78F046 F0F 0DF152 FFF3

; Useful since you'll just have clicked the AppIcon when TechCon opens

OpenActive

; Local, remote and nullmodem

MaxLine 2

; This should be the same as the priorities of the nodes

TaskPri 0

; If you change these, you'll have to change the assignments in many other
; places, too.

BBSDir BBS:
FileDir BBS:Files
MailDir MAIL:

; You'll want to change this

FidoNode 170:10/101.0

; Wouldn't make much sense to get a zipped window when clicking the AppIcon

NoOpenIconified

; Maybe TechCon.log would be better?

LogFile BBS:logs/BBS.log

; Defaults, but specified anyway

PAL
HiRes
TextOScan

; Not very many message areas

MsgAreas 27

; Automatically start TechIO after setting up

>run <>NIL: BBS:Bin/TechIO

; Start Answer for node 1 (since I can't include a mailer with the
; distribution).  Uncomment if (or when) you want to use this

;>run <>NIL: BBS:Util/Answer -b57600 "-cBBS:Scripts/RunNode 1" -r50 >>BBS:Logs/Answer.log

; We want to see TechCon, right?  You might want to change this to
; OpenAppIcon if you start running a BBS

NoOpenAppIcon

; Wouldn't it look stupid for a window to open and then jump behind
; everything else?

NoWindowToBack

; And more configuration stuff...

;EventFile BBS:Cfg/Events.Cfg
