; Example configuration for TechMail

; You might want to route stuff to different places if you have several
; nets or are acting as a hub

Route *:*/*.* 170:10/100.0

; Doing everything is always useful

Import
Export
Toss

; Not deleting packets would leave lots of extra stuff in the inbound
; directory and cause dupes eventually

DeletePackets

; TechMail should run in the background and not slow down other programs
; too much

TaskPri -1

; You'll want to change this to your own address

FidoNode 170:10/101.0

; TechMail must know where to put the bad stuff...

BadArea 25

; ...and the stuff without an AREA:-field in the beginning

NetMailArea 16

; Most software use these for inbound/outbound mail packets/bundles

Inbound MAIL:Inbound
Outbound MAIL:Outbound

; If you receive huge bundles but don't have lots of memory, set this to
; somewhere on your hd

UnArcDir T:

; Whatever this is set to must exist

TmpPktDir SYS:Misc/tmp/pkt

; Having all the logs in the same directory is useful

LogFile BBS:logs/BBSMail.log

; Prevent .displayme-files from bothering you and nasty people from
; controlling where the files should be extracted to...

UnArc lha -Mx0 e

; Use the new types of names

4dnames

; Any netmail is welcome

importnetmail

; Only one archive method is used

defarc lha a

; You'll be able to see what TechMail is doing

LogWindow CON:20/20/600/100/BBSMail/AUTO/CLOSE

; Examining dupes to find out where they are from is a good idea

DupesToBad

; Reply chains make reading and writing messages much more comfortable

LinkReplies

; This seems to be something that other tossers do

EchoAddress
