#******************************************************************************#
#                            RoT_Logon (v1.0)                                  #
#******************************************************************************#
#                                   The                                        #
#                     R E A L M  O F  T W I L I G H T                          #
#                                                                              #
#                               Shadowspawn                                    #
#                            Thorsten Schiller                                 #
#                              September '92                                   #
#******************************************************************************#
#
# Command Summary:   # - Comment line
#                    1 - Item description/title
#                    2 - Path
#                    3 - Clear the screen before displaying?
#                    4 - Pause for keystroke after display?
#                    5 - Give user the option to enter editor (note that this
#                        is *only* possible if you set #4 to YES!!!)
#                    6 - In the editor, prompt the user to enter how many items
#                        he/she wants displayed (ie. if you have a sorted list
#                        of users that's maybe 1000 users long, the user can
#                        choose to only view the top 10 or 20)
#                    7 - The color of the prompt text
#                    8 - The color of the keys in brackets
#
#*******************************************************************************
#
# *** NOTE ***  This file assumes that you have RoT_Callers and RoT_TopUsers!
#               If you do not, please edit things to reflect your setup (for
#               that matter, you will likely need to edit the config file
#               regardless :-) ).  Also, the sample file "RandomQuote" is just
#               that. It's a sample file taken from my BBS... odds are that
#               it will not run on your BBS so please don't yell at me when
#               this happens :) Just substitute your favourite commands in a
#               similar format!
#
#*******************************************************************************
#
# This is shown to the user in the editor: `View "Last Callers"?'
#
1=Last Callers
#
# This is the file that we will display for the user.
#
2=Excel:DATA/RoT_Callers.data
#
# Yes, we want to clear the screen before displaying the file.
#
3=YES
#
# Yes, we want to have a keyprompt at the end of the display.
#
4=YES
#
# Yes, the user should have the option of entering the editor at every prompt.
#
5=YES
#
# Yes, let the user choose how many items he/she want to see. Note that if
# you add non-RoTten software to this (ie. see the RandomQuote example) then
# you will likely want to set this to no if the format of the other file is
# incorrect or, as in the RandomQuote example, the file is not actually meant
# for displaying purposes but only to launch another file that will output
# something entirely different (does this make ANY sense at all? :-) )).
#
6=YES
#
# I like green for my text...
#
7=2
#
# and white to offset which key does what.
#
8=7
#
#
# Top Callers
#
#1=Top Callers
#2=Excel:data/RoT_TopCallers.data
#3=YES
#4=YES
#5=YES
#6=YES
#7=2
#8=7
#
#
# Top Posters
#
#1=Top Posters
#2=Excel:data/RoT_TopPosters.data
#3=YES
#4=YES
#5=YES
#6=YES
#7=2
#8=7
#
#
# Top Downloaders
#
#1=Top Downloaders
#2=Excel:data/RoT_TopDownloaders.data
#3=YES
#4=YES
#5=YES
#6=YES
#7=2
#8=7
#
#
# Top Uploaders
#
#1=Top Uploaders
#2=Excel:data/RoT_TopUploaders.data
#3=YES
#4=YES
#5=YES
#6=YES
#7=2
#8=7
#
#
# Example on how to import third party software
#
1=Random Fact and Last Comment
2=Excel:data/Rot_Logon_Macros/RandomQuote.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
1=Empire 2.20 Game Status
2=Excel:data/RoT_Logon_Macros/EmpireInfo.MAC
3=NO
4=YES
5=YES
6=NO
7=2
8=7
#
1=Bumper Snicker
2=Excel:data/RoT_Logon_Macros/RandomBumps.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
1=Fortune
2=EXCEL:DATA/Rot_Logon_Macros/AFortune1.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
1=Zippy The Pinhead Quotes
2=EXCEL:DATA/Rot_Logon_Macros/Yow1.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
1=The Psychic
2=EXCEL:DATA/Rot_Logon_Macros/Psychic1.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
1=Today In History
2=EXCEL:DATA/Rot_Logon_Macros/Today1.MAC
3=YES
4=YES
5=YES
6=NO
7=2
8=7
#
