; JamScan Config for Frontiers BBS (716)/823-9892!
;
; Host Address (2D is Required, any extra is Allowed!)

HOST 1:260/121.0

; Settings for the default priorities.

HOLD -50
DIRECT 30
CRASH 50

; Directory to search for outbound files.

BUNDLES OUTBOUND:

; Directory to search for outbound mail/message packets.

PACKETS OUTBOUND:

; Directory root used to create temporary compression directories.

PKTS OUTBOUND:PACKETS/

; Delete .FLO files after converting them.

DELETEFLO

; JamMail Connections.
;
; ROUTE 1.260.10.#?   FIDONET#1:260/20.0      ZIP NORM

ROUTE 1.260.10.#?   FIDONET#1:260/20.0      LHA NORM

ROUTE 2.235.202.#?  FIDONET#2:235/202.0     LHA CRASH
ROUTE 6.760.41.#?   FIDONET#6:760/41.0      LHA CRASH
ROUTE 6.733.5.#?    FIDONET#6:733/5.0       LHA CRASH
ROUTE 1.106.10.#?   FIDONET#1:106/10.0      LHA CRASH

; If you'll be sending CRASH mail to specific nodes, you'll need to define
; them, as shown above, so JamScan can correctly compact them. If they are
; NOT compacted first, JamMail will NOT send them when you crash-call the
; specified node. The same goes for HOLD mail as well, except you need to
; specify HOLD, instead of CRASH as the last parameter on the line.
