2
35

5000
Greg Fitch
0
Doors:PassEnter/
BBS:LogFiles/
Ok your out of here!
Sorry you FAILED logging you off

----------------------------------------------------------------------
The PassWord Entry Door Will Only Look At The First 10 Lines
----------------------------------------------------------------------
                   What each line is:

Line  1 = Menu Function
Line  2 = Extra Info for Menu Function.
Line  3 = FileName/Name/Dest/Path For Menu Function
Line  4 = Minimum automatic pass through level.
Line  5 = Name for all messages to go to (USUALY THE SYSOP'S NAME).
Line  6 = Section for messages to go to.
Line  7 = Path to ANSI data files (MUST END IN A ":" OR A "/").
Line  8 = Path to log files (MUST END IN A ":" OR A "/").
Line  9 = Text to type if they just hit return to quit.
Line 10 = Text to type if they failed to gain access.
