; Lightning.cfg - Config file for Lightning filelister, a fast filelist
;                 generator for Zeus BBS only. The full path and and name of
;                 this config file is an optional Lightning command line
;                 argument. If the config file path is not specified the
;                 default path used is "Zeus:Config/Lightning/Lightning.cfg".
;
; Blank lines and Lines beginning with a semicolon ";" (comments) are ignored.
; Nonsensical lines and keywords with bad arguments will generate an error
; message and be ignored.


; NODENUMBER <Your Fidonet Nodenumber>
;
; Fidonet (or other FTN nodenumber) used in amigaguide list for automatic freq
; generation (by clicking on filenames). If not given, amigaguide list won't
; have freq generation buttons.

NODENUMBER 1:3412/1114.0


; FILEBUFFERS
;
; Number of files in read buffer. The higher this value, the faster the
; program runs. The more buffers, the more memory required. Extremely high
; values will not make a noticeable difference.
;
; Default value: 64   Minimum value: 64   suggested value: 64-256

FILEBUFFERS 256


; NEWDAYS <number>
;
; Number of days since upload date for oldest files to be listed in New file
; lists.

NEWDAYS 30


; INSERTDIR <path>
;
; Full path to a directory to search for auto-insert files. If this keyword
; is given Lightning checks for and inserts these files in the appropriate
; places. If this keyword is not given, auto-insert files won't be used.
;
; Default: Zeus:Config/Lightning/Inserts
;
; Main insert files, placed at top and bottom of entire filelist...
;
; header.txt footer.txt header.ibm footer.ibm header.guide footer.guide
; newheader.txt newfooter.txt newheader.ibm newfooter.ibm newheader.guide
; newfooter.guide
;
; Area insert files placed at top and bottom of the specified area...
;
; Format:   header/footer/newheader/newfooter.areanumber.listtype
; Examples: header.1.txt footer.1.txt header.2.ibm footer.25.guide
;           newheader.1.ibm newheader.25.guide About NewAbout
;
; Note - Any areas which have a header file will not have the usual short
;        area header line ('Area: # Title') at the top of the area list. It
;        is assumed you will place your own custom title text in the insert
;        files. 
;
; All *.ibm insert files should use CR/LF line termination.
;
; See the ABOUT keyword for more information on two special insert files.

INSERTDIR Zeus:Config/Lightning/Inserts


; ABOUT <BUTTONTEXT>
;
; BUTTONTEXT - A text string, up to 38 characters in length to be placed on
;              the 'About' button.
;
; Tells Lightning to look in the INSERTDIR for special insert files named
; "About" and "AboutNew". If they exit, buttons will be placed above the list
; of areas in AmigaGuide lists to show these files.
;
; If this keyword is not given, there will be no "about" button and the
; insert files will not be used even if the files do exist.

ABOUT About Lightning Filelister


; TXTFILE   <PATH>
;
; Full path (including name) to the Amiga Text format (CR terminated lines)
; output file
;
; If not given, no file will be generated.

TXTFILE file:tgfiles.txt


; TXTCOMMENT <comment>
;
; AmigaDos file comment to use for Amiga Text format file.

TXTCOMMENT List of all files on The Guild BBS.


; NEWTXTFILE     <path>
;
; Full path to Amiga Text format new files list.

NEWTXTFILE     file:tgnew.txt


; NEWTXTCOMMENT <comment>
;
; AmigaDos file comment to use for New files list Amiga Text format file.

NEWTXTCOMMENT List of new files (30 days) on The Guild BBS.


; IBMFILE    <PATH>
;
; Full path to the IBM Text format (CR/LF line termination) output file.
;
; If not given, no file will be generated.

IBMFILE file:tgfiles.ibm


;IBMCOMMENT <comment>
;
; AmigaDos file comment to use for IBM text format file.

IBMCOMMENT IBM text format list of all files on The Guild BBS.


; NEWIBMFILE    <PATH>
;
; Full path to IBM text format new files list

NEWIBMFILE     file:tgnew.ibm


; NEWIBMCOMMENT <comment>
;
; AmigaDos file comment to use for IBM text format New files list.

NEWIBMCOMMENT IBM text format list of new files (30 days) on The Guild BBS.


; GUIDEFILE    <PATH>
;
; Full path to AmigaGuide format output file.
;
; If not given, the AmigaGuide full file list will not be generated.

GUIDEFILE     file:tgfiles.guide


; GUIDECOMMENT <comment>
;
; AmigaDos file comment to use for AmigaGuide format All files list.

GUIDECOMMENT AmigaGuide format list of all files on The Guild BBS.


; NEWGUIDEFILE    <PATH>
;
; Full path to AmigaGuide format new files list.

NEWGUIDEFILE     file:tgnew.guide


; NEWGUIDECOMMENT <comment>
;
; AmigaDos file comment to use for AmigaGuide format New files list.

NEWGUIDECOMMENT AmigaGuide format list of new files (30 days) on The Guild BBS.


; DEFDESC
;
; Default file description (for files that have no description).

DEFDESC [No file description available]


; LONGDESC
;
; Use long file descriptions, the default is to truncate file
; descriptions to 39 characters so everything fits neatly on one 80
; character line. 

LONGDESC


; WRAPDESC <number>
;
; Number of characters to wrap file descriptions after. Default: 39 making
; each complete line exactly 80 characters in length.
;
; WRAPDESC 39


; SKIPUNVAL
;
; To be implemented in a future version


; MARKUNVAL <char>
;
; To be implemented in a future version

MARKUNVAL *


; SORT [ALPHA | SIZE | DATE] [REVERSE] [FORWARD]
;
; Method to sort file areas by. Default is DATE FORWARD (Oldest files first).
;
; SIZE sorting is slightly slower than other sort methods and will also cause
; Lightning to use approximately twice as much memory as with other sort
; methods.

SORT DATE REVERSE


; AREAS <RANGE> 
;
; RANGE - Numeric range string of the area numbers to be listed.
;
; Enabled in registered version only, the unregistered version will list ALL
; areas regardless of this keyword.
;
; Examples:  AREAS 1,6,10-20,100-1000,5000
;            AREAS 1-
;            AREAS -100
; See also: AREAGROUP keyword.

AREAS 1-500

