#
# This is an example crontable part which you could include in your own crontab
# to have a different wordsfile every day of the week.
#

# Change the wordsfile every day of the week at 0:05:
5 0 * * 0 copy DOORS:Typer/Wordfiles/Words.txt.Eng_2 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 1 copy DOORS:Typer/Wordfiles/Words.txt.Eng_3 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 2 copy DOORS:Typer/Wordfiles/Words.txt.Eng_4 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 3 copy DOORS:Typer/Wordfiles/Words.txt.Eng_5 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 4 copy DOORS:Typer/Wordfiles/Words.txt.Eng_6 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 5 copy DOORS:Typer/Wordfiles/Words.txt.Eng_7 DOORS:Typer/Wordfiles/Words.txt
5 0 * * 6 copy DOORS:Typer/Wordfiles/Words.txt.Eng_8 DOORS:Typer/Wordfiles/Words.txt
