; example config..

; use {FILES} for the list of file names or the list of dirs to put files..

Program=C:Miscutils/XPRD
Params=-lxprzmodem.library -d{DEVICE} -u{UNIT} -S -x{BAUD} {MODE} {FILES}
SendStr=S
RecvStr=R
CDToDIR=YES

