; Config - 1 XPRD - Using XPRZModem.library

Program=HBBS:system/Amiga/CLI/XPRD
Params=-lxprzmodem.library -d{DEVICE} -u{UNIT} -x{BAUD} {MODE} {FILES}
SendStr=S
RecvStr=R
CDToDIR=YES

;Params=-lxprzmodem.library -d{DEVICE} -u{UNIT} -x -s --{BAUD} {MODE} {FILES}
