
; Yeah, now this is a cool door,  it an uploaded file name matches an
; "AwardFile_n" option then the sysop can determine how to add/remove time
; to a user.
;
; E.G.  Say your board was an cP! HQ :-) and you wanted to give a user *3 time
; for each file that started with the letters "cP!" then you'd set this up:
;
; AwardFile_1=cP!#?
; AwardOpts_1=*3
;
; easy huh ??
;
; Note: there must be NO spaces between the = of an option name and the start
; of the options or this door will ignore the commands, likewise there must be no
; spaces between a modifier and a value.. (e.g.  "*3" is ok, but "* 3" is not)
;
; How about:
;
; AwardFile_1=#?
; AwardOpts_1=*2
;
; this would give all users 2x creds for each file!! WOW!!! Cool huh ?
; no more farting about with nukers anymore!! Yeah!..


; Use the option below to determine weither to check all possible filename matches
; or to stop after it has found just one match.

StopOnFirstMatch=NO

; give cP! released 3x creds.

AwardFile_1=cP!#?
AwardOpts_1=*3
AwardMsg_1=cP! Release found! *3 Extra Time Awarded!

; remove half the credits if the filename has "LAME" in the middle :-)

AwardFile_2=#?LAME#?
AwardOpts_2=/2
AwardMsg_2=Lame file uploaded. you'll only be awarded 1/2 of the usual time

; Give 1MB creds any hbbs file

AwardFile_3=HBBS#?
AwardOpts_3=+10
AwardMsg_3=HBBS Stuff, cool 10 extra mins added for today

; remove 3MB creds for each file released by Maniacs :-) heheheeeeee

AwardFile_4=MNC#?
AwardOpts_4=-30
AwardMsg_4=Manics stuff is LAME, 30mins time removed for today!

;AwardFile_5=#?
;AwardOpts_5=*2
;AwardMsg_5=
