/***************************************************************************/
/* Program Name    : bbs.config                                            */
/* Program Version : 2.62                                                  */
/* Creation Date   : 12-12-91                                              */
/* Last Update     : 24-07-97                                              */
/* Author          : Gerhard und Christine Mörth                           */
/* Freeware        : This software is coded by G_&_CH_MOERTH               */
/***************************************************************************/

SystemName=>>> GMC-BBS V2.62 <<< [31m%H:%M:%S
SystemSysOp=Gerhard MOERTH
SystemUsersMax=300

BBS_TextLocation=GMC-BBS:BBS_Text/
CaptureLocation=RAM:
Help_TextLocation=GMC-BBS:Help_Text/
ScriptsLocation=GMC-BBS:Scripts/
SystemLocation=GMC-BBS:System/

Power_Led_Display=OFF

Prot_Internal=OFF

ParkHD_Delay=-1

SetClock_Delay=3600

Security_Min_BM=10
Security_Min_FS=10
Security_Min_MB=10
Security_Min_PM=10
Security_Min_SM=10
Security_Min_UM=10

Security_Min_PF=30
Security_Min_SC=40
Security_Min_WB=50
Security_Min_MD=60
Security_Min_RE=70
Security_Min_ES=80
Security_Min_DE=90
Security_Min_EU=100

SysOp_Ready=YES
Copyright=OFF
File_Out=ON
Printer_Out=OFF
Serial_Device=ON
Speech_Out=ON

*===> Standard Modem 300-33.600 (Fax & Modem Report disabled)
ModemAnswer=ATA
ModemAttn=0
ModemBusy=BUSY
ModemConnect=CONNECT*
ModemDTESpeed=38400
ModemError=ERROR
ModemFaxRecog=+FCON
ModemHandshaking=RTS/CTS
ModemHangUp=ATH
ModemNoAnswer=NO ANSWER
ModemNoCarrier=NO CARRIER
ModemNoDialtone=NO DIALTONE
ModemOk=OK
ModemOnline=ATO
ModemOpen1=ATE0M0S0=0S2=0
ModemOpen2=
ModemOpenFax1=
ModemOpenFax2=
ModemOpenFax3=
ModemReport=
ModemReset=ATZ
ModemRing=RING
ModemRingCount=1

*****************************************************************************

Prot_UL_ESL1_0=xprd -lxprymodem.library -oYS,C0,B0 -d%D -u%U
Prot_UL_ESL2_0=-x64 -s%S -h -a$%A -c RECEIVE %P%F
Prot_UL_Comment_0=X-Modem, 128 Byte Blocks, Checksum

Prot_UL_ESL1_1=xprd -lxprymodem.library -oYS -d%D -u%U
Prot_UL_ESL2_1=-x64 -s%S -h -a$%A -c RECEIVE %P%F
Prot_UL_Comment_1=X-Modem, 1024 Byte Blocks, CRC-16

Prot_UL_ESL1_2=xprd -lxprymodem.library -oYA,O%P -d%D -u%U
Prot_UL_ESL2_2=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_2=Y-Modem A, 2048 Byte Blocks, No CRC-checking

Prot_UL_ESL1_3=xprd -lxprymodem.library -oYB,O%P -d%D -u%U
Prot_UL_ESL2_3=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_3=Y-Modem Batch, 1024 Byte Blocks, CRC-16

Prot_UL_ESL1_4=xprd -lxprzmodem.library -oB64,OR,P%P -d%D -u%U
Prot_UL_ESL2_4=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_4=Z-Modem, 64-1024 Byte Blocks, CRC-16 or CRC-32

Prot_UL_ESL1_5=xprd -lxprzmodem32k.library -oB64,OR,P%P -d%D -u%U
Prot_UL_ESL2_5=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_5=Z-Modem, 64-32000 Byte Blocks, CRC-16 or CRC-32

Prot_UL_ESL1_6=xprd -lxprbimodem.library -oB64,OR,P%P -d%D -u%U
Prot_UL_ESL2_6=-x64 -s%S -h -a$%A -c RECEIVE
Prot_UL_Comment_6=BI-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

*****************************************************************************

Prot_DL_ESL1_0=xprd -lxprymodem.library -oYS,C0,B0 -d%D -u%U
Prot_DL_ESL2_0=-x64 -s%S -h -a$%A -c SEND %P%F
Prot_DL_ESL3_0=
Prot_DL_Comment_0=X-Modem, 128 Byte Blocks, Checksum

Prot_DL_ESL1_1=xprd -lxprymodem.library -oYS -d%D -u%U
Prot_DL_ESL2_1=-x64 -s%S -h -a$%A -c SEND %P%F
Prot_DL_ESL3_1=
Prot_DL_Comment_1=X-Modem, 1024 Byte Blocks, CRC-16

Prot_DL_ESL1_2=xprd -lxprymodem.library -oYA -d%D -u%U
Prot_DL_ESL2_2=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_2=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_2=Y-Modem A, 2048 Byte Blocks, No CRC-checking

Prot_DL_ESL1_3=xprd -lxprymodem.library -oYB -d%D -u%U
Prot_DL_ESL2_3=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_3=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_3=Y-Modem Batch, 1024 Byte Blocks, CRC-16

Prot_DL_ESL1_4=xprd -lxprzmodem.library -oB64 -d%D -u%U
Prot_DL_ESL2_4=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_4=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_4=Z-Modem, 64-1024 Byte Blocks, CRC-16 or CRC-32

Prot_DL_ESL1_5=xprd -lxprzmodem32k.library -oB64 -d%D -u%U
Prot_DL_ESL2_5=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_5=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_5=Z-Modem, 64-32000 Byte Blocks, CRC-16 or CRC-32

Prot_DL_ESL1_6=xprd -lxprbimodem.library -oB64 -d%D -u%U
Prot_DL_ESL2_6=-x64 -s%S -h -a$%A -c SEND
Prot_DL_ESL3_6=%P%0 %P%1 %P%2 %P%3 %P%4 %P%5 %P%6 %P%7 %P%8 %P%9
Prot_DL_Comment_6=BI-Modem, 64-8192 Byte Blocks, CRC-16 or CRC-32

*****************************************************************************

BM_CA_Path_0=GMC-BBS:
BM_CA_Directory_0=Bulletins_Menu/
BM_CA_Comment_0=Bulletins Menu Area
BM_Security_RB_0=0

*****************************************************************************

FS_CA_Path_0=GMC-BBS:
FS_CA_Directory_0=File_System/
FS_CA_Comment_0=File System Area ( BBS.PRG ... )
FS_Security_UL_0=10
FS_Security_DL_0=10

FS_CA_Path_1=GMC-BBS:
FS_CA_Directory_1=Temp/
FS_CA_Comment_1=Temp -=> Here are the "User Packed" Files.
FS_Security_UL_1=100
FS_Security_DL_1=20

FS_CA_Path_2=
FS_CA_Directory_2=RAM:
FS_CA_Comment_2=RAM: ( SysOp only )
FS_Security_UL_2=100
FS_Security_DL_2=100

FS_CA_Path_3=
FS_CA_Directory_3=DH0:
FS_CA_Comment_3=DH0: ( SysOp only )
FS_Security_UL_3=100
FS_Security_DL_3=100

FS_CA_Path_4=
FS_CA_Directory_4=DH1:
FS_CA_Comment_4=DH1: ( SysOp only )
FS_Security_UL_4=100
FS_Security_DL_4=100

FS_CA_Path_5=
FS_CA_Directory_5=CD0:
FS_CA_Comment_5=CD0: ( SysOp only )
FS_Security_UL_5=100
FS_Security_DL_5=100

*****************************************************************************

MB_CA_Path_0=GMC-BBS:
MB_CA_Directory_0=Message_Board/
MB_CA_Comment_0=Message Board Area
MB_Security_RM_0=10
MB_Security_WM_0=20

*****************************************************************************

PM_Path_0=GMC-BBS:
PM_Directory_0=Private_Mail/

*****************************************************************************
