;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;GAMES
;UTILITIES
;UFO & SCI-FI
;TEXT FILES
;COMMS UTILITIES
;ARCHIVERS
;VIRUS UTILITIES
;DEMOS
;BBS PROGRAMS AND DOORS
;MUSIC MODULES / PLAYERS
;ART AND GRAPHICS
;PROGRAMMERS
;PC PROGRAMS
;
;SYSTEM LIBRARIES
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;20
;36
;33
;35
;36
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;
;                       *** Put this file in KFB: ***

OK, lines 1-99 correspond to the file area in KFB, you /must/ leave the ';'
at the start of the line, and do not use a ; in the area name. The area
name will be automatically centred, so don't add spaces !

Line 100 & 101 are the start and stop areas for KFB, ie. my first KFB file
area actually uses FB20 and ends at FB36 inclusive. If you use FB01 to FB99
just put 01 and 99 in there instead !

Line 102-152 are exclusion areas. Any file area that you don't want listed
will be ignored by the program if it finds the FBxx number somewhere there.
Handy for Sysop / Private / Adult file areas etc. ;-)


      If you find this program useful, please find the time to send me
      a small donation !  Thanks....

  Please call my BBS for the address..... Amiga Phoenix BBS 0151 283 6406
