NAME_CONF%1		NEWUSERS		;Name of conference
SYSOPMAILCONF%1		3			;redirect mail to sysop
						;to conference 3(sysop mail)

FORCE_NEWSCAN%1					;Forced new messages scan

LVLACCESS_CONF%1	5			;Not really required

PATHNAME_CONF%1		NEWUSER			;Path to conference
						;This would then be
						;{MAINPATH}CONFS/NEWUSER


KEEPMAIL_READ%1		30			;Messages kept 30 days
KEEPMAIL_UNREAD%1	30			;both received and not
						;received

FORCEPRIVATE%1					;All mail goes private

MESSAGEBASE%1					;This is a messagebase only
						;Leaving this out would make
						;it a file/msgbase



* Now we want a public conference

NAME_CONF%2		PUBLIC

 NO_NEWSCAN%2					;If prefered
						;Sysop can disable newmessage
						;scan wheter user selected it
						;or not.

LVLACCESS_CONF%2	50			;We need acc. 50 here

PATHNAME_CONF%2		PUBLIC			;Path to conference directory

USESENTBY%2					;All files uploaded will
						;have the users signature
						;below description of file.

 FREEDOWNLOAD%2					;No free downloads here




* The "secret" conference for the sysop only

NAME_CONF%3		SYSOP MAIL		;Sysops private area
FORCE_NEWSCAN%3					;Rescan newmessages here always
LVLACCESS_CONF%3	255			;Minimum acc. needed
						;Conference left out of list
						;if user do not have clearance

USERTYPE_CONF%3		SYSOP			;If i forgot to add this
						;conference to my usertype
						;I am still allowed access here.

PATHNAME_CONF%3		SYSOP			;directory name

MESSAGEBASE%3					;This is a messagebase only

