10 ;LINE.1-maximum minutes in door for level 1 user (not used) (def.30)
15 ;LINE.2-maximum minutes in door for level 2 user (not used) (def.30)
40 ;LINE.3-maximum minutes in door for level 3 user (not used) (def.30)
60 ;LINE.4-maximum minutes in door for level 4 user (not used) (def.45)
30 ;LINE.5-maximum minutes in door for level 5 user (not used) (def.45)
60 ;LINE.6-maximum minutes in door for level 6 user (not used) (def.45)
60 ;LINE.7-maximum minutes in door for level 7 user (not used) (def.60)
60 ;LINE.8-maximum minutes in door for level 8 user (not used) (def.60)
90 ;LINE.9-maximum minutes in door for level 9 user (not used) (def.60)
2  ;LINE10-minimum level needed for user to enter alias. (def.2) (rg.1-9)
1  ;LINE11-minimum level needed to view lastusers file. (def.1) (rg.1-9)
20 ;LINE12-number of entries: highscore file. (def.34) (rg.10-200)
50 ;LINE13-number of entries: lastusers file. (def.100) (rg.10-500)
;=====anything on this line or below is ignored but make sure if you use
a config file at all that ALL the above lines are there in precise order!
The comments appended to each line of the cfg file can be left in as long
as they are found AFTER a semi-colon!  If any lines are commented, blank,
or the values entered outside the given range, defaults will be used.

