; Example configuration file for GetID 2.25

; NOTE: You shouldn't use quotes anywhere in this config file!

; Temporary directory for descriptions and virus checking. Set this to a fast
; device, eg. RAM: if you have lots of it. All other files in this directory
; will get deleted! %u will be substituted with the line number. Default:
; "TempDir T:%u"

TempDir T2:GetID_%u

; ViewTek is used to determine GIF/JPG/ILBM image dimensions. Set to "" to
; disable this feature. Both ViewTeks 1.0x and 2.x are supported. Default:
; don't get image dimensions.

; A long description will be automatically used when getting image
; dimensions, nevertheless the state of AskLongDesc.

ViewTek	sys:bin/vt

; These are config entries for the external programs. Default is the program
; name itself without any absolute paths. If you don't want to support
; certain type of archiver, just leave its path empty.

; Having absolute paths specified speeds up the operation because DOS won't
; have to scan through the whole path list if the directory is the last
; element there...

LhA	sys:bin/_lha     ; my lha is a script which accesses _lha
LZX sys:bin/lzx
Zip	sys:bin/zip
UnZip	sys:bin/unzip
UnArj	sys:bin/unarj
Mapus	sys:bin/mapus
DMS	sys:bin/dms
GZip	sys:bin/gzip

; Should we check for viruses? "NoVirusCheck" disables this feature,
; "VirusCheck" enables it. Virus Checker version >= 6.44 needs to be already
; running in memory! Default: "NoVirusCheck"

NoVirusCheck

; Should we extract & handle embedded file_id.diz files? "NoGetDiz" disables
; diz getting/processing, "GetDiz" enables it. Default is "GetDiz".

GetDiz

; Should we ask the user to enter a long description when there's none in the
; archive itself? This will also be used when dimensions from an image were
; caught so they won't get lost. Default: "AskLongDesc"

AskLongDesc

; Select whether you want entered long descriptions to be into archives or
; not. Not all archive formats support this, so GetID will only place the
; file_id.diz into those where it's possible. Default: "NoInsertDiz"

; Note: This has no effect if AskLongDesc is disabled. Also, may software
; licenses forbid all modifications to archives, so even a simple FILE_ID.DIZ
; addition could be taken as license violation. Think about it and disable
; this.

NoInsertDiz

; Select whether unsupported archive formats will fail or not.
; "NoFailSupported" will accept all unsupported file formats, "FailSupported"
; will reject them. Default: "FailUnsupported"

FailUnsupported

; A list of files to delete from LhA/Zip packets, comment these out for no
; deleting. And edit the list to suit your needs... Default: don't delete
; anything.

LhaDeleteList BBS:Doors/GetID/Unwanted.files
;LzxDeleteList BBS:Doors/GetID/Unwanted.files
ZipDeleteList blabla		; no need to exist

; FILE_ID.DIZ files will be converted by these programs, if specified. %s
; will be substituted with the file name. Default: don't convert.

;LhaConv sys:bin/port n %s
;LzxConv sys:bin/port n %s
ZipConv sys:bin/port p %s
ArjConv sys:bin/port p %s
;DmsConv sys:bin/port n %s

; Tabs left in diz files (after #?Conv commands) will be replaced by this
; amount of spaces. Default is 8.

TabSize 8

; Use this to override BBS:CFG/BBSn.CFG setting / defaults.

MaxDescLines 20

; Should we allow exe files on our board? "NoAllowExe" fails all executables,
; "AllowExe" only those with a virus infection (if VirusCheck is on).
; Default is "AllowExe"

AllowExe

; Touch local uploads to have today's datestamp. As usual, placing "No"
; before this argument disables the feature. Defaults to "TouchLocal".

TouchLocal
