;  This config file MUST be in ZEUS:CONFIG/XFSERV/ Sorry, but this is required.
;
* Note you put your own primary address.
MYADDRESS 2:2500/167.0
*
*
* Path to use for index and stat files. MUST have '/' or ':' on the end !
*
ZFSERVPATH Zeus:Config/Zfserv/
*
*
* PKTPATH - This is where reply packets will be put, normally T:, but if you wish to keep them,
*           make it somewhere on your HD. Again, end with '/' or ':'
*
PKTPATH T:
*
*If you wish to keep the pkts, then use KEEPPACKETS, default is no NOKEEPPACKETS
*
KEEPPACKETS
*
* The next five all relate to text files, examples provided,
* edit them to suit yourself.
*
*
SORRY  ZEUS:CONFIG/ZFSERV/XFServ.sorry
REFUSED ZEUS:CONFIG/ZFSERV/XFServ.refused
HEADER ZEUS:CONFIG/ZFSERV/FreqHeader
FOOTER ZEUS:CONFIG/ZFSERV/Footer
TEMPLATE ZEUS:CONFIG/ZFSERV/ZFServ.template
NEWMESSAGE ZEUS:CONFIG/ZFSERV/newsystem
*
*
* When using magics, only put the name of the file, NOT the full path.
*
* Wildcards may also be used in Magics. Note Multiple files can be sent by
* using the same MAGIC word. In the examples, the MAGIC 'files', sends both
* Files.lha & newfiles.lha
*
* N.B. A strange thing can happen with MAGIC wilcards. If you use nodediff.*, and you
* delete the old nodediff, i.e update it each week. Then until the filecat is rebuilt,
* it will look for the old nodediff too. To remedy this,its suggested that when ever
* a file is removed from the filecat, that section be rebuilt ASAP. I'll look into a 
* way of preventing this, but I don't wish to slow it down too much.
*
MAGIC files Files.Lha
MAGIC FILESG FILEGUIDE.LHA
*MAGIC files newfiles.lha
MAGIC FGUIDE FILEGUIDE.LHA
MAGIC newfiles NEWFILES.LHA
MAGIC NODELIST NodeList.Z*
MAGIC NODEDIFF Nodediff.*
MAGIC TRAPDOOR TD_1_84.LHA
MAGIC region Region25.*
MAGIC ACD2G  NET0294GUIDE.LHA
MAGIC ACD2   AMINET_0294.LHA
MAGIC Xenofiles XenoFiles.lha
MAGIC XFSERV  XFSERV*
*
*
* Password protect directories
*
PASSWORD FILES:XENOL/ Unknown
PASSWORD FILES:XENOL190/ Unknown
PASSWORD FILES:XENOG/ Unknown
PASSWORD FILES:XENOBETA/ Unknown
PASSWORD FILES:XDISTRIB/ GuessWhat0
*
* Maximum bytes per request
* 
MAXBYTES 3000000
*
* Maximum files per request
*
MAXFILES 10
*
* Don't allow unlisted systems.
*
*NOUNLISTED
*
* Maximum number of wild card matches allowed.
*
MAXWILD 5
*
* Maximum Time limit
*
MAXTIME 30
*
* Send this file always
*
*DEFAULTSEND FILES:12/NEWFILES.LHA
*
* Forbid system from requesting
*
*  Wild cards allowed, be careful, you can wipe out a whole net, or a Zone wildcard.. everyone :)
*
FORBID 2:2500/167.23
*
* Prevent any requests from these directories ( only applies to Filecat areas )
*
PREVENT FILES:27/
PREVENT FILES:PRIVATE/
PREVENT FILES:XDISTRIB/
*
* This is obvious ..
*
LOGFILE XLOG:XFSERV.log
*
* Directory - Allows usage of external Index files, such as the Aminet Indexes.
* These may require editing ( Aminet's do ), each entry line in the index _MUST_
* use the following format
* 
* File                Dir        Size Description
*
* eg
*
* AddressMastr1_19.lha biz/dbase  301K comfortable Addressbook, OS 2.0+
*
* As you can see the first part of the DIRECTORY entry is the parent path,
* and then the path:/name of the index file. This was specifically added to
* allow requests from Aminet CD-ROMS. It can be used for almost anything though,
* as long as you understand the principle behind its operation.
*
*DIRECTORY AMINET_0294:Aminet/ Xconfig:CDROM/Aminet_0294/Index
*DIRECTORY AMINET_0794:Aminet/ Xconfig:CDROM/Aminet_0794/Index
*
* Maximum files a systemcan request per day 
*
DMAXFILES 30
*
* Maximum Bytes a system can request per day
*
DMAXBYTES 5000000
*
* Use Index, if no index, DMAXBYTES, and DMAXFILES not operative;
* Default is index on. Use NOINDEX to switch off.
* 
*NOINDEX
*
* Index type. Loads index into memory and reads from there,
*             NOFASTINDEX reads from disk. default is
*             FASTINDEX
FASTINDEX
*
*
* Start Group ; Set different levels for specific systems.
*
* GROUP  must be followed by GROUPNAME
* 
* Each entry in Group is the same as other entries, EXCEPT it is preceded by G
* Hence GMAXBYTES etc..
* The Group definition MUST end with ENDGROUP
*
GROUP MYPOINTS
GMAXBYTES 5000000
GMAXFILES 20
GMAXTIME  40
GDMAXTIME 60
GDMAXFILES 20
GDMAXBYTES 10000000
GNODE 2:2500/167.*
GROUPEND
*
GROUP GOODNODES
GMAXBYTES 15000000
GMAXFILES 100
GMAXTIME  120
GDMAXTIME 120
GDMAXFILES 100
GDMAXBYTES 150000000
GNODE 2:250/151.0
GNODE 2:441/93.0
GNODE 2:2500/168.1
GROUPEND
*
*
*
* SPECMAGIC - Keyword defines a SPECIFIC path:/file to be sent. The filecat will NOT be searched
*             for this file. A check will be made to see if the path:/file exists though, before
*             anything is added to the .RLO and message.
*
*SPECMAGIC LHA c:lha
*SPECMAGIC LHA c:list
*
* FREEAREA - Defines if a certain Directory will be free, bytes and files not counted.
*            Time definitions STILL remain however.
* Usage :    FREEAREA Files:FileLists/
*
FREEAREA Files:12/
FREEAREA FILES:Xenol/
FREEAREA FILES:XENOG/
*
* Time Variables : ReadArgs() type primary line Starts Time definitions Group.
*
*  DAY = Numeric Value 0 = Sunday, 2 = Monday ...... 6 = Saturday ; 7 = EVERDAY
* HOUR = Numeric Value 0 - 23 ; 24 = Every Hour
* MIN  = Numeric Value 0 - 59 ; 60 = Every Minute
*
* No limit to Number of Definitions. Each Group must end with ENDTIME
*
* eg TIMEGROUP D=0 H=18 M=0 ( Sunday 6:00 pm )
*
* Any of the MAX or DMAX variables can be used, preceded with a T to denote TIMEGROUP
*
* eg TMAXTIME   = 30 sets Session Maximum time to 30 mins
*    TDMAXTIME  = 60 Sets Daily Maximum time to 60 mins
*
*    Groups are NOT affected by the timegroup statements.Only the default settings.
*    
*    Keep them in chronological order, if only to make the config file look neater !
*    The only exceptions are Anyday/Anytime groups, which must come first.
*
*  The first group here defines an anytime , all 7 days, 24 hours, 60 mins. Put this first, 
*  and it becomes the default settings. Any other group following that matches, will overide 
*  the first group. Put it last, and it will overide all the other timegroups !
*  
*  Any variable not set, e.g. in  the first group, no daily maximums's are set, thus the DMAX*
*  settings defined above will be in operation. NOUNLISTED, in a TIMEGROUP becomes TNOUNLISTED
*  If the keyword TNOUNLISTED is not in a TIMEGROUP, then UNLISTED nodes may request.
*
*  Remember, if a TIMEGROUP lower down the list matches, it will take over. Hence, the anytime
*  Group, is only valid if no other TIMEGROUP takes over. These Groups are checked at each 
*  request. 
*
* Anytime Group *
TIMEGROUP D=7 H=24 M=60
TMAXTIME  30
TMAXFILES  20
TMAXBYTES  4000000
ENDTIME
*
* Alter at 6 pm( Anyday ), no unlisted nodes, and change certain settings.
*
TIMEGROUP D=7 H=18 M=0
TMAXTIME  30
TDMAXTIME  60
TMAXFILES  10
TMAXBYTES  2500000
TNOUNLISTED
ENDTIME
*
* On Sunday, at 9:00 am. Set TNOUNLISTED ( unlisted nodes prevented ), alter 
* certain settings.
*
TIMEGROUP D=0 H=9 M=0
TMAXTIME  30
TDMAXTIME  60
TMAXFILES  10
TMAXBYTES  2000000
TNOUNLISTED
ENDTIME
*
* The same goes for Saturday as well.
*
TIMEGROUP D=6 H=9 M=0
TMAXTIME  30
TDMAXTIME  60
TMAXFILES  10
TMAXBYTES  2000000
TNOUNLISTED
ENDTIME
*
* On Sunday, at 5.00pm, allow unlisted again, and change settings.
* 
TIMEGROUP D=0 H=17 M=0
TMAXTIME  30
TDMAXTIME  60
TMAXFILES  20
TMAXBYTES  3000000
ENDTIME
*
* And also on Saturday.
*
TIMEGROUP D=6 H=17 M=0
TMAXTIME  30
TDMAXTIME 60
TMAXFILES 20
TMAXBYTES 3000000
ENDTIME
*
*
* String Defines. All strings except one are now definable. The maximum allowed length
* is 40 characters,except STRINGTOTALS which is 250 ( use normal C formatting eg %d\n). 
* Anything over this will be truncated.
*
STRINGMAXBYTES Maximum Bytes for this session exceeded.
*
STRINGMAXFILES Maximum Files for this session exceeded.
*
STRINDGMAXFILES Maximum Files for today exceeded.
*
STRINDGMAXBYTES Maximum Bytes for today exceeded.
*
STRINGTIMEEXCEEDED Maximum session time exceeded.
*
STRINGINVALID This file not found or password error.
*
STRINGUPDATE Update Request - Nothing found
*
STRINGUNKNOWN Unknown MAGIC or illegal filename
*
STRINGNODEVICE File found. But device offline.
*
STRINGTOTALS           Your system has requested the following :
*
STRINGNUMBYTES         Total number of bytes : %d
*
STRINGNUMFILES         Total number of files : %d
*
STRINGNODESCRIPTION    No description available.
*
* Ok, Here's the new bit. This is the COMMAND function. The line is parsed by readargs(),
* So make sure you have it right ! M=MAGICWORD C=COMMAND TO EXECUTE. Obviously, you can use
* Run <Nil: >NIL: for async detatchable tasks, and a straight command for sync tasks.
* As usual, let me know if it does what you want or not.
*
COMMAND M=KICKIT C=run execute xscripts:incoming.1
COMMAND M=CALL238.1004 C=s:call 2:238/1002
*
USEFLO
*
OUTBOUND RAM:
*
USEQUICKINDEX
*
* KeyWord - QDIR - followed by the directories to add to the Index. Do not use / on the end of the entries.
*
QDIR Aminet_0794:Aminet/biz/dbase
QDIR Aminet_0794:Aminet/biz/demo
QDIR Aminet_0794:Aminet/biz/misc
QDIR Aminet_0794:Aminet/biz/patch
QDIR Aminet_0794:Aminet/comm/bbs
QDIR Aminet_0794:Aminet/comm/envoy
QDIR Aminet_0794:Aminet/comm/fido
QDIR Aminet_0794:Aminet/comm/mail
QDIR Aminet_0794:Aminet/comm/misc
QDIR Aminet_0794:Aminet/comm/net
QDIR Aminet_0794:Aminet/comm/news
QDIR Aminet_0794:Aminet/comm/term
QDIR Aminet_0794:Aminet/comm/ums
QDIR Aminet_0794:Aminet/comm/uucp
QDIR Aminet_0794:Aminet/demo/aga
QDIR Aminet_0794:Aminet/demo/euro
QDIR Aminet_0794:Aminet/demo/mag
QDIR Aminet_0794:Aminet/demo/mega
QDIR Aminet_0794:Aminet/demo/slide
QDIR Aminet_0794:Aminet/demo/sound
QDIR Aminet_0794:Aminet/dev/amos
QDIR Aminet_0794:Aminet/dev/c
QDIR Aminet_0794:Aminet/dev/asm
QDIR Aminet_0794:Aminet/dev/basic
QDIR Aminet_0794:Aminet/dev/cross
QDIR Aminet_0794:Aminet/dev/debug
QDIR Aminet_0794:Aminet/dev/e
QDIR Aminet_0794:Aminet/dev/gcc
QDIR Aminet_0794:Aminet/dev/gui
QDIR Aminet_0794:Aminet/dev/lang
QDIR Aminet_0794:Aminet/dev/m2
QDIR Aminet_0794:Aminet/dev/misc
QDIR Aminet_0794:Aminet/dev/moni
QDIR Aminet_0794:Aminet/dev/obero
QDIR Aminet_0794:Aminet/dev/src
QDIR Aminet_0794:Aminet/disk/bakup
QDIR Aminet_0794:Aminet/disk/cache
QDIR Aminet_0794:Aminet/disk/cdrom
QDIR Aminet_0794:Aminet/disk/misc
QDIR Aminet_0794:Aminet/disk/moni
QDIR Aminet_0794:Aminet/disk/optim
QDIR Aminet_0794:Aminet/disk/salv
QDIR Aminet_0794:Aminet/docs/anno
QDIR Aminet_0794:Aminet/docs/help
QDIR Aminet_0794:Aminet/docs/hyper
QDIR Aminet_0794:Aminet/docs/mags
QDIR Aminet_0794:Aminet/docs/misc
QDIR Aminet_0794:Aminet/docs/rview
QDIR Aminet_0794:Aminet/fish/docs
QDIR Aminet_0794:Aminet/game/2play
QDIR Aminet_0794:Aminet/game/demo
QDIR Aminet_0794:Aminet/game/gag
QDIR Aminet_0794:Aminet/game/hint
QDIR Aminet_0794:Aminet/game/jump
QDIR Aminet_0794:Aminet/game/misc
QDIR Aminet_0794:Aminet/game/patch
QDIR Aminet_0794:Aminet/game/role
QDIR Aminet_0794:Aminet/game/shoot
QDIR Aminet_0794:Aminet/game/think
QDIR Aminet_0794:Aminet/gfx/3d
QDIR Aminet_0794:Aminet/gfx/3dobj
QDIR Aminet_0794:Aminet/gfx/aga
QDIR Aminet_0794:Aminet/gfx/anim
QDIR Aminet_0794:Aminet/gfx/board
QDIR Aminet_0794:Aminet/gfx/conv
QDIR Aminet_0794:Aminet/gfx/edit
QDIR Aminet_0794:Aminet/gfx/fract
QDIR Aminet_0794:Aminet/gfx/misc
QDIR Aminet_0794:Aminet/gfx/pbm
QDIR Aminet_0794:Aminet/gfx/show
QDIR Aminet_0794:Aminet/gfx/x11
QDIR Aminet_0794:Aminet/hard/drivr
QDIR Aminet_0794:Aminet/hard/hack
QDIR Aminet_0794:Aminet/hard/misc
QDIR Aminet_0794:Aminet/info/adt
QDIR Aminet_0794:Aminet/info/index
QDIR Aminet_0794:Aminet/info/sites
QDIR Aminet_0794:Aminet/info/start
QDIR Aminet_0794:Aminet/misc/amag
QDIR Aminet_0794:Aminet/misc/antiq
QDIR Aminet_0794:Aminet/misc/edu
QDIR Aminet_0794:Aminet/misc/emu
QDIR Aminet_0794:Aminet/misc/math
QDIR Aminet_0794:Aminet/misc/misc
QDIR Aminet_0794:Aminet/misc/sci
QDIR Aminet_0794:Aminet/misc/unix
QDIR Aminet_0794:Aminet/mods/8voic
QDIR Aminet_0794:Aminet/mods/chart
QDIR Aminet_0794:Aminet/mods/med
QDIR Aminet_0794:Aminet/mods/misc
QDIR Aminet_0794:Aminet/mods/pro
QDIR Aminet_0794:Aminet/mods/sidew
QDIR Aminet_0794:Aminet/mods/spark
QDIR Aminet_0794:Aminet/mods/st
QDIR Aminet_0794:Aminet/mus/edit
QDIR Aminet_0794:Aminet/mus/midi
QDIR Aminet_0794:Aminet/mus/misc
QDIR Aminet_0794:Aminet/mus/play
QDIR Aminet_0794:Aminet/mus/smpl
QDIR Aminet_0794:Aminet/pix/bill
QDIR Aminet_0794:Aminet/pix/icon
QDIR Aminet_0794:Aminet/pix/illu
QDIR Aminet_0794:Aminet/pix/misc
QDIR Aminet_0794:Aminet/pix/trace
QDIR Aminet_0794:Aminet/pix/wb
QDIR Aminet_0794:Aminet/text/dtp
QDIR Aminet_0794:Aminet/text/font
QDIR Aminet_0794:Aminet/text/hyper
QDIR Aminet_0794:Aminet/text/misc
QDIR Aminet_0794:Aminet/text/print
QDIR Aminet_0794:Aminet/text/show
QDIR Aminet_0794:Aminet/text/tex
QDIR Aminet_0794:Aminet/util/app
QDIR Aminet_0794:Aminet/util/arc
QDIR Aminet_0794:Aminet/util/batch
QDIR Aminet_0794:Aminet/util/blank
QDIR Aminet_0794:Aminet/util/boot
QDIR Aminet_0794:Aminet/util/cdity
QDIR Aminet_0794:Aminet/util/cli
QDIR Aminet_0794:Aminet/util/conv
QDIR Aminet_0794:Aminet/util/crypt
QDIR Aminet_0794:Aminet/util/dir
QDIR Aminet_0794:Aminet/util/edit
QDIR Aminet_0794:Aminet/util/gnu
QDIR Aminet_0794:Aminet/util/libs
QDIR Aminet_0794:Aminet/util/misc
QDIR Aminet_0794:Aminet/util/moni
QDIR Aminet_0794:Aminet/util/mouse
QDIR Aminet_0794:Aminet/util/pack
QDIR Aminet_0794:Aminet/util/rexx
QDIR Aminet_0794:Aminet/util/shell
QDIR Aminet_0794:Aminet/util/virus
QDIR Aminet_0794:Aminet/util/wb
