; Configuration for the Fido File Request Server 2.00
;
; Frontiers BBS (716)/823-9892!

; My Node Address

NODE 1:260/121.0

; Logfile of FFRS events (from building indexes to actual FREQ's)

LOG SysData:Log/FFRS

; Loglevel (0=None, 3=Extreme; 1=Suggested)

LOGLEVEL 1

; Path to Nodelist

NODELISTPATH NODELIST:

; This text file is placed at the beginning of the request report

HEADER FREQ:!Header

; This text file is placed at the end of the request report

FOOTER FREQ:!Footer

; This text file is added to request report in the event an error should
; occurs(ex: file(s) not found, wrong password, over limits, etc.)

ERROR FREQ:!Error

; Enable this if you want to use your own request report, or the one by
; Andreas Schildbach (2:246/46) included in this archive, else the default
; report will be created.

; REPORT FREQ:Configs/Schildbach.report

; Path to the FFRS Index Data file "FFRS.index".

DATAPATH FREQ:

; Path to store FFRS Report Packets

PKTPATH OUTBOUND:

; The maximum number of files one user can request each 24 hours

MAXFILES 99

; The maximum time one user can request each 24 hours

MAXTIME 40

; Search for files in the index ONLY.

INDEXONLY

; CNET Version 3.xx

CNET3xx

; Outbound directory

OUTBOUND OUTBOUND:

; Send this free file with each request

DEFAULTSEND FREQ:!Frontiers

; These lines define your MAGIC names...
;
; MAGIC <name> FILE <filename> [PASSWORD <password>] [FREE]

MAGIC FILES         FILE FREQ:FR_FILES.LHA           FREE
MAGIC DFILES        FILE FREQ:FR_DFILES.LHA          FREE
MAGIC CFILES        FILE FREQ:FR_CFILES.LHA          FREE
MAGIC AFILES        FILE FREQ:FR_AFILES.LHA          FREE
MAGIC IFILES        FILE FREQ:FR_IFILES.LHA          FREE

MAGIC BBS_STATS     FILE 2DOT:BBS-Stats_v4_0b2.LHA   FREE
MAGIC CALL_LOG      FILE 2DOT:Call_Log_v3_0.LHA      FREE
MAGIC ATM_BANK      FILE 2DOT:ATM_BANK_v2_2.LHA      FREE
MAGIC GETUSERSP     FILE 2DOT:GU30_Package.LHA       FREE
MAGIC GETUSERS      FILE GFILES:SYSOPS/GETUSERS.LHA  FREE
MAGIC LEXICON       FILE 2DOT:LEXICON.LHA            FREE
MAGIC LOGACTS       FILE 2DOT:LogActs_v3_2.LHA       FREE
MAGIC MURDER        FILE 2DOT:MurderMotel_v1_5.LHA   FREE
MAGIC VIEW_LOG      FILE 2DOT:View_Log_v4_1.LHA      FREE
MAGIC WOF           FILE 2DOT:WOF_v????.LHA          FREE
MAGIC BBSTEXTHELP   FILE CNET:bbstext.HELP!          FREE
MAGIC TOOLKIT       FILE 2DOT:CNet_ToolKit_v2_0.LHA  FREE
MAGIC TOOLKITFIXES  FILE 2DOT:CNet_ToolKit_v2FIX.LHA FREE

; FFRS and FFRI look for files in these directories
;
; DIRECTORY <Full Path> [PASSWORD <password>] [FREE]

DIRECTORY pfiles:fido/
DIRECTORY cnet:

DIRECTORY UDBase0:CNet_Dotoran/
DIRECTORY UDBase0:CNet_Dotoran2/
DIRECTORY UDBase0:CNet_Networking/
DIRECTORY UDBase0:CNet_Pfiles/
DIRECTORY UDBase0:CNet_Gfiles/
DIRECTORY UDBase0:CNet_Updates/

DIRECTORY UDBase0:Amiga_Games/
DIRECTORY UDBase0:Amiga_Graphics/
DIRECTORY UDBase0:Amiga_Music/
DIRECTORY UDBase0:Amiga_Music_Players/
DIRECTORY UDBase0:Amiga_Terminals/
DIRECTORY UDBase0:Amiga_Utilities/

DIRECTORY UDBase0:Commodore_64_Files/
DIRECTORY UDBase0:FIDONEWS/
DIRECTORY UDBase0:HUBSTUFF/
DIRECTORY UDBase0:NODEDIFF/

DIRECTORY UDBase0:IBM_Games/
DIRECTORY UDBase0:IBM_Graphics/
DIRECTORY UDBase0:IBM_Terminals/
DIRECTORY UDBase0:IBM_Utilities/
DIRECTORY UDBase0:IBM_Windows_Games/
DIRECTORY UDBase0:IBM_Windows_Utility/

DIRECTORY GFILES:Funny_Files/BastardOperator/
DIRECTORY GFILES:Funny_Files/BBS_Etiquette/
DIRECTORY GFILES:Funny_Files/Bumper_Snickers/
DIRECTORY GFILES:Funny_Files/Fun_Files_1/
DIRECTORY GFILES:Funny_Files/Fun_Files_2/
DIRECTORY GFILES:Funny_Files/Fun_Files_3/
DIRECTORY GFILES:Funny_Files/Fun_Files_4/
DIRECTORY GFILES:Funny_Files/Fun_Files_5/
DIRECTORY GFILES:Funny_Files/Star_Trek_Parodies/
DIRECTORY GFILES:BBS_Numbers/
DIRECTORY GFILES:Miscelaneous/
DIRECTORY GFILES:SysOps/

DIRECTORY PFILES:Fido/

; End of "ffrs.cfg" file!
