/*  Simple Logoff.trans for millenium handling.
    BBS:utils/Userlast.rexx must be present.
 */

options results

userinfo 'a'   ; username=result
systeminfo '8'; bbsline=result

/*--- Write current date to user file line 9 (date of last call) ---*/
string='rx BBS:utils/userlast.rexx '||bbsline||':w:'||username
address command string

return

