
#xprzmodem.library		; 1st line = library name. Note '#' char!
TN,OR,E20,DN,SN,B64		; 2nd line Send Init string
TN,OR,E20,RN,KY,B1	; 3rd line Receive Init string (Minus Receive directory *1)
Zmodem				; Text Description for display purposes.
Y			; 'Y' or 'N' char to indicate if protocol is a BATCH one. *1
P			; Received files output directory character(s).

#xprymodem.library
YS,C1,Z1,B0
YS,C1,Z1,B0
Xmodem
N
O

#xprymodem.library
YS,C1,Z1,B1
YS,C1,Z1,B1
Xmodem-1k
N
O

#xprymodem.library
YB,C1,Z1,B0
YB,C1,Z1,B0
Ymodem
Y
O

#xprymodem.library
YB,C1,Z1,B1
YB,C1,Z1,B1
Ymodem-1k
Y
O

#xprymodem.library
YG,C1,Z1,B1
YG,C1,Z1,B1
Ymodem-g
Y
O

#xprzedzap.library
TN,OR,E20,DN,SN,RN,KY,B24
TN,OR,E20,DN,SN,RN,KY,B8
ZedZap
Y
P

