######################################################
EXTENSION= .LHA
         = C:LHA a %F ConnectLine:Prefs/AH-Wichtig.exe
         = C:LHA e %F FILE_ID.DIZ %T
         = C:lha t %a
         = LHA-aRCHIVE
         = OFF
LINEADD  = %x- -<%r[%s uPpeD bY %U %r]%x>- -
######################################################
EXTENSION= .LZX
         = C:LZX a %F ConnectLine:Prefs/AH-Wichtig.exe
         = C:LZX e %F FILE_ID.DIZ %T
         = C:lzx t %a
         = LZX-aRCHIVE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .DMS
         = -
         = C:DMSDescript x %T/FILE_ID.DIZ %F
         = C:dmstest %a
         = DMS-aRCHIVE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .ZIP
         = -
         = UNZIP -p %F FILE_ID.DIZ >%T/FILE_ID.DIZ
         = -
         = ZIP-aRCHIVE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .HQX
         = -
         = -
         = -
         = hEX-bIN dATEI (mAC)
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .SIT
         = -
         = -
         = -
         = sTUFFiT-aRCHIVE (mAC)
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .JPG
         = -
         = -
         = -
         = jPEG-pICTURE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .GIF
         = -
         = -
         = -
         = gIF-pICTURE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .PCX
         = -
         = -
         = -
         = pCX-pICTURE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .IFF
         = -
         = -
         = C:checkilbm %A
         = iFF-pICTURE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .ZOO
         = ZOO -add %F ConnectLine:Prefs/AH-Wichtig.exe
         = ZOO -extract %F FILE_ID.DIZ %T
         = C:ZOO -test %a
         = ZOOM-aRCHIVE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .MOD
         = -
         = C:Modcheck %F %T/FILE_ID.DIZ
         = C:modcheck %a
         = sOUND-mODULE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .TXT
         = -
         = c:TXTEXTRACT e %T/FILE_ID.DIZ %F
         = -
         = aSCII-tEXT
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .NFO
         = -
         = c:TXTEXTRACT e %T/FILE_ID.DIZ %F
         = -
         = aSCII-tEXT
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
######################################################
EXTENSION= .ARJ
         = -
         = C:UNARJ e %F FILE_ID.DIZ %T
         = -
         = ARJ-aRCHIVE
         = OFF
         = %x- -<%r[%s uPpeD bY %U %r ]%x>- -
