#?mr.noname#?
bECAUSE yOURE fUCKIN bBS`eS hACKER!!!
#?bomb#?jack#?
i dON`T lIKE bBS`eS hACKERS aND dUDEZ lIKE yA!!!
#?gary#?&#?wyatt#?
pISS oFF fROM hERE yOU fUCKIN bBS`eS hACKER!!!
#?smallangel#?
bECAUSE yOU`rE fUCKIN sPY!!!
#?snakelas#?
bECAUSE yOU`rE fUCKIN sPY!!!
#?winchester#?
bECAUSE yOU`rE fUCKIN sPY!!!
#?pentrel#?
bECAUSE yOU`rE fUCKIN sPY!!!
