BBS
T:
N

;This line contains ID of your BBS, this shouldn't be longer than 3 or 4 characters
;This is a name of temporary directory. It must end with ':' or '/'.
;Y/N switch which allows users to download list from password protected confernces in All Confs mode
