#
#         Example configuration file for ArcMaster
#

# In every command string, the %f is current entry's filename. The %l will
# be replaced by the number of lines in terminal. %d is the destination
# specified in DEST command line argument (doesn't have to be pathname).
# Also %a will be replaced by the filename of the ORIGINAL archive. %s is
# a special code, and it has different meaning in different command strings.


# Command string to copy/upload new archive and invidual extracted files.
# The %s is the source filename. Source file must not be removed by this
# command.

Upload: Copy %s %d QUIET NOREQ

# Extension used in archives and then command
# string to extract whole archive to current directory.

Unpack: .lha lha x -m -q %a
Unpack: .lzh lha x -m -q %a
Unpack: .zip unzip -q %a
Unpack: .arc arc xn %a
Unpack: .arj unarj x %a
Unpack: .zoo zoo -extract %a

# File extension used and command string to pack whole directory and 
# all files in it's subdirectories in archive %s.

Pack: .lha lha a -r -m -q %s #?
Pack: .zip zip -r -q %s #?

# Maximum size of the archive to be unpacked in kilobytes.
# If 0 is specified then archives of all sizes are allowed.

MaxArcSize: 0

# How much work space must be free. Specified in number of times
# to archive size. For example, if 3 is specified, then to unpack
# an archive of 100k there must be 300k of free space in work dir.
# If 0 is specified then work space is not checked.
# NOTE: If RAM drive is used as work space, you MUST specify 0.

WorkSpace: 0

# If you wan't ArcMaster to completely remove it's work directory,
# specify yes to the following. If no is specified, then
# ArcMaster only deletes all contents of the work directory, not
# the directory itself.

DeleteWorkDir: yes

# Here are definitions for external commands. First is the
# key to use ("!" means RETURN) and then follows mask required
# for the command.
#
# "*" mask tells that the command can be always executed by anyone.
# Otherwise, ArcMaster must have been started with the same MASK
# command line argument to run the command.


# Command to view text files with RETURN key, and then a command to view
# online help guide. Both should be always available.

Exec: ! * MoreText %f LINES %l
Exec: h * MoreText HELP:English/ArcMaster.guide LINES %l STARTNODE usage
