Zeus:Text/Games/SpaceNews.hlp
Zeus:Text/Games/OldSpaceNews.hlp
Zeus:Text/Games/SpaceScores.hlp
Zeus:Text/Games/SpaceHiScores.hlp
4
400000
120
10
6
8500
1500
7
Format of this file:
1st line is the Name of the News file
2nd line is the name of the old news file
3rd line is the name of the scores file
4th line is the name of the hiscores file
5th line is the number of turns per day
6th line is the score to become Space Lord
7th line is the number of planets before end of protection
 8th line is the base interest rate     (   0 to 20 %)
 9th line is the variable interest rate (   0 to 20 %)
10th line is the ore base amount        (1000 to 10000)
11th line is the food base amount       ( 100 to 2000)
12th line is the defense base amount    (   1 to 8)
13th line is the number of days of news to save ( 1 to 15 )

This file must be placed in a directory and the command for executing
Space Empire as a door must be:

#door SE space cit:doors anyone modem unlimited
 The New Version of Space Empire
 "%d" cit:doors/spac/ <ctdlaux: >ctdlaux:

You must add this to your ctdlconfg.sys file and reconfigure.  This door
will not work locally from citadel, but you can run it from CLI with
the command:

 SPACE "Username" cit:doors/spac/

You must use the same user name all the time.  Upper and Lower case do
not matter in the user name.  Space Empire will create all the files it
needs.  The two parameters are the Username and the directory.

This game is setup to work as a Citadel 68K door.  You must have the ctdlaux:
device(included in the archive) to run this program as a door.  It will
run locally in a shell window.


