; Blitzlist config for BackYard BBS A64 filelists - 27/6/96
SAVETEXT BBS:Filelists/A64.txt
ARCHIVETEXT BBS:Filelists/A64.lzx
DELETETEXT
ANSIFILES
TEXTHEADER BBS:Config/BlitzList/A64.header
TEXTFOOTER BBS:Config/BlitzList/Default.footer
BLANKTEXT
;Guide
SAVEGUIDE BBS:Filelists/A64.guide
ARCHIVEGUIDE BBS:FileLists/A64Guide.lzx
DELETEGUIDE
GUIDEHEADER BBS:Config/BlitzList/A64.header
GUIDEFOOTER BBS:Config/BlitzList/Default.footer
BLANKGUIDE
ARCHIVECOMMAND LZX -X0 a
;FILEIDDIZ
;
; List of directorys to scan.
;
Directory files:A64-Games/
Directory files:a64-Support/
