; BlitzList config file for BackYard All files. 27th-June-1996
;
; Text Config
SAVETEXT BBS:Filelists/Files.txt
ARCHIVETEXT BBS:Filelists/Files.Lzx
DELETETEXT
ANSIFILES
TEXTHEADER BBS:Config/BlitzList/All.Header
TEXTFOOTER BBS:Config/BlitzList/Default.footer
BLANKTEXT
;
; Guide Config
;
SAVEGUIDE BBS:Filelists/Files.guide
ARCHIVEGUIDE BBS:Filelists/FilesGuide.lzx
DELETEGUIDE
GUIDEHEADER BBS:Config/BlitzList/All.Header
GUIDEFOOTER BBS:Config/BlitzList/Default.footer
;BLANKGUIDE
;
; New Config
;
NEWTEXTFILE BBS:FileLists/NewFiles.txt
ARCNEWTEXT BBS:FileLists/NewFiles.lzx
DELETENEW
;ANSINEWFILES    
NEWHEADER BBS:Config/BlitzList/New.Header
NEWFOOTER BBS:Config/BlitzList/Default.footer
NEWGUIDEFILE BBS:FileLists/NewFiles.guide
ARCNEWGUIDE BBS:FileLists/NewGuide.lzx
DELNEWGUIDE
NEWFILEDAYS 1
BLANKNTEXT
;BLANKNGUIDE
;
; General Config Stuff
;
ARCHIVECOMMAND LZX -X0 a
FILEIDDIZ
; This is configured to run the example afterlist script that calls spot
; and has the argument of the echoname to post newlist into.
AFTERLIST BBS:ZScripts/FileList.Spot NEWFILES
;TEXTARGUMENT
;GUIDEARGUMENT
;We will pass the name of the newfiles list text file with this argument.
NEWTEXTARGUMENT
;NEWGUIDEARGUMENT
;ARCTEXTARGUMENT
;ARCGUIDEARGUMENT
;ARCNEWTARGUMENT
;ARCNEWGARGUMENT
;
; Directory List
;
Directory Files:Programming-Oberon/
Directory Files:Virus-Killers/
Directory Files:Datatypes/
Directory Files:CU-Pd_Utils/
Directory Files:CU-Pd_Scene/
Directory Files:Film-Portraits/
Directory Files:Arexx-Scripts/
Directory Files:Music-Players/
Directory Files:BBS-Doors/
Directory Files:BBS-Games/
Directory Files:Terminal-Programs/
Directory Files:Artwork-Gif/
Directory Files:Artwork-Jpeg/
Directory Files:Artwork-IFF/
Directory Files:Icon-Tools/
Directory Files:A64-Games/
Directory Files:Programming-Assembler/
Directory Files:DirectoryOpus-Support/
Directory Files:Pink-Floyd-Art/
Directory Files:Pink-Floyd-Lyrics/
Directory Files:Zeus-Doors/
Directory Files:Zeus-Games/
Directory Files:Arexx-Support/
Directory Files:a64-Support/
Directory Files:Animations/
Directory Files:ClipArt/
Directory Files:Amiganet-Nodelists/
Directory Files:MiggyByte-Magazines/
Directory Files:Programming-Amos/
Directory Files:Ansi-Support/
Directory Files:Amiga-Report-Magazine/
Directory Files:Artwork-Misc/
Directory Files:BackYard-Babes/
Directory Files:BackYard-System/
Directory Files:Barnet-Stuff/
Directory Files:BBS-Software/
Directory Files:BBS-Support/
Directory Files:Programming-Blitz/
Directory Files:Programming-C/
Directory Files:Film-Scripts/
Directory Files:Cli-Programs/
Directory Files:Comms-Programs/
Directory Files:Compression-Tools/
Directory Files:Demos-Galleria/
Directory Files:Disk-Tools/
Directory Files:Programming-E/
Directory Files:Emulation-Section/
Directory Files:FidoNet-News/
Directory Files:Font-Fontage/
Directory Files:Game-Fixes/
Directory Files:Games/
Directory Files:GMS-Support/
Directory Files:Graphics-Tools/
Directory Files:Workbench-Novelty/
Directory Files:Icon-Compendium/
Directory Files:Internet-Tools/
Directory Files:Jason-Artwork/
Directory Files:MailManager-Support/
Directory Files:Music-Modules/
Directory Files:Music-Tools/
Directory Files:Amirc-Support/
Directory Files:Patches-and-Updates/
Directory Files:Pointing-Files/
Directory Files:Programming-Other/
Directory Files:Region25-Nodelists/
Directory Files:Sound-Samples/
Directory Files:Spectrum-Files/
Directory Files:Spot-Scripts/
Directory Files:Spot-Support/
Directory Files:Term-Support/
Directory Files:Text-Files/
Directory Files:Text-Editors/
Directory Files:Trapdoor-Support/
Directory Files:Workbench-Programs/
Directory Files:Worm-Levels/
Directory Files:PlayStation_Stuff/
