; BlitzList config file for listing my PlaySid files - 16th February, 1997
SYSTEMADDRESS NoBBS
SAVETEXT BackUp:List.txt
ARCHIVETEXT BackUp:List.lzx
DELETETEXT
ANSIFILES
TEXTHEADER BB2:My-Code/BlitzList/Config/BlitzList.header
TEXTFOOTER BB2:My-Code/BlitzList/Config/Default.footer
BLANKTEXT
;Guide
SAVEGUIDE Backup:List.guide
ARCHIVEGUIDE BackUp:ListGuide.lzx
DELETEGUIDE
GUIDEHEADER BB2:My-Code/Blitzlist/Config/BlitzList.header
GUIDEFOOTER BB2:My-Code/Blitzlist/Config/Default.footer
BLANKGUIDE
ARCHIVECOMMAND LZX -X0 a
;FILEIDDIZ
Directory Work:Music/PlaySid/Ben_Daglish
Directory Work:Music/PlaySid/Chris_Huelsbeck
Directory Work:Music/PlaySid/David_Whittaker
Directory Work:Music/PlaySid/Fred_Gray
Directory Work:Music/PlaySid/Jeroen_Tel
Directory Work:Music/PlaySid/Jonathan_Dunn
Directory Work:Music/PlaySid/Maniacs_of_Noise
Directory Work:Music/PlaySid/Mark_Cooksey
Directory Work:Music/PlaySid/Martin_Galway
Directory Work:Music/PlaySid/Martin_Walker
Directory Work:Music/PlaySid/Matt_Gray
Directory Work:Music/PlaySid/Rob_Hubbard
Directory Work:Music/PlaySid/Tim_Folin

