; BlitzList config file for BackYard Music files. 27/6/96
SAVETEXT BBS:Filelists/Music.txt
ARCHIVETEXT BBS:Filelists/Music.lzx
DELETETEXT
ANSIFILES
TEXTHEADER BBS:Config/BlitzList/Music.header
TEXTFOOTER BBS:Config/BlitzList/Default.footer
BLANKTEXT
;Guide
SAVEGUIDE BBS:Filelists/Music.guide
ARCHIVEGUIDE BBS:FileLists/MusicGuide.lzx
DELETEGUIDE
GUIDEHEADER BBS:Config/BlitzList/Music.header
GUIDEFOOTER BBS:Config/BlitzList/Default.footer
BLANKGUIDE
ARCHIVECOMMAND LZX -X0 a
FILEIDDIZ
; Directories
Directory files:Music-Modules/
Directory files:Music-Players/
Directory files:Music-Tools/
