; BlitzList config file for BackYard PlaySid files. 27/6/96
SAVETEXT BBS:Filelists/PlaySid.txt
ARCHIVETEXT BBS:Filelists/PlaySid.lzx
DELETETEXT
ANSIFILES
TEXTHEADER BBS:Config/BlitzList/PlaySid.header
TEXTFOOTER BBS:Config/BlitzList/Default.footer
BLANKTEXT
;Guide
SAVEGUIDE BBS:Filelists/PlaySid.guide
ARCHIVEGUIDE BBS:FileLists/PlaySidGuide.lzx
DELETEGUIDE
GUIDEHEADER BBS:Config/BlitzList/PlaySid.header
GUIDEFOOTER BBS:Config/BlitzList/Default.footer
BLANKGUIDE
ARCHIVECOMMAND LZX -X0 a
;FILEIDDIZ
Directory files:PlaySid-A-C/
Directory files:PlaySid-D-F/
Directory files:PlaySid-G-K/
Directory files:PlaySid-L-O/
Directory files:PlaySid-Misc/
Directory files:PlaySid-P-T/
Directory files:PlaySid-U-Z/
