; BlitzList test config file. Used by me for debugging purposes.
;
; Text Config
;SAVETEXT Ram_0:Files.txt
;ARCHIVETEXT Ram_0:Files.Lzx
;DELETETEXT
;ANSIFILES
;TEXTHEADER BB2:My-Code/BlitzList/Config/Test.Header
;TEXTFOOTER BB2:My-Code/BlitzList/Config/Default.footer
;BLANKTEXT
;
; Guide Config
;
SAVEGUIDE Ram_0:Files.guide
;ARCHIVEGUIDE Ram_0:FilesGuide.lzx
;DELETEGUIDE
GUIDEHEADER BB2:My-Code/BlitzList/Config/Test.Header
GUIDEFOOTER BB2:My-Code/BlitzList/Config/Default.footer
BLANKGUIDE
;
; New Config
;
;NEWTEXTFILE Ram_0:NewFiles.txt
;ARCNEWTEXT Ram_0:NewFiles.lzx
;DELETENEW
;ANSINEWFILES    
;NEWHEADER BB2:My-Code/BlitzList/Config/Test.Header
;NEWFOOTER BB2:My-Code/BlitzList/Config/Default.footer
;NEWGUIDEFILE Ram_0:NewFiles.guide
;ARCNEWGUIDE Ram_0:NewGuide.lzx
;DELNEWGUIDE
;NEWFILEDAYS 1
;BLANKNTEXT
;BLANKNGUIDE
;
; General Config Stuff
;
SYSTEMADDRESS 2.250.194.0
;ARCHIVECOMMAND LZX -X0 a
;FILEIDDIZ
; This is configured to run the example afterlist script that calls spot
; and has the argument of the echoname to post newlist into.
;AFTERLIST BBS:ZScripts/FileList.Spot NEWFILES
;TEXTARGUMENT
;GUIDEARGUMENT
;We will pass the name of the newfiles list text file with this argument.
;NEWTEXTARGUMENT
;NEWGUIDEARGUMENT
;ARCTEXTARGUMENT
;ARCGUIDEARGUMENT
;ARCNEWTARGUMENT
;ARCNEWGARGUMENT
;
; Directory List
;
Directory Work:Archives/Comms
Directory Work:Archives/Demo
Directory Work:Archives/Disk
Directory Work:Archives/Graphics
Directory Work:Archives/Programming
Directory Work:Archives/Tools
