; FAX-IT V3.0 Configuration File
;
; All blank lines and lines starting ; may be deleted. All other lines
; must remain in this file in any order with the two line format...
;
;      OPTION
;      SETTING


; The ForceFAX switch will allow any user the opertunity to attempt
; a FAX right away if the FAX line is not in use. If it is, their FAX
; will be tried as soon as it is available. Even if it is not in the
; normal FAX hours or days

ForceFAX
Yes


; The LocalOnly switch will allow or disallow users to send long distance
; FAX mail from your system.
;
; You may allow some users to send long distance and others to send local
; only, but in that case the LocalOnly must be set to "YES"

LocalOnly
Yes


; Place any prefix in the local are in this next string. This is how the
; FAX-IT script knows what is and what is not long distance
 
LocalPrefix
239 461 462 463 464 465 466 467 468 469 472 473 474 475 476 477 478 520 540 546 547 762 823 824 825 858 887 931 941 942 943 944 946 948 951 952 953 956 957 982 983


; If you are going to allow any of your users to send long distance
; FAX mail but not all the users, you must place the access group numbers
; with long distance access in this next variable (
 
AllowLong
-20-31-


; Place some text outlining your normal FAX transmition times in this
; variable

TimeMSG
c6This system sends all FAX messages out Mon-Fri 8am-5pmq1


; This next field will identify the local area code. If the user is
; trying to send out of the local calling area but in this area code,
; the area code will be stripped out of the number to be dialed.
;
; Oregon needs the 503 to be entered even when dialing long distance even
; when calling within the 503 area code so this number must be masked out.
; Your area probably doesn't do this so place your area code here
 
SArea
209


; This is the picture (2 colors only) you would like included in your
; FAX cover page. The \G must be the first 2 characters unless you are
; not going to have any picture.  In that case use SPict = * 
 
SPict
Doors:Fax-IT/GW.IFF

/* The next 4 lines are your little add to be placed on every cover sheet
 * that gets FAXed out from your system
 */

SName
The AfterHOurs Cafe BBS  

SNum
(209) 464-0219 (FAX/BBS line)

SLocal
Stockton, CA USA


; This last line is a quick and SHORT message you want attached to each
; cover sheet that is FAXed out. DO NOT use MCI commands!!!

SMessage
The BEST In Modem Entertainment!
