
; Yeah, now this is a cool door,  it an uploaded file name matches an
; "AwardFile_n" option then the sysop can determine how to add/remove creds
; to a user.
;
; E.G.  Say your board was an LSD HQ :-) and you wanted to give a user *3 credits
; for each file that started with the letters "LSD" then you'd set this up:
;
; AwardFile_1=LSD#?
; AwardOpts_1=*3
; AwardMsg_1=LSD Release/File uploaded! Yeah given you: x3 creds!
; easy huh ??
;
; Note: there must be NO spaces between the = of an option name and the start
; of the options or this door will ignore the commands, likewise there must be no
; spaces between a modifier and a value.. (e.g.  "*3" is ok, but "* 3" is not)
;
; How about:
;
; AwardFile_1=#?
; AwardOpts_1=*2
;
; this would give all users 2x creds for each file!! WOW!!! Cool huh ?
; no more farting about with nukers anymore!! Yeah!..


; Use the option below to determine weither to check all possible filename matches
; or to stop after it has found just one match.

StopOnFirstMatch=NO

; give LSD released 3x creds.

AwardFile_1=LSD#?
AwardOpts_1=*3
AwardMsg_1=LSD Release/File uploaded! Yeah given you: x3 creds!

; remove half the credits if the filename has "LAME" in the middle :-)

AwardFile_2=#?LAME#?
AwardOpts_2=/2

; Give 1MB creds for each part of any HBBS alpha release..

AwardFile_3=HBBS#?
AwardOpts_3=+1000000
AwardMsg_3=HBBS Stuff, Cool, 1MB extra awarded

; remove 3MB creds for each file released by Maniacs :-) heheheeeeee

AwardFile_4=MNC#?
AwardOpts_4=-3000000
AwardMsg_4=Maniacs are LAME, 3MB creds REMOVED!

;AwardFile_5=#?
;AwardOpts_5=*2
