; LogStats.script 1.2
;
; By Peter Deane
;
; last updated 9 December 1994 at 5:02 am

ECHO "Running LogStats"
ECHO ""

BBS:midnight/Logstats BBS:Textfiles1/Text_505

Copy "BBS:Textfiles1/Text_505" to BBS:BBSFILES/bye.asc

ECHO "LogStats completed"
ECHO ""

