0
10
\c5
\c6
\cf
\cc
1

first line  =  0 for Numeric representation, 1 is for BarGraph.
second line = Number of Top Users to display, 10 = top TEN users (may be as 
              large as you wish).

 NOTE: if you aren't enabling the bargraph, divide the number of top users
       you wish displayed by 2 and use that number.
       (ie. a top "10" with line 1 set to "0" would require a "5" on line 2)

           (the lines below are currently ONLY used for ALL 80 
          column outputs and only the 40 column BARGRAPH display)
Third line  = color for odd numbered bars in bargraph display (1st, 3rd etc,..)
Fourth line = color for even numbered bars in display (2nd, 4th, etc,..)
fifth line  = color for handle in display.
sixth line  = color for MB/message count in display.
seventh line= enable Top Selection Listing. (Sysdata:Top20Select)
              if Top20Choice is installed.  1 = YES, 0 = NO
