/* Emp.Config by Crazy Cad 7-26-92 - Last Modified 7-15-93 by WP!!! */
/* Read Emp.Readme1 for more detailed info about editing this file! */
Ver='v2.80'                     /* Empire Version */
PATH.1='Pfiles:Emp/Players/'    /* Path name for Empire player files */
PATH.2='Pfiles:Emp/'            /* Path name for Empire logs */
PATH.3='Pfiles:Emp/Mes/'        /* Path name for Empire messages */
PATH.4='T:Emp/'                 /* Path name (TEMP) for Empire multiline stats */
PATH.5='Pfiles:Emp/Mail/'       /* Path name for Empire mail */
PATH.6='Pfiles:Emp/files/'      /* Path name for Empire Routines */
PATH.7='T:Emp/Files/'           /* Path name for Empire Routines in RAM */
PATH.0='Pfiles:Emp/Emp.'        /* Path.2 plus Emp. file prefix  */
RAM=1                           /* Copy Path.6 into Ram (0=No, 1=Yes) */
ActiveArmy=15                   /* Min soldiers for attacks (an Active Army) */
ActiveYears=20                  /* # of years an Inactive army is protected */
Kill1=37                        /* Highest % of serfs   -Killed by the KILL */
Kill2=77                        /* Highest % of soldiers -procedure used in */
Kill3=27                        /* Highest % of nobles    -the games EVENTS */
Events=27                       /* Number of Event files (can be more) */
Reset=1                         /* Reset Empire when crowned Emperor (1=Yes/0=No)  */
Memory=128000                   /* Min Bytes free (at all times) for Empire to be played */
Death='220'                     /* Appox number of plays (age) a player will die at. */
Rank.0='Sir'                    /* Rank Names used throughout the game */
Rank.1='Prince'                 /* 0-3 the levels a user can earn */
Rank.2='King'                   /* You can edit these however you like              */
Rank.3='Emperor'                /* Any rank over 3 once set will remain constant    */
Rank.4='Czar'                   /* This is so that the Sysop can be called a Czar   */
Rank.5='King'                   /* Or in my case always be King Crazy Cad...        */
CurCost='25000'                 /* Curse Cost (Change in Emp.Menu2 also)     */
Curse.1='Harvest Hex'           /* Names for the different types of CURSES.. */
Curse.2='Sickness Spell'        /* If you change the name be sure and change */
Curse.3='Soldier Spell'         /* it in Emp.Menu7 also.  These are just the */
Curse.4=' '                     /* names not what they do..                  */
CursSev='4350'                  /* Length of curses 1-9 years for curses 1234 */
UnCurOpt='9'                    /* UnCurse option frequency. 0=Never          */
Harv='x=int(em.5+(min(em.11,50)*min(em.5,10000)*.2)+(min(2500,em.6)*wc))'  /* Harvest routine */
SFeed=20                        /* # of bushels Serfs requires each year */
AFeed=30                        /* # of bushels Army requires each year  */
MaxBPriceL=23                   /* Barbarian's Maximum Buying Price for Land */
MinBPriceL=11                   /* Barbarian's Minimum Buying Price for Land */
MaxSPriceL=49                   /* Barbarian's Maximum Selling Price for Land */
MinSPriceL=19                   /* Barbarian's Minimum Selling Price for Land */
MaxBPriceG=39                   /* Barbarian's Maximum Buying Price for Grain /100 (50 =.05) */
MinBPriceG=16                   /* Barbarian's Minimum Buying Price for Grain /100 */
MaxSPriceG=63                   /* Barbarian's Maximum Selling Price for Grain /100 */
MinSPriceG=23                   /* Barbarian's Minimum Selling Price for Grain /100 */
BOOM=1                          /* DO NOT DELETE (Emp.Config Marker) */
NukeDays=60                     /* # of inactive days before a player is deleted */
Closed='000000000000000000000000' /* Close Empire on which C-NET Ports (0-23) */
s1=0                            /* Shorten Error Log to how many lines   0=No Shortening */
s2=10                           /* Shorten Obituaries to how many lines -1=Delete */
s3=10                           /* Shorten Fighting News to how many lines */
s4=10                           /* Shorten Gambling Log to how many lines */
s5=10                           /* Shorten Play Log to how many lines */
s6=10                           /* Shorten Empire Mail Log to how many lines */
s7=5                            /* Shorten Emperors list (Last XX Emperors) */
UAccess=2                       /* Emp.Util Access (0=Port 0, 1=ID1 , 2=Anyone w/Emp.Util access) */
Memory=250000                   /* Min free bytes of memory for Empire to start */
MinPlayers=2                    /* Min Number of players before Game begins */
